/* ==========================================================================
   HOVERSLIDER STYLES
   ========================================================================== */


.hs-container,
.hs-btm {
	margin: 0px auto;
}

.hs-inner,
.hs-image,
.hs-image-container {
	width: 100%;
	height: 100%;
}

.hs-inner {
	width:8000px;
	position:relative;
	overflow:visible;
}

/* BUGFIX v1.5 prevent to show images while loading the page */

.hs-image {
	display: none;
}

.hs-html {
	position: absolute;
	z-index: 10;
	display: none;
}

.hs-html * {
	position: relative;
	z-index: 15;
}

.hs-bg {
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 11 !important;
}

.hs-image-container {
	width:960px;
	position:relative;
	float:left;
	display:block;
}

.hs-image {
	position: absolute;
	background-position: center center;
}

.hs-btm {
	position: relative;
	display: none;
	top: 4px;
	height: 24px;
}

.hs-shadow {
	position: relative;
	z-index: 1;
}

.hs-slideline {
	position: absolute;
	z-index: 2;
	width: 100%;
	font-size: 0px !important;
	line-height: 0px !important;
}

#main {
	.hs-btm-defaultskin {
		.hs-slider {
			left: 0px;
			position: absolute;
			cursor: pointer;
			&:before {
			border-bottom-color: #dadada;
			}
			&::selection { background-color:transparent; }  
		  &::-moz-selection { background-color:transparent; } 
		}
	}
	.mejs-container {
		background: #F0F0F0;
	}
}

#main{
  .hs-controls {
  	display: inline-block;
  	position: relative;
  	margin: 0 auto;
  	z-index: 3;
  	&:hover{
  	  .hs-slider{
  	    background: #26B6DD;
  	    &:before{
        	border-bottom-color: #26B6DD;
  	    }
  	  }
  	}
  }
}

.hs-controls span {
	display: inline-block;
	height: 100%;
	line-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: default;
	&::selection { background-color:transparent; }  
  &::-moz-selection { background-color:transparent; }
}