.hs-image {
	-ms-behavior: url('http://localhost/awl-rebuild/backgroundsize.min.htc');
	behavior: url('http://localhost/awl-rebuild/backgroundsize.min.htc');
}
.email{
	line-height: 41px;
}         