$gibson: 'gibsonsemibold';
$gibson_regular: 'gibsonregular';
$gibson_light: 'gibsonlight';
$gibson_italic: 'gibsonitalic';
$gibson_lightitalic: 'gibsonlightitalic';
$gibsonsemibold_italic: 'gibsonsemibold_italic';
$tabacg2: 'tabac_g2bold';
$tabacg3: 'tabac_g3regular';
$lightblue: #23a9cd;
$grey: #3d3a3b;
$content_width: 960px;
$common-bg: #F1F0EE;
$common-width: 960px;
$blue: #4BA7CB;


/** RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* header begins here */
.main, #main {
	position: relative;
}
header,#header{
	background: $common-bg;
	display: block;
	min-width: 100%;
	background: #f1f0ee;
	z-index: 9999;
}
#toolbar-sticky-wrapper{
	&.is-sticky{
		 #toolbar{
			background: url('../img/header-pattern.png') 3px 40px repeat-x;
		}
	}	
}
#toolbar{
	width: 100%;
	height: 50px;
	background: url('../img/logo_inline.png') bottom center no-repeat;
	position: relative;
	z-index: 9999;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 22px;
	font-family: $gibsonsemibold_italic;
	letter-spacing: 1px;
	&:after{
	    content: "";
	    display: block;
	    height: 5px;
	    position: absolute;
	    top: 39px;
	    width: 100%;
	    z-index: -1;
	}
	.toolbarInner {
		background: #f1f0ee;
		padding: 0px;
		height: 39px;
	}
	&.toolbarScroll{
		background: url("../img/header-pattern.png") repeat-x scroll 2px 40px transparent;
	}
	&.toolbarScroll:after{
		background: url("../img/main_slider_border_top.png") repeat-x scroll 6px 100% transparent;
	}
	.left{
		margin: 10px 0 0 4px;   
		&#breadcrumb{
			font-family: $gibson_regular;
			font-size: 10px;
			color: #5d5859;
			letter-spacing: 0.06em;
		}
		&#breadcrumb a{
			color: #5d5859;
			padding-right: 13px;
			background: url('../img/icons/breadcrumb_bg.png') right center no-repeat;
			margin-right: 4px;
		}
		a{
			span{
				color: #21a1c4;
				font-family: $gibsonsemibold_italic;			
			}
		}
	}
	.right{
		margin: 0 0 0 0;	
		padding: 10px 0;
		ul{
			float: left;
			li{
				float: left;
				padding-left: 25px;
				margin-left: 20px;
				display: inline-block;
				a{
					color: $grey;
					font-family: $gibson_italic;
				}
				&.top_our_story{
					background: url('../img/our_story.png') 3px 0px no-repeat;
					&:hover{
						background: url('../img/our_story_hover.png') 3px 0px no-repeat;
					}
				}
				&.login{
					background: url('../img/login.png') 0px 3px no-repeat;
					&:hover{
						background: url('../img/login_hover.png') 0px 3px no-repeat;
					}
				}
				&.cart{
					background: url('../img/cart.png') left center no-repeat;
					&.active{
						background: url('../img/cart_hover.png') left center no-repeat;
					}
					&:hover{
						background: url('../img/cart_hover.png') left center no-repeat;
					}
				}
			}	
		}
	}	
}
.shopping_cart_mini{
	width: 237px;
	background: #fff;
	padding-bottom: 71px;
	border-bottom: 16px solid #e1e0de;
	z-index: 9998;
	text-transform: uppercase;
	position: fixed;
	top: 43px;
	margin-right: -480px;
	right: 50%;
	display: none;	
	margin-top:-500px; 
	& > div {
		height: 54px;
		margin: 0 13px;
		border-bottom: 1px dotted #333333;
		font-family: "gibsonlightitalic";
		font-size: 10px;
		line-height: 11px;
		color: #000000;
		letter-spacing: 0.1em;
		position: relative;
	}
	h4{
		font-family: $gibson_regular;
		font-size: 11px;
		line-height: 22px;
		letter-spacing: 0.1em;
		color: #4b4848;
		text-align: center;
		padding: 6px 0;
		margin: 0;
		background: url('../img/shopping_cart_h4.png') center bottom no-repeat;
	}
	.emptyCart {
		text-align: center;
		color: #626057;
		font-size: 16px;
		padding: 30px 10px;
		margin: 0;
		line-height: 20px;
		height: auto;
		border: 0;
		font-family: $gibson_regular;
		text-transform: none;
	}
	.cart-item{
		margin-top: 10px;
		.ico-img{
			position: absolute;
			width: 80px;
			height: 50px;
			display: inline-block;
			left: -13px;
			& img{
				position: absolute;
				width: 100%;
			}
		}
		.shoppingCartRightDet {
			display: inline-block;
			width: 157px;
			position: absolute;
			right: -13px;
		}
	}
}	
#logo-sticky-wrapper{
	&.is-sticky{
		#logo {
			left: 50%;
			margin-left: -132px;
			top: -65px !important;
			width: 264px;
			z-index: 9999;
			a{
				background: url('../img/logo-small.png') center bottom no-repeat;	
			}
		}
	}
}

#logo{
	position: absolute;
	left: 50%;
	margin-left: -132px;
	top: 15px;
	& a{
		color: transparent;	
		text-indent: -9999px;
		z-index: 9999;
		background: url('../img/logo.png') center bottom no-repeat;
		width: 255px;
		height: 97px;
		display: inline-block;
		position: relative;
		margin-left: 9px;
		margin-top: 1px;
	}
}
/* slider begins here */
.hs-image {
	position: absolute;
	background-position: center center !important;
	background-size: cover !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	-o-background-size: cover !important;
}
.hs-image-container .hs-image-page-link {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.about{
	.quote{
		h1.align-left{
			margin: 51px 0 56px 0 ;
			line-height: 55px;
			text-align: left;
			padding-left: 122px;
		}
	}
}
.privacy{
	.main{
		.content{
			width: 100% !important;
			.dot li{
				list-style-type: disc !important; 
			}
		}
	}
}
/* footer begins here */
#footer{
	background: #595850;
	& section{
		padding: 0 4px 15px;
		letter-spacing: 1px;
		& .row{
			width: 208px;
			float: left;
			font-family: $gibson;
			text-transform: uppercase;
			h3{
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 0.14em;
				margin-top: 17px;
				line-height: 24px;
				padding-left: 20px;
			}
			ul{
				li,a{
					color: #dcdacf;
					font-size: 10px;
					line-height: 24px;
				}
				a{
					padding-left: 20px;
				}
				li > a:hover{
					background: url('../img/footer_nav_hover.png') no-repeat;
				}
				span{
					margin-left: 20px;
					float: left;
					margin-top: 3px;
				}
				#socials{
					display: inline-block;
					margin: 3px 0 0 3px;
					a{
						width: 27px;
						height: 21px;
						float: left;
						text-indent: -9999px;
						margin:0 3px 0 0; 
						padding: 0;

					}
					.facebook{
						background: url('../img/icons/facebook.png') center center no-repeat;
						&:hover{
							background: url('../img/icons/facebook_hover.png') center center no-repeat;	
						}
					}
					.twitter{
						background: url('../img/icons/twitter.png') center center no-repeat;
						&:hover{
							background: url('../img/icons/twitter_hover.png') center center no-repeat;
						}
					}
					.pinterest{
						background: url('../img/icons/pinterest.png') 5px 0px no-repeat;
						&:hover{
							background: url('../img/icons/pinterest_hover.png') 0px 0px no-repeat;
						}
					}
					.instagram{
						background: url('../img/icons/instagram.png') 3px 0px no-repeat;
						&:hover{
							background: url('../img/icons/instagram_hover.png') 0px 0px no-repeat;
						}
					}
				}
				
			}
		}
		& .newsletter{
			width: 328px;
			.keeptouchform{
				margin: 7px 0 0 20px;
				.email{
					background: #595850 url('../img/footer_input_bg.png') center center no-repeat;
					border: none;
					width: 248px;
					height: 41px;
					text-indent: 17px;
					font-family: $gibson;
				}
				.email:focus, .email:active{
					background: #fff url('../img/footer_input_bg_hover.png') center center no-repeat;
				    -webkit-border-radius: 6px;
					border-radius: 6px;
				}
				.focused {
					background: url('../img/footer_input_bg_hover.png') !important;
				}
				.submit{
					background: url('../img/footer_button_submit.png') center center no-repeat;
					text-indent: -999999px;
					color: transparent;
					width: 40px;
					height: 41px;
					border: none;
					cursor: pointer;
				}
				.submit:hover{
					background: url('../img/footer_button_submit_hover.png') center center no-repeat;
				}
				.thanksforsignup {
					height: 14px;
					margin: 6px 0 2px;
					h2{
						color: #DCDACF;
						display: none;
						font-size: 10px;
						margin: 0;
					}
				}
			}
		}
	}
	&:before{
		content: '';
		display: block;
		background: url('../img/footer_div.png');
		height: 5px;
		position: relative;
		top: -5px;
	}
	& .bottom{
		padding: 10px 20px 10px 24px;	
		& p,& a{
			display: inline-block;
			color: #DCDACF;
			font-size: 11px;
			line-height: 24px;
			text-transform: none;
			margin: 0;
			font-family: sans-serif;
		}
		& a:hover{
			color: #FFFFFF;	
		}
		& p.float-left{
			float: left;
		} 
		& a.float-right{
			float: right;
			margin: 0 0 0 15px;
		} 
	}
	
}


/* design step styles */

.step_one #preloader,
.step_four #preloader,
.step_five #preloader,
body.cart #preloader{
	display: none !important;
}
.designStep{
	#header{
		height: 39px;
		#toolbar{
			background: url("../img/header-pattern.png") 3px 40px repeat-x;
		}
	}
	#logo, #logo-sticky-wrapper.is-sticky #logo {
		top: 12px!important;
		position: fixed;
		z-index: 99999;
	}
	#logo a{
		height: 20px;
		background: url('../img/logo-small.png') center bottom no-repeat;
	}
	.shape_visualization {
		#vis_buttons {
			border-right: 1px dotted #565656;
			border-left: 1px dotted #565656;
			bottom: 90px;
			color: #565656;
			font-size: 10px;
			height: 29px;
			left: 50%;
			line-height: 29px;
			padding: 0 15px;
			position: absolute;
			text-transform: uppercase;
			width: 146px;
			margin-left: -89px;
			z-index: 9;
			span{
				float: left;
				margin-right: 6px;
				text-indent: 11px;
			}
			.rotate {
				width: 24px;
				height: 27px;
				background: url('../img/icons/popup_rotate_left.png') center center no-repeat;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 6px;
			}
			.rotate.right {
				background: url('../img/icons/popup_rotate_right.png');
				margin: 0 0px 0 1px;
				float: left;
			}
		}
	}
	#menu_left{
		position: absolute;
		//left: 0;
		//top: 41px;
		width: 161px;
		margin-left: 0;
		z-index: 9;
		margin-top: -18px;
		.add_monogram, .remove_monogram {
			*{
				font-family: $gibson;
				letter-spacing: 1px !important;
      			font-size: 16px;
			}
			& > p {
				color: #119fc5 !important;
				font-size: 16px !important;
			}
			& p{
				margin: 0 !important;
			    font-family: $gibson !important;
			    padding: 0;
			    float:left;
			    margin: 5px 0 !important;
			    width: 100%;
			}
			& span{
				font-family: $gibson_regular !important;
				font-size: 13px;
				color: #565656;
			}
			.mbtn {
				display: inline;
				color: #fff;
				text-transform: uppercase;
				font-family: $gibson_regular;
				font-size: 13px;
				padding: 3px 20px;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				cursor: pointer;
			}
			.blue_btn {
				background: #22a8cd;
				float: left;
				margin-top: 3px;
			}
			.black_btn {
				background: #4d4d4d;
				clear: both;
				float: left;
			}

		}
		.add_monogram{
			#size_box {
				width: 100px;
				border: 1px solid #cccbc9;
				border-radius: 5px;
				float: left;
				color: #545253;
				text-transform: uppercase;
				padding: 7px;
				height: 15px;
				line-height: 15px;
				margin-right: 5px;
				font-family: $gibson;
				font-size: 16px;
			}

		}
		.remove_monogram {
			display: none;
		}
	}

	
}
.createNewContainer, .choseShapeDetailInner {
	.headline{
		font-family: $tabacg3;
		font-size: 18px;
		padding:15px 0;
		text-align: center; 
		color: #565656;
		span{
			color: $blue;
			font-family: $tabacg2;
			background: url('../img/icons/blue_arrow_right.png') right center no-repeat;
			padding-right: 20px;
			margin-right: 12px;
		}
	}
}
.createNewContainer{
	#stepMain{
		/*height: 144px;*/
		z-index: 99;
		width: 100%;
		background: #F1F0EE;
		padding-top: 14px;
		left: 0;
		.wrapper{
			overflow: visible;
		}
		.createNewNav {
			position: relative;
			li{
				float: left;
				display: inline-block;
				width: 188px;
				text-align: center;
				height: 48px;
				margin: 0 0 0 5px;
				a{
					color: #818181;
					height: 48px;
					line-height: 48px;
					display: block;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					z-index: 999;
					font-size: 14px;
					span{
						background: url('../img/icons/black_arrow_right.png') left center no-repeat;
						width: 183px;
						height: 48px;
						display: inline-block;
						
					}
				}
				a.active,a.hover{
					background: url('../img/createNew_links_bg_hover.png') 0 -2px no-repeat;
					height: 88px;
					width: 224px;
					position: absolute;
					margin-left: -34px;
					padding-left: 34px;
					span{
						background: none;
					}	
				}
				a.no-bg{
					cursor: default;
				}
			}
			li:first-of-type{
				margin: 0 0 0 0 !important;
				span{
					background: none;
				}
			}
			.progressBar {
				bottom: -18px;
				height: 5px;
				left: 5px;
				position: absolute;
				background: url('../img/progress_bar.png') repeat-x;
			}
		}
		.stepFlowBar {
			height: 15px;
			background: #E1E0DE;
			margin-top: 8px;
		}
	}
} 
.step_one #design_main_links, 
.step_two #design_main_links,
.step_three #design_main_links,
.step_four #design_main_links{
	display: none ;
}
.step_four .shoe_details_inner{
	display: none;
}
.step_one{ 
	#vis_buttons{
		bottom: 20px !important;
	}
	#stepMain {
		padding-bottom: 5px;
		background: #F1F0EE url('../img/patterned_rule912.png') center bottom no-repeat;
		.createNewNav .progressBar {
			width: 90px;
		}
	}
	.visualImgWrap img {
		width: 110% !important;
		margin-top: -45px;
	}
}
.basicStyleContainer{
	width: 912px;
	margin: auto;
	min-height: 430px;
	.no-item {
		background: url(../img/coming_soon.png) 0px -4px no-repeat;
		li:hover{
			background: none !important;
			cursor: default !important;
		}
	}
	.basicStyleBox {
		background: url(../img/shape_bg.png) repeat;
		margin: 0px 16px 0 0;
		float: left;
		h2{
			color: #565656;
			font-family: $tabacg2;
			font-size: 14px;
			letter-spacing: 0.03em;
			margin: 5px 0;
			text-align: center;
			.q_symbol {
				width: 14px;
				height: 14px;
				margin-top: -4px;
				cursor: pointer;
			}

		}
		.shapeTypeList li{
			display: block;
			height: 89px;
			position: relative;
			text-align: center;
			width: 169px;
			cursor: pointer;
			margin-bottom: 4px;
			& img{
				width: 100%;
				height: 100%;
				margin-bottom: 8px;
			}
			& img.active{
				display: none;
				width: 100% !important;
				height: 122% !important;
			}
			span{
				bottom: 5px;
				color: #565656;
				display: inline-block;
				font-family: $gibson_italic;
				font-size: 11px;
				font-weight: normal;
				letter-spacing: 0.09em;
				line-height: 13px;
				margin: 0;
				position: absolute;
				right: 0;
				text-align: center;
				text-transform: uppercase;
				width: 100%;

			}
		}
		.shapeTypeList li:hover img.active {
			display: inline-block;
			z-index: -1;
		}
		.shapeTypeList li:hover{
			background: url("../img/closure_hover.png") no-repeat scroll center top transparent;
		}
		.shapeTypeList li:hover img {
			display: none;
		}
		.shapeTypeList li:hover .imgShap {
			height: 65px;
			margin: 4px;
			cursor: pointer;
			position: relative;
			top: 5px;
			overflow: visible;
		}
		.shapeTypeList li:first-child {
			margin-left: 0;
		}
	}
	.lastShapeBox:last-of-type {
		margin-right: 0;
	}	

} 

.designStep .shape_popup {
	display: none;
	height: 0;
	position: fixed;
	top: 15px;
	width: 960px;
	z-index: 9997;
	background: #f1f0ee;
}
.designStep .colors_popup{
    display:none;
    height: 120px;
    position: fixed;
    //top: 90px;
    width: 960px;
    z-index: -1;
    //right: 19.25%;
    //left: auto !important;
    //margin-left: auto !important;
    overflow: visible;
    .colorsMenuWrap {
        position: absolute;
        right: 0;
        top: 68px;
        width: 168px;
        overflow: visible;
        .color_menu {
            margin: 0 0 0 10px;
            padding: 0;
            list-style: none;
            float: right;
            width: 73px;
            height: 48px;
            overflow: visible;
            & a{
            	font-family: $gibson;
            	font-size: 13px;
				color: #565656;
				line-height: 12px;
				text-transform: lowercase;
				font-variant: small-caps;
				background: url('../img/lacing_bg.png') center top no-repeat !important;
				display: inline-block;
				padding: 18px 10px 6px 5px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
            }
            & ul{
				margin: 1px 0 0;
				padding: 2px 1px 8px;
				position: relative;
				border-top: 1px dotted #565656;
				//background: url('../img/swatches_bg.png') center bottom no-repeat;
				background: url('../img/swatches_bg.png') no-repeat;
				display: none;
				width: 71px;
				li{
					display: inline-block;
					text-align: center;
					padding: 0 3px 2px 0;
					background: #FFF;
					float: left;
					position: relative;
					.color-elem {
						height: 25px;
						width: 29px;
						border: 1px solid #CCC;
					}
				}
				li:nth-child(2n+1) {
					padding-left: 3px;
				}
            }
        }
        .color_menu.dropdown ul {
			display: inline-block;
        }

    }
}
/*	&:after{
		background: url("../img/icons/pattern_bar960.jpg") no-repeat scroll left center transparent;
		bottom: 0;
		content: " ";
		height: 16px;
		position: absolute;
		width: 100%;
		display: table;
		z-index: 9;
	}*/
	.step_one .shape_visualization{
		background: #fff;
		height: 474px; /* 428px*/
		position: relative;
		text-align: center;
		width: 776px;
		float: left;
	}
	.designStep {

		.shape_visualization{
			min-height: 494px; /* 428px*/
			position: relative;
			.visualImgWrap {
				margin: auto;
				width: 708px;
				min-height: 400px;
				position: relative;
				top: -20px;
				& img{
					width: 110%;
					z-index: 1;
					cursor: move;
				}
				& img#error{
					display: none !important;
				}
				& img.float-top{
					position: absolute;
					top: 0;
					//height: 100%;
					margin-top: 0 !important;
				}
			}
			#thumb_wrapper {
				height: auto;
				position: relative;
				bottom: 80px;
				margin: 0 auto;
				width: auto;
				display: inline-block;
				overflow: visible;
				.thumbs {
					width: 420px;
					height: auto;
					float: left;
					margin-left: 30px;
					.thumbs_list{
						float: left;
						& li{
							width: 90px;
							height: 50px;
							margin-right: 10px;
							float: left;
							background: #fff;
							cursor: pointer;
							border: 1px solid #ccc;
							box-sizing: border-box;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							img{
							    margin-top:5px;
							    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
							    filter: alpha(opacity=50);
							    opacity:0.5;
							}
							span{
								position: absolute;
							    background: #2B2B2B;
							    color: #FFF;
							    font-size: 12px;
							    font-family: gibsonregular;
							    border-radius: 4px;
							    -webkit-border-radius: 4px;
							    top: -30px;
							    //left: 50%;
							    width: 70px;
							    margin-left: 8px;
							    padding: 2px 0;
							    display:none;
							}
							span:after{
								border-left: 7px solid rgba(0, 0, 0, 0);
							    border-right: 7px solid rgba(0, 0, 0, 0);
							    border-top: 7px solid #2B2B2B;
							    border-bottom: none;
							    content: "";
							    position: absolute;
							    bottom: -7px;
							    left: 50%;
							    margin-left: -5px;
							}
						}
						& li:hover > img, & li.active > img{
							-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
							filter: alpha(opacity=100);
							opacity:1;
						}
						& li:hover > span{
							display:block;
						}
					}
				}
				.nextLast {
					float: left;
					display: inline-block;
					width: 150px;
					background: #f8f8f8;
					height: 50px;
					border: 1px dotted #4ba7cb;
					border-radius: 5px;
					-webkit-border-radius: 5px;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
					line-height: 50px;
					color: #000;
					 font-family: gibsonregular;
				}
				.nextLast:hover {
				    color:#4ba7cb;
				}
				.control{
				    -webkit-background-size:70px !important;
				    background-size:70px !important;
				    width: 40px;
					height: 50px;
					display: block;
				}
				#next {
					float: right;
					background: url('../img/icons/arrows.png') no-repeat right center;
				}
				#prev {
					float: left;
					background: url('../img/icons/arrows.png') no-repeat left center;
				}
			}

		}
		.choseShapeDetailRight {
			width: 170px;
			float: right;
			padding-left: 14px;
			height: 494px;
			background: url("../img/shape_bg.png") ;
			color: #4c4c4c;
			.shoe_details{
				.item-title{
					font-family: $tabacg2;
					font-size: 16px;
					margin: 12px 0 5px 0px;
					text-transform: capitalize;
				}
				.item-type{
					font-family: $gibson_regular;
					font-size: 14px;
					font-variant: small-caps;
					text-transform: lowercase;
					letter-spacing: 0.06em;
				}
				.item-desc{
					font-family: $tabacg3;
					font-size: 11px;
					margin: 15px 10px 0 0;
				}
				#price_div{
					font-family: $gibson;
					font-size: 9px;
					.symbol{
						font-size: 18px;
						vertical-align: top;
						line-height: 30px;
					}
					.price{
						font-size: 24px;
					}
					.shipping{
						display: inline-block;
						font-variant: small-caps;
						letter-spacing: 0.1em;
						line-height: 10px;
						padding-left: 4px;
						text-transform: lowercase;
						width: 96px;
						big{
							color: #22a9cd;
						}
					}
				}
			}
			#continue_btn{
				font-family: $gibson_regular;
				font-size: 17px;
				background: #fff url("../img/icons/create.png") center 8px no-repeat;
				background-size: 26px;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				display: inline-block;
				position: absolute;
				width: 156px;
				height: 70px;
				text-align: center;
				line-height: 100px;
				top: 395px;
				cursor: pointer;
			}
			#continue_btn:before{
				width: 0;
				height: 0;
				position: absolute;
				content: "";
				margin: 7px 0 0 -12px;
				border-left: 19px solid transparent;
				border-right: 0px solid;
				border-top: 0px solid;
				border-bottom: 19px solid transparent;
				left: -7px;
				top: -3px;
			}
			#continue_btn:after{
				width: 0;
				height: 0;
				position: absolute;
				content: "";
				border-left: 19px solid transparent;
				border-right: 0px solid transparent;
				border-top: 0px solid transparent;
				border-bottom: 19px solid transparent;
				right: 3px;
				top: inherit;
				top: 70px;
				display: block;
			}	
			#continue_btn:hover{
				-webkit-box-shadow: -19px 19px 6px 0 rgba(207, 207, 207, 0.75);
				box-shadow: -19px 19px 6px 0 rgba(207, 207, 207, 0.75);
			}
			#continue_btn:hover:before{
				border-bottom: 19px solid rgba(207, 207, 207, 0.75);
			}
			#continue_btn:hover:after{
				border-left: 19px solid rgba(207, 207, 207, 0.75);
			}
		}
	
	.popup_pattern_bar {
		bottom: 0;
		height: 16px;
		position: absolute;
		width: 100%;
		z-index: 10;
		background: url("../img/icons/pattern_bar960.jpg") no-repeat scroll left center transparent;

		.shape_popup_close {
			display: block;
			position: absolute;
			width: 16px;
			height: 16px;
			right: 0;
		}
	}
}
.designStep .top_slide_bg {
	background: #fff;
	.topSliderLeft {
		float: left;
		width: 130px;
		height: 110px;
		.styleList {
			padding: 13px 0 0 13px;
			& li {
				line-height: 17px;
				 a{
					color: #C5C3C1;
					font-family: $gibson;
					font-size: 16px;
					line-height: 16px;
				}	
			}
			& li a:hover, & li a.active{
				color: #565656;
			}
			& li a:hover span, & li a.active span{
				background: url("../img/icons/black_right_arrow.png") right no-repeat;
				padding-right: 15px;
			}
		}
	}
	.topSliderRight {
		float: right;
		width: 786px;
		height: 98px;
		margin: 6px 36px 0 0 ;
		.bx-wrapper{
			ul{
				float: left;
				& li{
					width: 151px !important;
					height: 98px;
					//padding-right: 10px;
					& img{
						width: 143px;
						margin: 8px 0px 0px 4px;

					}
				}
				& li:hover,& li:hover {
					background: url('../img/toe_styling_hover.png') center center no-repeat;
				}
			}
		}
	}
}

/* steps  styles */
.step_two .createNewNav .progressBar {
	width: 282px;	
}
.step_three .createNewNav .progressBar {
	width: 474px;	
}
.step_four .createNewNav .progressBar {
	width: 862px;		
}
.step_five .createNewNav .progressBar {
	width: 670px;	
}
.step_five #preloader {
	background: #F1F0EE;
	z-index: 9;
}
body.step_three{
	width: 98px !important;
	.top_slide_bg{
		.topSliderRight {
			float: right !important;
			width: 725px !important;
			height: 98px !important;
			margin: 2px 36px 0 0 !important;
			.bx-wrapper {
				ul{
					li {
						width: 98px !important;
						height: 98px !important;
						img{
							margin: 8px 0px 0px 0px !important;
						}
					}
				}
			}
		}
	}
	.img-style li img, .img-style li  {
		width: 98px !important;
		height: 98px !important;
	}
	.img-style li:hover{
		background: none !important;
	}
}
.inspiration #main:after,
.accounts #secondary:after {
	background: #f1f0ee url('../img/scrapbook_bg_bottom.png') center bottom repeat-x;
	width: 100%;
	position: absolute;
	content: "";
	display: inline-block;
	height: 12px;
	z-index: -1;
}

#style_path {
	opacity: 0;
	position: absolute;
	z-index: 8;
}
#loader {
	background-color: rgba(255, 255, 255, 0.4);
	width: 960px;
	margin: auto;
	display: none;
	& div {
		background-image: url("../img/icons/loader.gif");
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-background-size: 35px auto;
		background-size: 35px auto;
		height: 80px;
		margin: auto;
	}
}

/* rename and share popup styles */
.step_four .messageBoxBlue {
  width: 700px;
}
.step_four .messageBox .header_blue {
  height: 20px;
  width: 100%;
  background: #54B6DD;
}
.step_four .popup_content {
  clear: both;
  float: left;
  background: #FFF;
  width: 100%;
  height: 310px;
}
.step_four .messageBox .shape_popup_close
{
  display:block;
  position:absolute;
  width:16px;
  height:16px;
  right:0;
  background: url(../img/icons/close_btn.png) 0 0 no-repeat;
  right: 6px;
  top: 2px;
}
.step_four .messageBox .shape_popup_close:hover
{
  background:url(../img/icons/close_popup.jpg) no-repeat;
}
.step_four .messageBox .popup_pattern_bar {
  height: 16px;
  float: left;
  clear: both;
  background:url(../img/icons/pattern_bar960.jpg) no-repeat -5px 0;
  width: 100%;
}
.step_four .messageBox .popup_shoe_image {
  float: left;
  width: 350px;
  height: auto;
  overflow: hidden;
}
.step_four .messageBox .popup_shoe_image img {
  width: 380px;
  height: auto;
  margin-top: 60px;
}
.step_four .messageBox .shoe_share_title {
  font-family: "gibsonsemibold" !important;
  margin-bottom: 0;
  font-size: 2em;
  margin-top: 0.67em;
}
.step_four .messageBox .popup_shoe_desc *{
  font-family: gibsonregular;  
  color: #444;
}
.step_four .messageBox .popup_shoe_desc {
  float: right;
  width: 325px;
}

.step_four .messageBox .shoe_share_summary {
  font-size: 15px;
  margin: 5px 12px 10px 0;
}
.step_four .messageBox #shoe_edit_box {
  background: url(../img/select_two_pattern.png) no-repeat top left,
   url(../img/select_two_pattern.png) no-repeat bottom left;
  padding: 20px 0 20px 10px;
  overflow: hidden;
}
.step_four .messageBox .shoe_title {
    text-transform: uppercase;
	  font-size: 13px;
	  float: left;
}
.step_four .messageBox .shoe_name {
  margin: 0;
  font-size: 16px;
/*  text-transform: uppercase;*/
  display: inline-block;
  float: left;
  clear: both;
  height: 27px; 
}
.step_four .messageBox .common_button {
  background: #54B6DD;
  color: #FFF !important;
  padding: 2px 25px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 12px;
  float: right;
}
#shoe_name_input{
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #CECECE;
  text-indent: 6px;
/*  text-transform: uppercase; */
  width: 170px;
  color: #7C7C7C;
  float: left;
  clear: both;
}
.step_four .messageBox .save_share{
  color: #54B6DD;
  font-weight: bold;
  float: right;
  margin: 10px 10px 0 0;
  padding-right: 20px;  
}
.edit_last, .edit_first{
  overflow: hidden !important;
}
.edit_last{
  display: none;
}
.shoe_share_box{
  display: none;
}
#save_share {
  float: right;
  margin: 15px 15px 0 0;
  padding-right: 15px;
  font-weight: bold;
  color: #4BA7CB;
  background: url('../img/icons/blue_arrow_right.png') right center no-repeat;
}
.step_four .messageBox .create{
  position: relative;
  display: inline-block;
  width: 223px;
  height: 85px;
  margin: 0 2px;
  background: #F1F1F1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.step_four .messageBox .create a {
  font-family: "gibsonregular";
  font-size: 19px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  overflow: hidden;
  right: 0;
  display: inline-block;
  width: 223px;
  height: 85px;
  position: absolute;
  z-index: 2;
  background: url('../img/design_main_links_bg.png') center center no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.step_four .messageBox .create a:hover {
  width: 257px;
  height: 135px;
  background: url('../img/design_main_links_bg_hover.png') center bottom no-repeat;
  padding-left: 34px;
}
.step_four .messageBox .create a:before {
  content: "";
  display: block;
  background: url('../img/icons/create.png') center bottom no-repeat;
  width: 100%;
  height: 56px;
}
.step_four .messageBox .social_links {
clear: both;
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
}
.step_four .messageBox .social {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 10px;
}
#twitter {
  background: url('../img/icons/twitter_1.png') no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px;
}
#fb {
  background: url('../img/icons/facebook_1.png') no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px;
}
#pinterest {
  background: url('../img/icons/pinterest_1.png') no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px;
}
#instagram {
  background: url('../img/icons/instagram_1.png') no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px;
  display: none;
}
.step_four{
	/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */
/*
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
*/
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width: 160px;
	cursor: pointer;
	background: #fff;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	//box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.dropdown.focus{
	//box-shadow: 0 0 5px rgba(51,102,248,.4);
}

/* CARAT */

.dropdown .carat{
	
	display: none;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	padding: 4px;
}

.dropdown.disabled .selected{
	color: #999;
}


/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: -16px;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background: #d24a67;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	font-weight: 700;
}


.dk_container {
  background-color: #f5f5f5;
  font-size: 12px;
  margin-bottom: 4px; /*18px */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  &:focus {
    outline: 0;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
}
}
// Opens the dropdown and holds the menu label
.dk_toggle {
  /*border: 1px solid #ccc;*/
  color: #333;
  padding: 7px 45px 7px 10px;
  text-shadow: #fff 1px 1px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  position: relative;
  &:hover, &:focus {
    border-color: #8c8c8c;
  }
 /* &:after{
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4B4B4B;
  }*/
}
// Applied when the dropdown is focused
.dk_focus{
  .dk_toggle {
    border-color: #40b5e2;
    box-shadow: 0 0 5px #40b5e2;
    -moz-box-shadow: 0 0 5px #40b5e2;
    -webkit-box-shadow: 0 0 5px #40b5e2;
  }
}

// Applied whenever the dropdown is open
.dk_open {
 /* box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;*/
  //* Help: Dropdown menu is covered by something
  //* Try setting this value higher
  z-index: 10;
  .dk_toggle {
  /*  background-color: #ececec;
    border-color: #8c8c8c;
    color: #ccc;
    box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; */
  }
}

// Applied whenever the dropdown is open at the top
.dk_open_top {
  .dk_toggle {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
  }
  .dk_options, .dk_options_inner {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
  }
}

//* The outer container of the options
.dk_options {
  background: #fefefe; // Removes transparent background on iOS5+ scroll
/*  box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;*/
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  a {
/*    background-color: #fff;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 10px;*/
  }
  a:hover, &:focus,
  .dk_option_current a {
  /*  background-color: #0084c7;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;*/
  }
  li:last-child a {
    border-bottom: none;
  }
  .disabled {
    cursor: default;
    a {
      color: #aaa;
    }
    &:hover, &:hover a
    &:focus, &:focus a {
      cursor: default;
/*      background-color: #fff;
      border-bottom-color: #999;*/
      text-shadow: none;
    }
  }
}
// Inner container for options, this is what makes the scrollbar possible.
.dk_options_inner {
  max-height: 250px;
/*  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;*/
}

//******  End Theme ******

//***** Critical to the continued enjoyment of working dropdowns ******

.dk_container {
  display: none;
  float: left;
  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  a, a:link, a:visited{
    display: block;
  }
}

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}


// Hides only dropkick <select> instances
.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden;
}

//  nativeMobile override 
.dk_mobile {
  position: relative;
  select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}

//***** End Critical to the continued enjoyment of working dropdowns ******