@import 'fonts';
@import 'hoverslider';
// VARIABLES

$gibson: 'gibsonsemibold';
$gibson_regular: 'gibsonregular';
$gibson_light: 'gibsonlight';
$gibson_italic: 'gibsonitalic';
$gibson_lightitalic: 'gibsonlightitalic';
$gibsonsemibold_italic: 'gibsonsemibold_italic';
$tabacg2: 'tabac_g2bold';
$tabacg3: 'tabac_g3regular';
$lightblue: #23a9cd;
$grey: #3d3a3b;
$content_width: 960px;
$common-bg: #F1F0EE;
$common-width: 960px;




// MIXINS
@mixin transition($property, $duration, $ease) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    -ms-transition: $property $duration $ease;
    transition: $property $duration $ease;
}


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($hl, $vl, $br, $sp, $color) {
    -webkit-box-shadow: $hl $vl $br $sp $color;
    box-shadow: $hl $vl $br $sp $color;
}

@mixin transform-rotate($deg) {
    -moz-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin box-sizing($border-box) {
    -webkit-box-sizing: $border-box;
    -moz-box-sizing: $border-box;
    box-sizing: $border-box;

}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    outline: none;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: $gibson_regular;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

*{
    margin: 0;
    padding: 0;
}
div{
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
}
body{
    background: $common-bg;
    color: #353e3c;
    overflow-x:hidden; 
    font-size: 1em;
    min-width: 100%;
    line-height: 1.4;
    position: relative;
    height: 100%;
    & .wrapper{
        width: $common-width;
        margin: 0 auto;

    }
}
.left{
    float: left;
}
.right{
    float: right;
}
.home .main,.home #main {
    position: relative;
    padding-bottom: 200px;
    & #main_slider_content{
        width: 100%;
        height: 380px;
        position: relative;
        & .hs-html-container{
            height: 100%;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 960px;
            & .hs-title{
                font-family: $gibson;
                font-weight: normal;
                font-size: 42px;
                line-height: 43px;
                color: white;
                margin: 45px;
                text-transform: uppercase;
            }
            & .hs-html{
                width: 120px;
                height: 53px;
                line-height: 53px;
                position: absolute;
                top: 288px;
                left: 45px;
                display: block;
                padding-bottom: 6px;
                & .hs-html-content{
                    overflow: visible !important;
                }
            }
            & .hs-html p{
                font-family: 'Georgia';
                font-style: italic;
                font-size: 14px;
                line-height: 53px;
                height: 53px;
                overflow: hidden;
                color: #3d3739;
                margin: 0;
                background: url('../img/slider-content.png') left top no-repeat;
                padding: 0 180px 0 20px;
            }
            & .hs-html a{
                font-family: $gibson_regular;
                font-size: 18px;
                line-height: 53px;
                color: #fbfaf8;
                background: #26b6dd;
                display: inline-block;
                margin: 0;
                width: 161px;
                height: 53px;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
                @include border-radius (5px);
                @include transition(all, 0.4s, ease);
                &:after{
                    content: "";
                    display: block;
                    border: 6px solid transparent;
                    border-top: 6px solid #26b6dd;
                    width:0;
                    height:0;
                    border-bottom:0;
                    margin: 0 auto;
                    position: relative;
                    @include transition(all, 0.4s, ease);
                }
                &:before {
                    @include transition(all, 0.4s, ease);
                    content: "";
                    display: block;
                    width: 195px;
                    height: 94px;
                    border-bottom:0;
                    margin: 0;
                    position: absolute;
                    top:-2px;
                    right:0px;
                    opacity: 0;
                }
                &:hover {
                    background: #fff;
                    color: #26b6dd;
                    &:before {

                        background: url("../img/main_slider_html_shadow.png") right top no-repeat;
                        opacity: 1;
                    }
                    &:after {
                        border-top-color: #fff;
                    }
                }
            }

        }
    }
    & #main_slider_content:before{
        content: "";
        background: url('../img/main_slider_border_top.png') 8px 0 repeat-x;
        width: 100%;
        height: 5px;
        display: block;
        z-index: 99;
        position: absolute;
        top: -1px;
        margin-left: -2px;
    }
    .hs-btm-defaultskin{
        top: 1px !important; 
        & .hs-controls{
            height: 15px;  
            &:hover .hs-slider {
                background: #26B6DD;
            }  
            &:hover .hs-slider:before{
                border-bottom-color: #26B6DD;
            }  
        }

        .hs-slideline {
            top: 9px;
            height: 3px;
            background: #e1e0de;
            overflow: visible;
            & span{
                font-family: Georgia;
                font-size: 14px;
                font-style: italic;
                line-height: 50px;
                text-indent: -666em;
                position: relative;
                top: -3px;
                cursor: pointer;
            }
            & .hs-slider {
                height: 5px;
                top: -2px;
                background: #dadada;
                cursor: pointer;
                overflow: visible;
                &:before{
                    content: "";
                    display: block;
                    border: 6px solid transparent;
                    border-bottom-color: #dadada;
                    width: 0;
                    height: 0;
                    border-top: 0;
                    margin: 0 auto;
                    position: relative;
                    bottom: 6px;
                }
            }
        }
    }  
    #links{
        background: url('../img/main_patterned_rule.png') center bottom no-repeat;
        overflow: visible;
        ul.top{
            padding-bottom: 21px;
        }
        .hBoxLinks li{
            width: 476px;
            float: left;
            a{
                width: 476px;
                height: 130px;
                background: rgba(255, 255, 255, 0.5);
                position: relative;
                @include border-radius (6px);
                display: block;
                &:hover{
                    background: #FFF;
                    @include box-shadow(-39px, 39px, 6px, 0, rgba(207, 207, 207, 0.75));
                }
                &:hover:before{
                    border-bottom: 36px solid rgba(207, 207, 207, 0.75);
                }
                &:hover:after{
                    border-left: 36px solid rgba(207, 207, 207, 0.75);
                }
                &:hover span{
                    display: block !important;
                    @include box-shadow(1px, 59px, 6px, 0, rgba(207, 207, 207, 0.75));
                }
                &:before{
                    width: 0;
                    height: 0;
                    position: absolute;
                    content: "";
                    margin: 7px 0 0 -12px;
                    border-left: 37px solid rgba(0, 0, 0, 0);
                    border-right: 0px solid;
                    border-top: 0px solid;
                    border-bottom: 36px solid rgba(0, 0, 0, 0);
                    left: -25px;
                    top: -3px;
                }
                &:after {
                    width: 0;
                    height: 0;
                    position: absolute;
                    content: "";
                    border-left: 36px solid rgba(0, 0, 0, 0);
                    border-right: 0px solid rgba(0, 0, 0, 0);
                    border-top: 0px solid rgba(0, 0, 0, 0);
                    border-bottom: 37px solid rgba(0, 0, 0, 0);
                    right: 4px;
                    top: inherit;
                    bottom: -37px;
                    display: block;
                }
                #button_wrapper {
                    width: 100%;
                    height: 100%;
                    #button_img {
                        width: 100px;
                        height: 90px;
                        margin: 0 auto;
                    }
                    #button_text {
                        position: relative;
                        z-index: 999999;
                        h1{
                            font-family: $gibson_regular;
                            font-size: 20px;
                            line-height: 32px;
                            color: #626057;
                            text-align: center;
                        }                        

                    }
                }
                #arrow {
                    width: 24px;
                    height: 24px;
                    background: #FFF;
                    position: absolute;
                    bottom: -12px;
                    @include transform-rotate(45deg);
                    left: 50%;
                    margin-left: -12px;
                    display: none;
                }
            }
        }
        .inspire{
            margin-right:8px; 
            a:hover #button_img{
                background: url('../img/icons/main_links_inspire_hover.png') center center no-repeat;    
            }
            #button_img{
                background: url('../img/icons/main_links_inspire.png') center center no-repeat;    
            }
        }
        .create{
            a:hover #button_img{
                background: url('../img/icons/main_links_create_hover.png') center center no-repeat;
            }
            #button_img{
                background: url('../img/icons/main_links_create.png') center center no-repeat;
            }
        }
    }
    .action{
        position: relative;
        top: 40px;
        text-align: center;
        p{
            font-family: "tabac_g3regular";
            color: #504f48;
            font-size: 15px;
            line-height: 33px;
            letter-spacing: 0.002em;
            text-align: center;
            display: inline-block;
            margin: 0;
            a{
                color: #26b6dd;
                border-bottom: 1px solid #26B6DD;
                text-decoration: none;
            }
            &:before{
                content: "";
                display: inline-block;
                background: url('../img/icons/bird.png') left top no-repeat;
                width: 32px;
                height: 28px;
                float: left;
                margin: 5px 10px 0 0;
                position: relative;
            }
            &:after{
               @extend :before;  
               float: right;
               margin: 2px 0 0 7px;
               background: url('../img/icons/bird_right.png') left top no-repeat;
            }
        }
        p.inspire{
            color: #8961e1;
        }
        p.create{
            color: #23a9cd;
        }
    }  
}

.bx-wrapper li.disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    cursor: default;
}
.bx-wrapper  li.disabled:hover {
    background: none !important;
}

.designStep #main{
    .bx-next {
        cursor: pointer !important;
        height: 97px;
        position: absolute;
        right: 5px;
        top: 6px;
        width: 25px;
        background: #fff url('../img/icons/hslide_next_active.png') no-repeat 0 0!important;
    }
    .bx-prev {
        cursor: pointer;
        height: 97px;
        margin-left: -30px;
        position: absolute;
        top: 6px;
        width: 25px;
        background: #fff url('../img/icons/hslide_prev_active.png') no-repeat 0 0!important;
    }

    .bx-prev.disabled,
    .bx-prev.disabled:hover,
    .bx-prev.disabled:focus,
    .bx-prev.disabled:active {
        cursor: default;
        background: #fff url('../img/icons/hslide_prev_inactive.png') no-repeat 0 0!important;

    }
    .bx-next.disabled,
    .bx-next.disabled:hover,
    .bx-next.disabled:focus,
    .bx-next.disabled:active {
        cursor: default;
        background: #fff url('../img/icons/hslide_next_inactive.png') no-repeat 0 0!important;
    }
}
.designStep #main .color_menu span,
.designStep #main #material_styling span {
    font-family: $gibson;
    color: #FFF;
    font-size: 9px;
    line-height: 14px;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: left;
    position: absolute;
    letter-spacing: 0.1em;
    z-index: 2;
    display: none;
    width: 84px;
    height: 22px;
    background: url('../img/color_name_bg.png') center center no-repeat;
    padding: 0 0 0 12px;
    top: -14px;
    right: -55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.designStep #main .color_menu ul li:hover span,
.designStep #main #material_styling li:hover span {
    display: inline-block;
}
.designStep #materials .material {
    background-image: url('../img/material_bg.png');
    height: 430px;
    left: 0;
    margin-left: -44px;
    margin-top: -14px;
    top: 0;
    width: 429px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 193px;
    padding-left: 17px;
    position: absolute;
    display: inline-block;
    z-index: 9999;
     img {
        height: 340px;
        margin-left: 24px;
        margin-top: 14px;
        width: 360px;
    }
    span{
        left: 57px;
        bottom: 55px;
        color: #444041;
        font-family: "gibsonitalic";
        line-height: 12px;
        font-size: 10px;
        text-transform: lowercase;
        font-variant: small-caps;
    }
    & > span{
        position: absolute;
        bottom: 55px;
        left: 58px;
        letter-spacing: 0.11em;
    }
    .closeItemOver {
        background: url("../img/icons/close_item.png") no-repeat scroll 0 0 transparent;
        bottom: 56px;
        height: 9px;
        position: absolute;
        right: 16px;
        width: 9px;
    }
     .bold {
        font-family: "gibsonsemibold";
        font-size: 12px;
        text-transform: capitalize;
        line-height: 12px;
        font-variant: normal;
        letter-spacing: 0;
    }
}
.controls{
    position: fixed;
    top: 320px;
    width: 1100px;
    left: 50%;
    margin-left: -550px;
    .control{
        width: 40px;
        height: 50px;
        display: block;
    }
    #prev {
        float: left;
        background: url('../img/icons/arrows.png') no-repeat left center;
        background-size: 95px;
    }
    #next {
        float: right;
        background: url('../img/icons/arrows.png') no-repeat right center;
        background-size: 95px;
    }
}
.about{
    .patterned-rule-blue{
        width: 100%;
        height: 26px;
        background: #F1F0EE url('../img/patterned_blue.png') center bottom no-repeat;
    }    
    .quote{
        background: url('../img/patterned_rule960.png') center bottom no-repeat;
        h1{
            text-align: center;
            font-family: $tabacg3;
            font-size: 49px;
            line-height: 60px;
            color: #5D5859;
            letter-spacing: 0.012em;
            margin: 30px 0 37px;
            padding-left: 21px;
        }
    }
    & .main{
        padding: 27px 0 0;
        color: #353E3C;
        .content{
            h1{
                color: #229dbf;
                font-family: "tabac_g2bold";
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.009em;
                padding: 0 0 0 9px;
                margin: 16px 0 20px;
            }
            hr {
                border: none;
                height: 5px;
                background: url('../img/about-hr.png') center right no-repeat;
                padding: 9px 0;
                width: 100%;
            }
            .lowercase {
                font-size: 11px;
                text-transform: uppercase;
                font-variant: small-caps;
                letter-spacing: 0.07em;
            }
        }
        & .sidebar{
            width: 175px;
            display: inline-block;
            vertical-align: top;
            margin-left: 0;
            ul{
                margin: 0 0 0 3px;
                li{
                    font-size: 11.8px;
                    line-height: 18px;
                    font-family: $gibson_regular;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: 0.06em;
                    padding-left: 13px;
                    background-position: left center;
                    background-repeat: no-repeat;
                    a{
                        color: #353e3c;
                    }
                }
                li.active{
                    background-image: url('../img/icons/arrow-right-grey.png');
                }
                li.unactive{
                    background: none;
                }
                li:hover{
                    background-image: url('../img/icons/arrow-right-blue.png');
                }
            }
        }
        & .content{
            width: 740px;
            font-family: $tabacg3;
            font-size: 14px;
            line-height: 25px;
            text-align: justify;
            background: url('../img/icons/bird.png') center bottom no-repeat;
            padding-bottom: 25px;
            margin-right: 2px;
            float: right;
            @include box-sizing(border-box);
            & a{
                color: #353E3C;
            }
            & a:hover{
                color: #229DBF;
            }
            & p{
                text-indent: 9px;
                padding-left: 3px;
                margin: 14px 0;
            }
            & ul{
                margin: 14px 0;
                padding: 0 0 0 35px;
                & li {
                    padding-bottom: 18px;
                    span{
                        padding-right: 20px;
                    }
                }
            }
            & h2{
                color: #229dbf;
                font-family: "tabac_g2bold";
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.014em;
                padding: 0 0 0 9px;
                margin: 4px 0 12px;
            }
            .width50 {
                display: inline-block;
                width: 358px;
                vertical-align: top;
                text-align: justify;
                margin-right: 20px;
            }
            .width50:nth-child(2n+1) {
                margin: 0;
            }
        }
    }
    & footer{
        margin-top: 100px;
    }
}

/* shipping page styles begins */
.page .quote{
     h3{
        font-family: $tabacg3;
        font-size: 27px;
        line-height: 32px;
        margin: 7px 0 19px;
        text-align: center;
        color: #353E3C;
        letter-spacing: 0.029em;
    }
    #contact{
        text-align: center;
        margin: 0 auto;
        div{
            display: inline-block;
            padding: 61px 0 33px 0;
            margin: 0 18px 0 17px;
            p{
                font-family: "gibsonitalic";
                font-size: 11px;
                line-height: 18px;
                color: #3b3637;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin: 0;
            }
            span,a{
                font-family: "gibsonsemibold";
                font-size: 12px;
                line-height: 17px;
                color: #3b3637;
                display: block;
                letter-spacing: 0.1em
            }
        }
        div.phone{
            background: url('../img/icons/phone.png') center top no-repeat;
        }
        div.laptop{
            background: url('../img/icons/laptop.png') center 1px no-repeat;
            a{
                font-family: 'gibsonsemibold_italic';
                font-size: 13px;
            }
            a:hover{
                color: #26b6dd;
            }
        }
    }
}

.page .contact_top {
    background: url("../img/patterned_blue.png") no-repeat scroll center top #F1F0EE;
}
#contact_top {
    width: 100%;
    background: none repeat scroll 0 0 #F1F0EE;
    z-index: 9;
}
#faq{
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    background: url("../img/patterned_rule960.png") no-repeat scroll center bottom transparent;
    a{
        font-family: "gibsonsemibold";
        font-size: 11px;
        line-height: 31px;
        color: #3d3839;
        text-transform: uppercase;
        margin: 0 15px 0 14px;
        letter-spacing: 0.1em;
    }
    a:hover {
        color: #26b6dd;
    }

}
.contact{
    #main {
        margin-top: -5px;
        padding-bottom: 72px;
    }
    .faq{
        header h3{
            font-family: "gibsonregular";
            font-size: 14px;
            color: #3d3839;
            line-height: 39px;
            background: url('../img/contact_header_bg.png') center center no-repeat;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.09em;
            margin: 11px 0;
        }
        ul li{
            font-family: "tabac_g3regular";
            font-size: 17px;
            line-height: 45px;
            color: #3d3839;
            text-align: center;
            letter-spacing: 0.03em;
            cursor: pointer;
        }
        ul li.answer{
            cursor: text;
            font-family: 'gibsonlight_italic';
            font-size: 15px;
            letter-spacing: 0.05em;
            line-height: 18px;
            padding: 10px 0 15px;
            span{
                font-family: 'gibsonsemibold_italic';
                color: #21a0c2;
            }
        }
    }
    #payment header h3{
        margin-top:0; 
    }
}
/* step_four styles */

.step_four .shoeSizeBoxWrap{
    position: absolute;
    z-index: 9;
    left: 50%;
    overflow: visible;
    margin-left: -170px;
    .shoe_wrap {
        float: left;
        overflow: visible;
    }
    label{
        background: url('../img/menu_left_label.png') center center no-repeat;
        width: 67px;
        height: 27px;
        display: block;
        float: left;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
        font-family: $gibson;
        letter-spacing: 0.05em;
        padding-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 24px;
        margin-left: 10px;
    }
    .dropdown{
        float: left;
        background: url('../img/menu_left_select.png') center center no-repeat;
        width: 93px;
        height: 27px;
        color: #23a9cd;
        line-height: 16px;
        letter-spacing: 0.18em;
        text-indent: 6px;
        overflow: visible;
        .selected{
            line-height: 20px;
        }
        ul{
            color: #575354;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            li{
                padding: 0;
            }
            li.focus{
                background: url('../img/menu_left_select_hover.png') center center no-repeat !important;
            }
        }
    }
    .dropdown.open{
        background: url('../img/menu_left_select_focus.png') top center no-repeat !important;
        div{
            border: 2px solid;
            border-top: none;
            width: 89px;
            margin-top: -4px;
            margin-left: 1px;
        }
    }
    .dropdown .selected,
    .dropdown li{
        font-size: 11px;
        white-space: nowrap;
        font-family: $gibson;
        text-transform: uppercase;
    }
}
.step_four .stepContent{
    position: relative;
    overflow: visible;
    #menu_left{
        position: absolute;
        width: 161px;
        left: -560px;
        top: 73px;
        z-index: 9;
        li{
            margin-bottom: 10px;
            a{
                background: url('../img/side_links_view.png') top center no-repeat;
                height: 53px;
                display: block;
                text-align: center;
                line-height: 53px;
                font-family: $gibson_regular;
                font-size: 18px;
                color: #565656;
            }
        }
    }
    #button_right{
        position: absolute;
        width: 161px;
        right: -560px;
        top:55px;
        z-index: 9;
        li{
            margin-bottom: 10px;
            a{
                background: url('../img/side_links_view.png') top center no-repeat;
                height: 53px;
                display: block;
                text-align: center;
                line-height: 53px;
                font-family: $gibson_regular;
                font-size: 18px;
                color: #565656;
            }
        }
    }
}
/* popup styles */
#popupOverlay {
    display: none;
    background-color: #000;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

/* popup styles */
.bottmLeft {
    width: 200px;
    float: left;
    margin: 40px 0 0 100px;
}
.bottomRight {
    width: 150px;
    float: left;
    margin: 70px 0 0 0px;
}
.nextBtn {
    background: #76B000;
    color: #fff;
    text-transform: uppercase;
    font-family: gibsonregular;
    font-size: 13px;
    padding: 3px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    line-height: 24px;
}
.checkbox label{
    color: #76B000;
    font-family: $gibson;
    font-size: 18px;
    line-height: 22px;
    padding-left: 27px;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.checkbox input[type=checkbox], .checkbox input[type=radio] {
    display: none;
}
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url("../img/icons/msgoptionbox_green.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.checkbox label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

 input[type=checkbox]:checked + label:before , input[type=radio]:checked + label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: url("../img/icons/msgoptionbox_green_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

/* SIZING CHART */
.size_chartDetail {
    padding: 50px 75px;
    .top_title{
        color: #565656;
        font-family: $gibson;
        font-size: 16px;
        line-height: 17px;
        padding-bottom: 15px;
    }
    table{
        tr{
            font-family: $tabacg3;
            color: #4F4C4D;
            font-size: 14px;
            th,td{
                text-align: center;
            }
            th{
                font-weight: normal;
                div{
                    background: #e1e0de;
                    margin: 8px 0 8px 1px;
                    padding: 5px;
                }
            }
            td{
                background: url("../img/vertical_rule.png") 0px 0px repeat-y;
                div{
                    background-color: #e1e0de;
                    margin: 8px 0 8px 1px;
                    padding: 5px;
                }
            }
        }
        tr.sizefirstRow {
            color: #ffffff;
            th{
                font-family: $tabacg2;
                div{
                    background: #26B6DD;
                }
            }
            td{
                font-family: $tabacg2;
                div{
                    background: #26B6DD;   
                }
            }
        }
        
    }
}
#chartTop {
    .top_close{
        color: #565656;
        font-family: $gibson;
        font-size: 11px;
        background: url("../img/icons/black_up_arrow.png") no-repeat scroll right center transparent;
        float: right;
        margin: 10px 10px 0 0;
        padding-right: 16px;
    }
    .top_close:hover{
        background: url("../img/icons/blue_up_arrow.png") no-repeat scroll right center transparent;
    }
}


/*cart styles*/
body.cart{
    .wrapper {
        width: 920px;
        margin: auto;
        overflow: visible;
    }
    .main{
        h2{
            font-family: $gibson_regular;
            font-size: 14px;
            color: #3b3637;
            text-transform: uppercase;
            text-align: center;
            background: #f1f0ee url('../img/cart_headline_bg.png') center 7px no-repeat;
            line-height: 40px;
            padding-top: 11px;
            margin-top: 0;
            letter-spacing: 0.1em;
            margin-bottom: 5px;
            width: 100%;
            left: 0;
            z-index: 9995;
            position: relative;
        }
    }
    #selection_popup{
        display: none;
        position: absolute;
        background: #fff;
        z-index: 99999;
        height: 560px;
        #selection_popup_content {
            margin: 12px 25px;
            .top{
                border-bottom: 1px dotted #353e3c;
                font-size: 10px;
                line-height: 23px;
                padding: 8px 0 4px;
                letter-spacing: 0.08em;
                .close{
                    background: url("../img/icons/black_up_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
                    height: 23px;
                    padding-right: 16px;
                    color: #565656;
                    text-transform: uppercase;
                    font-family: 'gibsonsemibold';
                    float: right;
                }
                .close:hover{
                    background: url("../img/icons/blue_up_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
                }
            }
            #popup_socials {
                display: inline-block;
                a{
                    text-indent: -666em;
                    display: inline-block;
                    height: 20px;
                    width: 19px;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                .facebook {
                    background: url('../img/icons/popup_fb.png');
                }
                .facebook:hover{
                    background: url('../img/icons/popup_fb_hover.png');
                }
                .twitter {
                    background: url('../img/icons/popup_twitter.png');
                }
                .twitter:hover{
                    background: url('../img/icons/popup_twitter_hover.png');
                }
                .pinterest {
                    background: url('../img/icons/popup_pinterest.png');
                }
                .pinterest:hover{
                    background: url('../img/icons/popup_pinterest_hover.png');
                }
            }
            #visualization{
                height: 300px;
                position: relative;
                img{
                    width: 100%;
                    position: absolute;
                }
            }
            #popup_main_links {
                position: relative;
                text-align: center;
                ul{
                    li{
                        position: relative;
                        display: inline-block;
                        width: 166px;
                        height: 75px;
                        margin: 0 2px;

                    }
                }
            }
        }
    }
    #selection_popup:after{
        background: url("../img/icons/pattern_bar760.jpg") no-repeat scroll left center #fff;
    }
}
.shopping_cart {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 3px 5px 2px;
    background: url('../img/patterned_rule922.png') center bottom no-repeat;
    margin-bottom: 18px;
    .remove{
        clear: both; 
        .ico{
            background: url('../img/icons/shopping_cart_remove.png') center center no-repeat;
        }
    }
    .remove:hover > .ico{
        background: url('../img/icons/shopping_cart_remove_hover.png');
    }
    .edit{

        .ico{
            background: url('../img/icons/shopping_cart_edit.png') center center no-repeat;
        }
    }
    .edit:hover > .ico{
        background-image: url('../img/icons/shopping_cart_edit_hover.png');
    }
    .edit, .remove{
        text-transform: uppercase;
        color: #ED5225;
        font-size: 10px;
        line-height: 22px;
        text-align: right;
        position: relative;
        float: right;
        cursor: pointer;
        overflow: visible;
        .ico{
            width: 21px;
            height: 21px;
            display: inline-block;
            text-indent: -666em;
            margin-left: 4px;
            display: inline-block;
        }
        .text{
            font-family: "gibsonitalic";
            position: absolute;
            left: -43px;
            display: block;
        }
    }
    div > div {
        font-family: "gibsonitalic";
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        color: #565656;
        span{
            font-family: "gibsonsemibold";
        }
    }
    .cart-item {
        padding-top: 20px;
        border-top: 1px dotted;
        border-bottom: 1px dotted;
        margin-bottom: 1px;
        div{
            display: inline-block;
            margin: 0;
            vertical-align: top;
        }
    }
    .couponBox {
        padding: 10px 0;
        position: relative;
        border-top: 1px dotted;  
        border-bottom: 1px dotted;
        #promocode{
            background: url('../img/zipcode_input_blue.png') no-repeat;
            width: 127px;
            height: 27px
        }
        input{
            font-family: "gibsonitalic";
            font-size: 10px;
            color: #3b3637;
            letter-spacing: 0.1em;
            border: 0;
            padding: 0 20px 0 14px;
            float: left;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        #applyCode {
            background: none repeat scroll 0 0 #26B6DD;
            color: #FFFFFF;
            display: block;
            float: left;
            font-family: gibsonsemibold;
            font-size: 12px;
            margin-left: 5px;
            padding: 5px 0;
            text-align: center;
            width: 84px;
        }
        #divdiscount{
            float: right;
            width: 222px;
        }
    }
    .total{
        border-top: 1px dotted;  
        margin-top: 1px;
        font-family: "gibsonregular";
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #333333;
        text-align: right;
        p{
            display: inline-block;
            float: right;
            padding-right: 55px;
            margin: 20px 0;
            #lblCartTotal {
                font-weight: bold;
                margin-left: 15px;
            }
        }
    }
    .shoe {
        width: 263px;
        text-align: center;
    }
    .shoe_style {
        width: 180px;
    }
    .sizes {
        width: 150px;
    }
    .quantity {
        width: 120px;
    }
    .price {
        width: 59px;
        font-family: "gibsonsemibold";
        margin-left: -50px;
    }
    .sticky-wrapper {
        border: none;
        padding-bottom: 1px;
    }
    .headlines {
        border-bottom: 1px dotted #333333;
        background: #f1f0ee;
        span{
            font-family: $gibson_regular;
            font-size: 12px;
            line-height: 24px;
            color: #565656;
            text-transform: uppercase;
            display: inline-block;
            margin:0; 
            letter-spacing: 0.1em;
        }
    }
}
.bottom_links_wrap{
    overflow: visible;
    padding-bottom: 60px;
    .links
        {
        position: relative;
        text-align: center;
        overflow: visible;
        ul li {
            position: relative;
            display: inline-block;
            width: 223px;
            height: 85px;
            margin: 0 2px;
            a{
                font-family: "gibsonregular";
                font-size: 19px;
                line-height: 22px;
                color: #565656;
                text-align: center;
                right: 0;
                display: inline-block;
                width: 223px;
                height: 85px;
                position: absolute;
                z-index: 2;
                background: url('../img/design_main_links_bg.png') center center no-repeat;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

            }
            a:before{
                content: "";
                display: block;
                width: 100%;
                height: 56px;
            }
            a:hover{
                width: 257px;
                height: 135px;
                background: url('../img/design_main_links_bg_hover.png') center bottom no-repeat;
                padding-left: 34px;
            }
        }
        ul li.homepage a:before {    
            background: url('../img/icons/homepage.png') center bottom no-repeat;
        }
        ul li.homepage a:hover:before {    
            background: url('../img/icons/homepage_hover.png') center bottom no-repeat;
        }
        ul li.checkout a:before {
            background: url('../img/icons/purchase.png') center 16px no-repeat;
        }
    }
    .action{
        font-size: 14px;
        line-height: 38px;
        margin-top: 40px;
        .default {
            font-family: "tabac_g2bold";
        }
        .changable {
            font-size: 0.91em;
            word-spacing: 0.05em;
            letter-spacing: -0.005em;
            font-family: 'tabac_g3regular';
            text-align: center;
        }
        .homepage {
            background: url('../img/homepage_pattern.png') center top no-repeat;
        }
        .checkout {
            background: url('../img/patterned_rule_orange_checkout.png') center top no-repeat;
        }
    }
}

/* checkout styles */

body.cart {
    .order{
        height: 360px;
        background: url('../img/patterned_rule922.png') center bottom no-repeat;
        margin-bottom: 18px;
        position: relative;
        overflow: visible;
        div{
            overflow: visible;
        }
        .column {
            width: 232px;
            display: inline-block;
            margin-left: 107px;
            vertical-align: top;
            position: relative;
            float: left;
            font-family: "gibsonitalic";
            font-size: 10px;
            line-height: 15px;
            color: #3B3637;
        }
        .column:first-child {
            margin-left: 2px;
        }
    }
    .order.billing 
    {
        label {
            font-family: "gibsonitalic";
            font-size: 10px;
            line-height: 30px;
            color: #3B3637;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-left: 2px;
        }
        h4 {
            font-family: "gibsonsemibold";
            font-size: 12px;
            line-height: 22px;
            color: #3B3637;
            text-align: left;
            text-transform: uppercase;
            margin: 7px 0 11px;
            letter-spacing: 0.1em;
            padding-left: 15px;
        }
    }
    input{
        border: none;
        font-family: "gibsonitalic";
        font-size: 10px;
        line-height: 15px;
        color: #3B3637;
        letter-spacing: 0.1em;
        border: 0;
        padding: 0 20px 0 14px;
        margin: 0 0 4px;
        width: 231px;
        height: 27px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-transform: uppercase;
    }
    input[type="text"]{
        background: url("../img/billing_input_blue.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    input[type="text"][required],
    input[type="text"]:invalid{
        background: url("../img/billing_input_red.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    input.zipcode{
        background: url('../img/zipcode_input_blue.png') !important;
        width: 127px;
        height: 27px;
    }
    input.zipcode[required],
    input.zipcode:invalid{
        background: url('../img/zipcode_input_red.png') !important;
    }

    /* drop dow styles*/
    .dk_container {
        background: url('../img/billing_input_blue.png') center center no-repeat;
        padding: 0 2px;
        margin-top: -2px;
        text-transform: uppercase !important;
        font-size: 10px !important;
        color: #3B3637 !important;
        .dk_options{
            background: url('../img/payment_method_border.png') center bottom no-repeat; 
            padding-bottom: 4px;
            .dk_options_inner {
                width: 223px;
                margin: -2px 0 0 2px;
                background: #FFF;
                padding: 1px 0 6px;
                border: 2px solid #26B6DD;
                border-bottom: 0;
                border-top: 0;
                a{
                    border: none;
                    padding:0;
                    font-weight: normal;
                    text-shadow:none; 
                    background-color:none !important; 
                }
            }
            li{
                text-indent: 9px;
                line-height: 20px;
            }
            li:hover{
                background: transparent url('../img/payment_method_hover2.png') left center no-repeat !important;
                color: #fff !important;
                
            } 
        }
    }
    .dk_toggle{
        border:none !important;
    }
    .dk_container.dk_open {
        .dk_toggle{
            background: url('../img/payment_method_hover.png') -1px 4px no-repeat;
        }
    }
    #dk_container_shipping_state,
    #dk_container_card_state{
        width: 101px;
        background: url('../img/state_input_blue.png') center top no-repeat;
        margin: 0px 2px 0 -2px;
        .dk_options{
            padding-bottom: 3px;
            background: url('../img/state_input_border.png') center bottom no-repeat !important;
        }
        .dk_options_inner{
            width: 93px;
            margin: -4px 0 0 4px;
        }
    }
    #dk_container_shipping_state.dk_open,
    #dk_container_card_state.dk_open{
        .dk_toggle{
            background: url('../img/state_input_hover.png') 2px 2px no-repeat !important;
        }
    }
    #dk_container_exp_date_month,
    #dk_container_exp_date_year{
        float: none;
        display: inline-block;
        vertical-align: top;
        background: url('../img/date_input_blue.png') center top no-repeat;
        width: 27px;
        height: 27px;
        padding: 0;
        text-align: center;
    }
    #card_cvv_code {
        background: url('../img/cvvcode_input_blue.png') center center no-repeat !important;
        width: 35px;
        height: 27px;
        padding: 0;
        text-align: center;
        float: right;
    }
    /*
    .dropdown{
        float: left;
        background: url('../img/billing_input_blue.png') center center no-repeat;
        .selected{
            line-height: 20px;
        }
        ul{
            color: #575354;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            li{
                padding: 0;
            }
            li.focus{
                background: url('../img/payment_method_hover2.png') center center no-repeat !important;
            }
        }
    }
    .dropdown.open{
        background: url('../img/payment_method_hover.png') center center no-repeat;
        color: #23A9CD;
        top: 2px;
        div{
            border: 2px solid;
            border-top: none;
            margin-top: -4px;
            margin-left: 1px;
        }
    }*/

    /* dropcick styles*/
    /*
    .dk_options_inner, body.cart .dk_touch .dk_options {
        max-height: 250px;
    }
    .dk_toggle {
        position: relative;
        zoom: 1;
    }
    .dk_toggle {
        color: #5A5757;
        width: 100% !important;
        height: 100%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 9px;
        font-size: 9px;
        line-height: 11px;
    }
    .dk_options {
        display: none;
        margin-top: 0px;
        position: absolute;
        right: 0;
        width: 100%;
    }

     .dk_options {
        padding-bottom: 4px;
        background: url('../img/payment_method_border.png?1373878413') center bottom no-repeat;
        overflow: visible;
    }
    .dk_options_inner {
        position: relative;
    }
    .dk_options_inner {
        max-height: 250px;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 2px solid #26B6DD;
        border-bottom: 0;
        border-top: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .dk_container {
        background: url('../img/inspiration_select.png') center center no-repeat;
        font-size: 9px;
        line-height: 11px;
        margin-bottom: 18px;
        width: 98px;
        height: 21px;
        z-index: 1;
        font-family: "gibsonsemibold";
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }
    .dk_container {
        display: none;
        float: left;
        position: relative;
    }
    #dk_container_payment_method .dk_toggle {
        color: #3B3637;
        font-family: "gibsonitalic";
        font-size: 10px;
        letter-spacing: 0.1em;
        line-height: 27px;
    }
    #dk_container_payment_method {
        background: url("../img/billing_input_blue.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        box-shadow: none;
        color: #3B3637;
        font-family: "gibsonitalic";
        font-size: 11px;
        height: 27px;
        letter-spacing: 0.1em;
        line-height: 27px;
        margin: 0 0 4px;
        padding: 0 20px 0 14px;
        text-transform: uppercase;
        width: 231px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-transform: uppercase;
        .dk_toggle {
            border: 0 none;
            color: #3B3637;
            font-family: "gibsonitalic";
            font-size: 10px;
            height: auto;
            letter-spacing: 0.1em;
            line-height: 27px;
            margin: 0 0 4px;
            padding: 0;
        }
         .dk_options {
            padding-bottom: 3px;
            .dk_options_inner {
                width: 227px;
                margin: -3px auto 0;
                background: #FFF;
                padding: 1px 0 6px;
                 li {
                    line-height: 11px;
                    height: 17px;
                    padding: 0;
                    margin: 1px 3px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }*/
    // One container to bind them...


    /* Inspiration page styles */

}
body.inspiration{
    .quote {
        background: none;
        margin-top: -15px;
        h3{
            margin: 0;
        }
    } 
    #main-sticky-wrapper{
        overflow: visible;
    }
    #content{
        padding-top: 10px;
        padding-bottom: 45px;
        .row {
            background: url('../img/scrapbook_bg.png') center -80px repeat;
            margin-bottom: 7px;
            text-align: center;
            .row_wrapper {
                width: 960px;
                margin: 0 auto;
                .item:nth-child(3n) {
                    margin: 0;
                }
            }
            .item{
                position: relative;
                display: block;
                width: 298px;
                height: 273px;
                background: url('../img/scrapbook_item_bg.png') center bottom no-repeat;
                vertical-align: top;
                text-align: left;
                margin: 0 32px 0 0;
                float: left;
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    .item-title {
                        font-family: "tabac_g2bold";
                        color: #4c4949;
                        font-size: 16px;
                        line-height: 17px;
                        padding-right: 6px;
                        margin-left: 16px;
                    }
                    .item-subtitle{
                        font-family: "gibsonregular";
                        font-size: 10px;
                        line-height: 17px;
                        display: none !important;
                        color: #4c4949;
                        position: relative;
                        top: -1px;
                        padding-left: 10px;
                        border-left: 1px solid #979596;
                        text-transform: uppercase;
                    }
                }
                 p.meta {
                    margin: 0;
                    text-transform: uppercase;
                    padding-left: 30px;
                    background: url('../img/icons/scrapbook_meta_bg.png') 16px 8px no-repeat;
                    color: #3b3739;
                    font-size: 9.5px;
                    font-family: "gibsonregular";
                    line-height: 24px;
                    letter-spacing: 0.15em;
                    display: none;
                    span{
                        margin-right: 14px;
                    }
                }
                .item_row_top {
                    background: url("../img/top_rule.png") repeat-x scroll center bottom transparent;
                    height: 45px;
                    margin: 0 1px;
                    padding: 5px;
                    display: none;
                }
                .item-img {
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    top: 45px;
                    width: 100%;
                }
                .item-img.selected {
                    display: none;
                }
                .item_row_bottom {
                    bottom: 6px;
                    height: 60px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }

            }
            .item.selected,
            .item:hover {
                background: url("../img/scrapbook_item_bg_selected.png") no-repeat scroll center bottom #F1F0EE;
            }
            .item:hover{
                .item_row_top {
                    display: block;
                }
                .item-img {
                    display: none;
                    top: 5px;
                }
                .item-img.selected {
                    display: block;
                }
                .item-subtitle {
                    display: inline-block!important;
                }
                .meta {
                    display: inline-block;
                    margin-top: 0;
                }
            }
        }

    }
}
#selection_popup, .popup {
    position: absolute;
    z-index: 999999;
    display: none;
    width: 760px;
    height: 0;
    top: -5px;
    background: #ffffff;
    overflow: visible;
    .popup_close {
        background: url("../img/icons/popup_blue_close.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 12px;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 12px;
        z-index: 1000000;
    }
    #selection_popup_content {
        display: inline-block;
        width: 520px;
        height: 533px;
        background: #fff;
        vertical-align: top;
        position: absolute;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: 16px;
        left: 23px;
        z-index: 999999;
        overflow: visible;
        & > .top{
            border-bottom: 1px dotted #353e3c;
            font-family: "gibsonregular";
            color: #565656;
            font-size: 10px;
            line-height: 23px;
            padding: 8px 0 4px;
            letter-spacing: 0.08em;
            .close {
                background: url("../img/icons/black_up_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
                display: inline-block;
                height: 23px;
                padding-right: 16px;
                color: #565656;
                text-transform: uppercase;
                position: absolute;
                right: 0;
                font-family: 'gibsonsemibold';
            }
            #popup_socials {
                float: left;
                margin-top: 2px;
                a{
                    text-indent: -666em;
                    display: inline-block;
                    height: 20px;
                    width: 19px;
                    background-position: center top;
                    background-repeat: no-repeat !important;
                }
                .facebook {
                    background: url('../img/icons/popup_fb.png');
                }
                .twitter {
                    background: url('../img/icons/popup_twitter.png');
                }
                .pinterest {
                    background: url('../img/icons/popup_pinterest.png');
                }
                .instagram {
                    background: url('../img/icons/popup_instagram.png');
                    display: none;
                }
            }
        }
        #visualization {
            position: relative;
            height: 350px;
            text-align: center;
            img{
                display: block;
                margin: 0 auto 20px;
            }
            #vis_buttons {
                border: 1px dotted #565656;
                border-top: 0;
                border-bottom: 0;
                padding: 0 15px;
                color: #565656;
                font-size: 9px;
                text-transform: uppercase;
                line-height: 25px;
                display: inline-block;
                span {
                    margin-right: 5px;
                    float: left;
                }
                 .rotate {
                    background: url("../img/icons/popup_rotate_left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
                    display: inline-block;
                    height: 27px;
                    margin: 0 1px 0 6px;
                    vertical-align: middle;
                    width: 24px;
                }
                .rotate.right {
                    background-image: url('../img/icons/popup_rotate_right.png');
                    margin: 0 0 0 6px;
                }
            }
        }
        #popup_main_links {
            position: relative;
            text-align: center;
            overflow: visible;
            ul {
                margin: 0 -2px;
                padding: 0;
                list-style: none;
                li {
                    position: relative;
                    display: inline-block;
                    width: 166px;
                    height: 75px;
                    margin: 0 2px;
                    a {
                        font-family: "gibsonregular";
                        font-size: 19px;
                        line-height: 32px;
                        color: #565656;
                        text-align: center;
                        overflow: hidden;
                        right: 0;
                        display: inline-block;
                        width: 166px;
                        height: 75px;
                        position: absolute;
                        z-index: 2;
                        background: url('../img/popup_main_links_bg.png') center center no-repeat;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        .top {
                            display: inline-block;
                            width: 166px;
                            height: 75px;
                        }
                        .top:before {
                            content: "";
                            display: block;
                            background: url('../img/icons/main_links_inspire.png') center center no-repeat;
                            width: 100%;
                            height: 45px;
                        }
                        .bottom {
                            display: block;
                            width: 166px;
                            height: 75px;
                            position: relative;
                            font-family: "gibsonregular";
                            font-size: 11px;
                            line-height: 17px;
                            color: #666668;
                            text-align: left;
                            padding: 39px 12px 20px;
                            letter-spacing: 0;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            text-transform: uppercase;
                            strong {
                                font-family: "gibsonsemibold";
                                font-weight: normal;
                            }
                        }
                    }
                    a.delete .top:before {
                        background: url('../img/icons/popup_main_links_delete.png') center 17px no-repeat;
                    }
                    a.rework .top:before {
                        background: url('../img/icons/popup_main_links_rework.png') center 10px no-repeat;
                    }
                    a.add_to_cart .top:before {
                        background: url('../img/icons/popup_main_links_add.png') center 12px no-repeat;
                    }
                    a:hover{
                        height: 333px;
                        width: 225px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 101;
                        padding-left: 59px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        background: url('../img/popup_main_links_bg_hover.png') right top no-repeat;
                    }
                }
            }
        }
        & > .bottom{
            border-top: 1px dotted #353e3c;
            font-family: "gibsonregular";
            font-size: 12px;
            line-height: 24px;
            color: #838383;
            position: absolute;
            bottom: 3px;
            width: 100%;
            text-align: left;
            span {
                padding: 0 13px;
            }
            span:first-of-type > .number{
                display: none;
            }
            .number {
                color: #26b6dd;
            }
            a{
                color: #24aace;
                padding: 0 15px;
            }
        }
    }
    #side_menu {
        display: inline-block;
        width: 192px;
        background: #f8f7f6;
        height: 533px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 8px 0 8px 16px;
        text-transform: uppercase;
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 999999;
        text-align: left;
        .title {
            font-family: "gibsonsemibold";
            font-size: 0.725em;
            color: #565656;
            line-height: 7px;
            margin: 0px 0 0;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            padding-left: 0px;
            padding-bottom: 1px;
        }

        .title:before{
            top: -9px;
        }
        .title:before,.title:after {
            content: "";
            display: block;
            height: 7px;
            width: 176px;
            position: relative;
            left: 0px;
        }
        .title:after{
            background-image: url("../img/popup_side_title_bottom.png");
            background-position: right bottom;
            bottom: -10px;
        }
        #side_menu_content {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-right: 14px;
            padding-top: 10px;
            .item-title {
                font-family: "tabac_g2bold";
                color: #353e3c;
                font-size: 22px;
                line-height: 24px;
                text-transform: capitalize;
                margin: 13px 0 4px;
            }
            .item-subtitle {
                font-family: "gibsonregular";
                font-size: 13px;
                line-height: 24px;
                color: #353e3c;
                margin: 0;
            }
            ul.level1 {
                margin: 3px 0 0;
                padding: 0;
                & > li {
                    display: block;
                    color: #565656;
                    font-size: 11px;
                    line-height: 32px;
                    letter-spacing: 0.13em;
                    font-family: "gibsonsemibold";
                    background: url('../img/icons/side_menu_content_bg.png') right center no-repeat;
                    text-align: left;
                    cursor: pointer;
                }
                & li.expanded {
                    background-image: url('../img/icons/side_menu_content_bg_hover.png');
                }
                & li:before{
                    content: "";
                    height: 2px;
                    display: block;
                    background: url('../img/side_menu_border.png') left center no-repeat;
                }
            }
            ul.level2 {
                margin: 0;
                padding: 6px 0;
                list-style: none;
                border-top: 1px dotted #353e3c;
                display: none;
                & > li {
                    color: #353e3c;
                    font-family: "gibsonregular";
                    font-size: 11px;
                    line-height: 20px;
                    padding-left: 20px;
                    letter-spacing: 0.12em;
                    text-align: left;
                    cursor: default;
                }
                & > li:before {
                    background: none;
                }
                & > li.pattern {
                    background: url('../img/icons/design_pattern_icon.png') left center no-repeat;
                }
                & > li.leather {
                    background: url('../img/icons/design_leather_icon.png') left center no-repeat;
                }
                & > li.color {
                    background: url('../img/icons/design_color_icon.png') left center no-repeat;
                }
            }
            #price_div {
                font-family: "gibsonsemibold";
                line-height: 20px;
                font-size: 8px;
                color: #565656;
                margin-left: 4px;
                position: absolute;
                bottom: 8px;
                .symbol {
                    font-size: 18px;
                    vertical-align: top;
                    line-height: 16px;
                    margin-left: 1px;
                }
                .price {
                    font-size: 24px;
                }
                .shipping {
                    padding-left: 4px;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}
#selection_popup:before, #selection_popup:after, .popup:before, .popup:after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 999999;
    width: 100%;
}
#selection_popup:before, .popup:before {
    background: none repeat scroll 0 0 #52B6DD;
    height: 16px;
    left: 0;
    top: 0;
}
#selection_popup:after, .popup:after {
    right: 0px;
    bottom: 0;
    height: 16px;
    z-index: 999999;
    background: url("../img/icons/pattern_bar760.jpg") no-repeat scroll left center #fff;
}
body.inspiration #main {

    width: 100%;
    padding-bottom: 3px;
    background: #f1f0ee;
    z-index: 1;
    .inspirationInnerTop {
        margin: 12px auto;
        position: relative;
        overflow: visible;
        .inspirationLinks {
            float: right;
            height: 85px;
            position: relative;
            width: 447px;
            overflow: visible;
            & a{
                font-family: "gibsonregular";
                font-size: 20px;
                line-height: 32px;
                color: #626057;
                text-align: center;
                overflow: hidden;
                right: 0;
                display: inline-block;
                width: 447px;
                height: 85px;
                position: absolute;
                z-index: 2;
                background: url('../img/inspiration_main_link.png') right top no-repeat;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                span {
                    display: block;
                    background: url('../img/icons/main_links_page_create.png') center 12px no-repeat;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding-top: 52px;
                }
            }
            & a:hover{
                background: url("../img/inspiration_main_link_hover.png") no-repeat scroll right top rgba(0, 0, 0, 0);
                height: 153px;
                padding-left: 48px;
                position: absolute;
                right: 0;
                top: 0;
                width: 495px;
                z-index: 101;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                span{
                    background-image: url('../img/icons/main_links_page_create_hover.png');
                }
            }
        }
    }
    .inspirationInnerTop:after {
        background: url("../img/patterned_rule960.png") no-repeat scroll center bottom transparent;
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        padding-bottom: 12px;
    }
    #inspiration_filter {
        background: url("../img/inspiration_filter_bg.png") repeat scroll 0 0 transparent;
        display: block;
        height: 84px;
        margin: auto;
        position: relative;
        vertical-align: top;
        width: 497px;
        z-index: 2;
        float: left;
        overflow: visible;
        & > div{
            font-family: "gibsonsemibold";
            font-size: 11px;
            line-height: 31px;
            color: #4d4a4b;
            text-transform: lowercase;
            font-variant: small-caps;
            display: inline-block;
            width: 150px;
            height: 32px;
            letter-spacing: 0.1em;
            span {
                padding-left: 20px;
                background: url('../img/icons/inspiration_filter_arrow.png') 2px center no-repeat;
            }
             a {
                font-family: "gibsonregular";
                color: #4d4a4b;
            }
        }
        #search_username {
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 330px;
            & label{
                background: url('../img/icons/ins_form_username_bg.png') left center no-repeat;
                padding-left: 15px;
                margin-right: 7px;
                letter-spacing: 0.105em;
                position: relative;
                top: -1px;
                
            }
            & input[type=text] {
                border: 0;
                padding: 8px 25px 7px 9px;
                background: url('../img/inspiration_usr_input.png') left center no-repeat;
                display: inline-block;
                width: 154px;
                text-transform: none;
                color: #575354;
                font-family: "gibsonregular";
                line-height: 12px;
                font-size: 11px;
                position: absolute;
                right: 2px;
                top: 1px;
            }
            .uname_focused {
                background: url('../img/inspiration_usr_input_bg.png') center center no-repeat !important;
            }
            .submituser {
                text-indent: -666em;
                border: 0;
                position: absolute;
                right: 2px;
                margin: 0;
                top: 5px;
                padding: 0;
                display: inline-block;
                width: 20px;
                height: 21px;
                background: url('../img/icons/main_acc_order_submit.png') center center no-repeat;
            }
            & input[type=text]:hover,
            & input[type=text].active:hover{
                background: url('../img/inspiration_usr_input_bg.png') center center no-repeat;
            }


        }
        #filter{
            margin: -5px 0 0 0 ; 
            & *{
                overflow: visible;
            }
            & > div:first-child {
                margin: 0 0 0 2px;
            }
            & > div{
                width: 109px;
                display: inline-block;
                vertical-align: top;
                margin-left: 16px;
            }
            label {
                font-family: "gibsonsemibold";
                font-size: 11px;
                line-height: 24px;
                color: #4d4a4b;
                text-transform: lowercase;
                font-variant: small-caps;
                display: inline-block;
                letter-spacing: 0.1em;
                padding-left: 20px;
                background: transparent left center no-repeat;
            }
            label.last {
                background-image: url('../img/icons/label_last.png');
            }
            label.pattern {
                background-image: url('../img/icons/label_style.png');
            }
             label.material {
                background-image: url('../img/icons/label_material.png');
            }
            label.color {
                background-image: url('../img/icons/label_color.png');
            }
            .dk_container {
                background: url('../img/inspiration_select.png') center center no-repeat;
                font-size: 9px;
                line-height: 11px;
                margin-bottom: 18px;
                width: 109px;
                height: 21px;
                z-index: 1;
                font-family: "gibsonsemibold";
                text-transform: uppercase;
                letter-spacing: 0.01em;
            }
            .dk_toggle {
                color: #5a5757;
                width: 100% !important;
                height: 100%;
                display: inline-block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 5px 9px;
                font-size: 9px;
                line-height: 11px;
            }
            .dk_options {
                padding-bottom: 4px;
                background: url('../img/inspiration_select_down.png') center bottom no-repeat;
                overflow: visible;
                margin: 0;
                li{
                    background-color: #fff;
                    a{
                        padding: 3px 7px 3px;
                        color: #575354;
                        display: block;
                    }
                }
            }
            .dk_options_inner,
            .dk_touch .dk_options{
                max-height: 500px !important;
            }
            .dk_options_inner {
                max-height: 250px;
                list-style: none;
                margin: 0;
                padding: 0;
                border: 2px solid #26b6dd;
                border-bottom: 0;
                border-top: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .dk_open .dk_toggle {
                color: #23a9cd;
                background: url('../img/inspiration_filter_select_focus.png') center top no-repeat;
            }

        }
    }
}
.inspiration #main:before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    padding-top: 20px;
    background: url("../img/patterned_blue.png") no-repeat scroll center bottom #F1F0EE;
}

body.login{
    .login.active{
        background-image: url('../img/icons/login_hover.png') !important;
    }
    min-height: 520px;
    .main:before {
        content: "";
        height: 5px;
        background: url('../img/patterned_blue.png') center center no-repeat;
        display: block;
        margin-top: 35px;
    }
    .main:after {
        content: "";
        height: 5px;
        background: url("../img/patterned_rule960.png") no-repeat scroll center center transparent;
        display: block;
        padding-bottom: 40px;
    }
    .loginBoxWrap {
        min-height: 343px;
        width: 231px;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        overflow: visible;
    }

    h3 {
        font-family: "gibsonitalic";
        font-size: 11px;
        line-height: 22px;
        color: #3b3637;
        text-align: center;
        letter-spacing: 0.09em;
        margin: 15px 0;
        text-transform: uppercase;
    }
     h4 {
        font-family: "gibsonsemibold";
        font-size: 12px;
        line-height: 22px;
        color: #3b3637;
        text-align: center;
        text-transform: uppercase;
        margin: 5px 0 11px;
        letter-spacing: 0.1em;
    }
    form {
        width: 231px;
        margin: 0 auto;
        position: relative;
        height:136px;
    }
    input:valid {
        background: url('../img/login_input_blue.png');
    }
    input {
        font-family: "gibsonitalic";
        font-size: 11px;
        color: #3b3637;
        letter-spacing: 0.1em;
        border: 0;
        padding: 0 20px 0 14px;
        margin: 0 0 4px;
        background: url('../img/login_input_blue.png');
        width: 231px;
        height: 35px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    input[type="submit"] {
        border: 0;
        padding-bottom: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }
    input[type="submit"]:hover {
        padding-bottom: 35px;
        padding-left: 48px;
        margin-left: -28px;
    }
    .button {
        background: url('../img/cart_button_border.png') center 2px no-repeat;
        width: 230px;
        height: 50px;
        text-align: center;
        line-height: 42px;
        display: inline-block;
        color: #3b3737;
        font-size: 16px;
        font-family: "gibsonregular";
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 2px;
        cursor: pointer;
    }
    .button:hover {
        background: url('../img/cart_button_border_hover.png') center center no-repeat !important;
        width: 258px;
        height: 80px;
        padding-left: 28px;
    }

    .button.blue{
        background: url('../img/login_button_blue.png') center 2px no-repeat;
        color: white;
    }
    .button.blue:hover {
        color: #21a0c2;
        background: url('../img/cart_button_border_hover.png') center center no-repeat;
    }
    .greyBtnWrap{
        overflow: visible;
        height: 75px;
    }
     .button.grey {
        background: url('../img/login_button_grey.png') center 2px no-repeat;
        color: white;
    }
    .button.grey:hover {
        color: #608f02;
        margin-left: -28px;
        background: url('../img/cart_button_border_hover.png') center center no-repeat;
    }
   .loginBoxWrap .forget_pword {
        position: absolute;
        right: -132px;
        top: 95px;
    }
    .loginBoxWrap .link {
        font-family: "gibsonitalic";
        font-size: 10px;
        line-height: 22px;
        color: #3b3637;
        padding-left: 15px;
        text-transform: uppercase;
        display: block;
        text-align: left;
    }
    .cancel_sign {
        font-family: "gibsonregular";
        font-size: 10px;
        line-height: 22px;
        color: #647175;
        background: url('../img/icons/shopping_cart_remove.png') 101px center no-repeat;
        padding-right: 29px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: absolute;
        top: 16px;
        right: -364px;
    }
    .fb_loginBtn {
        background: url("../img/fb_loginBtn.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 43px;
        margin-top: 4px;
        width: 230px;
    }
    #footer{
        display: none;
    }
    .existing_ulogin .invalid_errors {
        left: -240px;
        position: absolute;
        text-align: right;
        top: 55px;
        width: 100%;
        height: 100%;
    }
    .invalid_uname {
        top: 6px;
    }
    .invalid {
        color: #ED5224;
        font-family: "gibsonregular";
        font-size: 10px;
        line-height: 10px;
        margin: 0;
        position: absolute;
        width: 100%;
        span {
            font-size: 16px;
            line-height: 13px;
            vertical-align: middle;
        }
    }
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -112.5px 0 0 -480px;
        padding: 0;
        text-align: center;
        div.welcome {
            width: 100%;
            padding: 0;
                h1 {
                font-size: 22px;
                line-height: 22px;
                font-family: "tabac_g2bold";
                color: #3d3839;
                text-align: center;
                letter-spacing: -0.01em;
                margin: 66px 0 57px;
            }
            .button {
                position: absolute;
                right: 50%;
                top: 270px;
                margin-right: -115px;
            }
        }
        #login_button_wrap {
            height: 150px;
            padding-top: 50px;
            .grey {
                display: block;
                cursor: pointer;
            }
        }
        #email_signup {
            display: none;
        }
    }
    .create_new{
         .loginBoxWrap {
            
        }
        .invalid_errors {
            height: 190px;
            position: absolute;
            right: -238px;
            text-align: left;
            top: 8px;
            width: 100%;
        }

    }
    .create_new .create_new_acc{

         input:valid {
            background-image: url('../img/create_input_green.png');
        }
        input {
            background-image: url('../img/create_input_green.png');
            width: 231px;
            height: 29px;
            margin-bottom: 2px;
        }
        input[type="submit"] {
            background: url('../img/input_border_green.png') center center no-repeat;
            width: 230px;
            height: 53px;
            font-size: 16px;
            color: #679902;
            line-height: 42px;
            text-transform: none;
            letter-spacing: 0;
            padding-top: 0;
            padding-bottom: 5px;
            text-align: center;
            margin-top: 16px;
            display: block;
            position: relative;
        }
        input[type="submit"]:hover {
            padding-bottom: 35px;
            margin-top: 15px;
            padding-left: 48px;
            margin-left: -28px;
            background: url('../img/cart_button_border_hover.png') center center no-repeat;
            width: 258px;
            height: 85px;
        }
    }
    .create_new:before {
        background: url('../img/patterned_rule_green960.png') center top no-repeat !important;
    }
    .create_new span.grey {
        background: url('../img/login_button_grey.png') center 2px no-repeat;
        width: 230px;
        height: 55px;
        text-align: center;
        line-height: 42px;
        display: inline-block;
        color: white;
        font-size: 16px;
        font-family: "gibsonregular";
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: -2px auto 5px;
        padding-top: 2px;
    }
    .fbsignup {
        background: url("../img/fbsignup.png") no-repeat scroll 0 0 transparent;
        display: inline-block;
        height: 45px;
        margin-top: 4px;
        width: 230px;
    }

    .signup_text p {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #565656;
        font-family: "gibsonregular";
        a{
            color: #23A9CD;
            cursor: pointer;
        }
    }
}
/*---------------------------------------------------------------------------*/


@-webkit-keyframes bounceInDown { 
    0% { -webkit-transform: translateY(-2000px); }
    //60% { -webkit-transform: translateY(25px); }
    //80% { -webkit-transform: translateY(15px); }
    100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes bounceInDown {
    0% { -moz-transform: translateY(-2000px); }
    //60% { -moz-transform: translateY(30px); }
    //80% { -moz-transform: translateY(-20px); }
    100% { -moz-transform: translateY(0); }
}

@-ms-keyframes bounceInDown {
    0% { -ms-transform: translateY(-2000px); }
    //60% { -ms-transform: translateY(30px); }
    //80% { -ms-transform: translateY(-20px); }
    100% { -ms-transform: translateY(0); }
}
@-o-keyframes bounceInDown {
    0% { -o-transform: translateY(-2000px); }
    //60% { -o-transform: translateY(30px); }
    //80% { -o-transform: translateY(-20px); }
    100% { -o-transform: translateY(0); }
}
@keyframes bounceInDown {
    0% { transform: translateY(-2000px); }
    //60% { transform: translateY(30px); }
    //80% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.popupbounce
{
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;

    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
         -o-animation-duration: 1.5s;
            animation-duration: 1.5s;

    -webkit-animation-name: bounceInDown;
       -moz-animation-name: bounceInDown;
        -ms-animation-name: bounceInDown;
         -o-animation-name: bounceInDown;
            animation-name: bounceInDown;       

}

.messageBox {
    width:557px;
    height:325px;
    top:-400px;
    margin:auto;
    position:absolute;
    z-index: 10000;
    display:none;
}
.messageBoxRed {
    background:url(../img/message_box_red.png) no-repeat;
}
.messageBoxGreen {
    background:url(../img/message_box_green.png) no-repeat;
}

.msgTop{
    padding: 70px 0 34px;
}
.msgTop .msgHead{
    color: #4F4C4C;
    font-family: $gibson_regular;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
}
.msgBottom{
    padding: 30px;
}
.msgBottom .msgDesc{
    color: #4F4C4C;
    font-family: $gibson;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0 8px;
}
.msgBottom .msgOption{
    color: #4F4C4C;
    font-family: $gibson_regular;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 0;
}

.msgBottom .msgOption a{
    background: url("../img/icons/msgoptionbox_green.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #76B000;
    font-family: $gibson;
    font-size: 18px;
    line-height: 20px;
    padding-left: 27px;
}

.msgBottom .msgOption a:hover{
    background:url(../img/icons/msgoptionbox_green_hover.png) no-repeat scroll left center;
}
.msgBottom .msgOptionClose{
}
.msgBottom .msgOptionClose a{
    color:#4f4c4c;
    background:url(../img/icons/msgoptionbox_black.png) no-repeat scroll left center;
}
.msgBottom .msgOptionClose a:hover{
    background:url(../img/icons/msgoptionbox_black_hover.png) no-repeat scroll left center;
}

.msgBottom .codeboxwrap{
    text-align:center;
}
.msgBottom .codeboxwrap input {
  font-family: $gibson_italic;
  font-size: 11px;
  line-height: 35px;
  color: #3b3637;
  letter-spacing: 0.1em;
  border: 0;
  padding: 0 20px 0 14px;
  margin:3px 0 3px;
  background: url('../img/digitcode_input_green.png');
  width: 123px;
  height: 25px;
  text-align:center;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.msgBottom .codeboxwrap input:focus {
  outline: 0;
}
.msgBottom .codeboxwrap input:valid {
  background: url('../img/digitcode_input_green.png');
}
.msgBottom .codeboxwrap input:invalid, .msgBottom .codeboxwrap input.invalid_box {

  /*background: transparent url('../img/digitcode_input_green_hover.png') center center no-repeat;*/

}

/* preloader styles */
#preloader {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999999999999;
    width: 960px;
    height: 460px;
    top: 124px;
    left: 50%;
    margin-left: -480px;
    #status {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url('../img/icons/loader.gif');
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: center;
        margin: -100px 0 0 -100px;
    }
}

/*------------------------------*/

/* tooltip style */
.tooltipsy
{
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
    /*color: #303030;*/ 
    background-color: #fff;
    border: 1px dotted #4BA7CB;
    color: #565656;
    font-family: $tabacg3;
    font-size: 12px;
    text-align: justify;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
}

/* tooltip style ends*/
/* monogram image style */

#shape_visualization div.monogram_A4 {
    height: 19px;
    /*left: 560px;*/
    right:185px;
    position: absolute;
    top: 200px;
    z-index: 2;
    min-width: 100px;
}
#shape_visualization div.monogram_A0 {
    height: 19px;
    /*left: 155px;*/
    left: 275px;
    position: absolute;
    top: 200px;
    z-index: 2;
    min-width: 100px;
}
#shape_visualization .monogram span.monotext {
    color: rgba(0, 0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
    text-shadow: 1px 1px rgba(175, 175, 175, 0.2), -1px -1px #060606;
    text-transform: uppercase;
}

#shape_visualization .monogram img {
    float: left;
    height: 100% !important;
    margin-right: 2px;
    width: auto !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
