@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin transition($property, $duration, $ease) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    -ms-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
	

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
	.controls{
		width: 1000px !important;
		margin-left:-500px !important; 
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
	body{
		#preloader{
			width: 738px !important;
			margin-left: -369px !important;
		}
		.controls{
			width: 768px;
			margin-left: -384px;
			.control{

			}
		}
	}
	body .wrapper{
		width: 768px;
		padding: 0 15px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}
	.home{
		#middle_container .wrapper{
			padding: 0 0 200px 0 !important;
		}
		#main{
			padding: 0 0 200px 0 !important;
		}
		#links{
			padding:0 !important; 
		}
		.hBoxLinks li{
			width: 380px !important;
			a{
				width: 380px !important;
			}
			a:hover{

			}
		}
	}
	.contact #main{
		padding-bottom:30px !important;
	}
	.inspiration #main:after, .accounts #secondary:after{
		width: 738px !important;
	}
	body.inspiration{
		.inspirationInnerTop {
			margin: 0 !important;
			padding: 0 !important;
			width: 738px;
			#inspiration_filter{
				//width:500px !important;
				z-index: 3 !important;
				float:none !important;
				margin-top:20px !important;
				background-repeat: no-repeat !important;
				padding:0 !important;
				#filter{
					//width:500px !important;
				}
			}
			.inspirationLinks{
				float: none !important;
				margin: 20px auto !important;
				clear: both;
				a:hover{
					content: '';
				}
				
			}
		}
		#content{
			.row{
				.row_wrapper {
					width:768px;
					@include box-sizing(border-box);
					padding:0 15px;
					.item{
						width:224px;
						 p .item-subtitle {
							border-left:none;
							text-indent: 4px; 
						 }
						.author{
							line-height: 52px;
							img{
								margin-right: 5px; 
							}
						}
						.item_row_bottom{
							height: 75px;
						}
					}
				}
			}
		}	
	}
	#header{
		#toolbar{
			.left{
				margin: 10px 0 0 10px;
			}
			.right{
				margin-right: 0px;
				ul li{
					padding-left: 21px;
					margin-left: 10px;
				}
			}
		}
	}
	#footer{
		section .row {
			width: 240px;
		}
		section .newsletter{
			display: block;
			margin: 0 auto;
			float: none;
			clear: both;
			width: 100%;
			.keeptouchform {
				display: inline-block;
				float: left;
			}
			ul{
				float: right;
				display: inline-block;
				margin: 22px 10px 0 0; 
			}
		}
	}

	/* design steps */
	#stepMain{
		background-size: 734px !important;
		ul{
			margin: 10px 0;
			li{
				width: 143px !important;
				height: 40px !important;
				line-height: 10px !important;
				a{
					border-radius: 5px;
					-webkit-border-radius: 5px;
					line-height: 40px !important;
					height: 40px !important;
					span{
						width: 145px !important;
						height: 40px !important;
					}
				}
				a.active{
					padding: 0 !important;
					margin: 0 !important;
					position: relative !important;
					height: 40px !important;
					width: auto !important;
					background: #fff !important;
				}
				a.active:after{
					position: absolute;
					content: "";
					border: 10px solid red;
					bottom: -10px;
					left: 50%;
					border-left-color: transparent;
					border-top-color: white;
					border-bottom: 0;
					border-right-color: transparent;
					margin-left: -5px;
				}
			}
		}
	}
	.basicStyleContainer {
		width: 768px !important;
		padding:0 15px;
 		@include box-sizing(border-box);
		.basicStyleBox {
			margin: 0px 14px 0 0 !important;
			ul li{
				//background: url("../img/closure_hover.png") no-repeat scroll center top transparent;
				background-size:136px !important;
				width:136px !important;
				.imgShap{
					img{
						//width: 120px !important;
						//margin-top: 7px;
					}
				}
			}
			ul li img.active{
				//width:120px !important;	
				//margin: 0 !important;
				margin-top: -9px !important;
			}
		}
		.basicStyleBox.lastShapeBox{
			margin: 0 !important;
		}
	}
	.designStep{
		.popup_pattern_bar {
			background-position: right center !important; 
		}
		.shape_popup {
			width: 740px !important;
			.topSliderRight{
				width: 548px !important;
				.bx-wrapper ul li {
					width: 131px !important;
					img{
						width: 125px;
						margin-top: 13px;
					}
				}
			}
		}	
		.colors_popup {
			width: 740px !important;
		}
		#shape_visualization{
			width: 680px !important;
			margin: 0 auto;
			.visualImgWrap {
				width: 680px;
				img{
					width: 680px;
					height: 383px; 
				}
				.monogram_A4{
					right:80px !important;	
				}
				.monogram_A0{
					left:135px !important;
				}
				.monogram_A4, .monogram_A0{
					top: 170px !important;
					.monotext{
						img{
							width: 17px !important;
							height: 19px !important;
						}
					}
				}
			}	
		}
		.colors_popup {
			right: 10px;
		}
	}
	.step_one{
		#shape_visualization{
			width: 582px !important;
			.visualImgWrap{
				width:582px;
				img{
					width: 100% !important;
				}
			}

		}
		.choseShapeDetailRight{
			width: 158px;
			@include box-sizing(border-box);
			#continue_btn {
				width: 128px !important;
			}
		}
	}
	.about {
		.main{
			.content{

			}
			.sidebar{
				width:100%;
				//background:red;
				margin:15px 0;
			}
		}
	}
	.shopping_cart_mini{
		margin-right:-384px;
	}
	#stepMain .wrapper{
		padding: 0 !important;
		width: 738px !important;
	}
	/* progress bar styles */
	.step_one #stepMain .createNewNav .progressBar {
		width: 73px;
	}
	.step_two #stepMain .createNewNav .progressBar {
		width: 220px;
	}
	.step_three .createNewNav .progressBar {
		width: 368px;
	}
	.step_four .createNewNav .progressBar {
		width: 664px;
	}
	.step_five .createNewNav .progressBar {
		width: 516px;
	}
	body.step_three .top_slide_bg .topSliderRight {
		width: 515px !important;
	}
	.step_five, .step_four{
		.stepContent{
			padding: 0 !important;
			width: 738px !important;
		}
		.size_chartDetail {
			padding: 50px 20px !important;
		}
	}
}
