/* HoverSlider Default Skin */



.hs-defaultskin {
}

.hs-btm-defaultskin .hs-shadow {
	height: 0px !important;
}

.hs-btm-defaultskin .hs-controls {
	height: 15px;
}

.hs-btm-defaultskin .hs-controls span {
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	line-height: 50px;
	text-indent: -666em;
	position: relative;
	top: -3px;
}

.hs-btm-defaultskin .hs-slideline {
	top: 5px;
	height: 3px;
	background: #e1e0de;
}

.hs-btm-defaultskin .hs-slider:before {
	content: "";
	display: block;
	border: 6px solid transparent;
    border-bottom: 6px solid #fff;
    width:0;
    height:0;
    border-top:0;
    margin: 0 auto;
    position: relative;
    bottom: 6px;
}

.hs-btm-defaultskin .hs-slider {
	height: 5px;
	top: -2px;
	background: #dadada;
}

.hs-btm-defaultskin .hs-title-active {
	font-weight: bold;
}