* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#pageWrapper{
	background: url('images/appointment_banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 8em 3em;
    color: white;
}

h1{
    font-size: 3em;
    font-weight: 300;
    line-height: 1.75rem
}

h2{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.75rem
}

.centerAlign{
	text-align: center;
	margin: 0px auto;
}

.mapIframe {
	text-align: center;
	width: 80%;
	height: 350px;
    margin-top: 50px;
}

.mapIframe iframe{
	width: 100%;
	height: 100%;
    pointer-events: none;
}

.mapIframe iframe.clicked{
    pointer-events: auto;
}

#appointment_form { 
	margin: 2em;
}

#appointment_form label{
	color: #181818;
}

.appointment_form_container { 
	width: 90%;	
}

.appointment_form_container input {
    display: block;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 8px;
    height: 40px;
    border: 1px solid #181818;
    line-height: 40px;
}

.appointment_form_container h2{
    color: #181818;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 20px;
}

.errorSection{
    color:red; 
    background: white; 
    margin: 10px 10px 10px 10px;
    padding: 5px 15px 5px 15px;
}

#btnConfirm {
    display: block;
    padding: 5 20px;
    width: auto;
    text-align: center;
    height: 40px;
    margin: 0px auto;
    border: 1px solid #181818;
    line-height: 40px;
}

#appointment_faq {
    width: 80%;
    margin-top: 40px;
    background: #FFFFFF;
}

.faq-heading{
    font-size: 20px;
    font-weight: 900;
    font-family: 'gibsonregular'; 
}

.bookAppointmentA{
    margin-top: 2em;
    background: #FFD814;
    color: #000;
    padding: 1em 3em;
    border-radius: 30px;
    display: inline-block;
    font-weight: 500;
    font-size: 1.5em;
}

.bookAppointmentA:hover{
    background: #E18C32;
    color: #FFFFFF !important;
}

.appointmentModal {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 13;
    background:rgba(0,0,0,0.75);
}

.modal-inner {
    max-width:700px;
    width:90%;
    padding:25px;
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

.modal-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.modal-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    color:#fff !important;
    text-decoration:none;
}   

.closeText{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #111143;
    color: #FFFFFF;
    padding: 1em 2em;
    border-radius: 30px;
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
}

.closeText:hover{
    background: #060623;
    color: #CCCCCC !important;
}

.appoitnmentStatusError{
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    line-height: 1.75rem;
}

.appoitnmentStatusSuccess{
    text-align: center;
    line-height: 1.5rem;
}

.appoitnmentStatusSuccess h2{
    color: #000000;
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.appoitnmentStatusSuccess p{
    color: #000000;
    font-size: 1.15em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 200;
}

#pageWrapper p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}