/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jul, 2016, 4:41:39 PM
    Author     : ajith
*/

.product-price{
    margin-top: 2px !important;
    color: #000;
    letter-spacing: 0;
    font-size: 18px !important;
    text-align: center !important;
}

.bx-controls-direction .disabled{
    display: none !important;
}

.slider_classic {
    min-height: 225px; 

}
.slider_classic img{
    height: 173px;
}