/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jul, 2016, 4:41:39 PM
    Author     : ajith
*/

#about-us,
#featured,
#workshop,
#testimonials,
#connect
{
    text-align: center;
}

#about-us h1,
#featured h2,
#workshop h2,
#testimonials h3,
#connect h3
{
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 14px;
    margin-bottom: 65px;
    color: #111111;
    letter-spacing: 0.15em;
    font-weight: bold;
    line-height: 14px;
    display: inline-block;
}
#workshop h2{
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
}

.newletter-content h5 {
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 32px;
    font-size: 30px;
}