/** RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%; 
  vertical-align: baseline;
  background: transparent; } 

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* header begins here */
.main, #main {
  position: relative; }

header, #header {
  background: #f1f0ee;
  display: block;
  min-width: 100%;
  background: #f1f0ee;
  z-index: 9999; }
.inspiration #toolbar-sticky-wrapper #toolbar {
height: 50px;
}
.inspiration #toolbar.toolbarScroll {
    background: url("../img/logo_inline.png") -635px 40px no-repeat transparent;  } 

.inspiration #toolbar-sticky-wrapper.is-sticky #toolbar {
  background: url("../img/header-pattern.png") -1px 44px repeat-x; }

#toolbar-sticky-wrapper.is-sticky #toolbar {
  background: url("../img/header-pattern.png") 3px 40px repeat-x; }

#toolbar {
  width: 100%;
  height: 50px;
  background: url("../img/logo_inline.png") bottom center no-repeat;
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;
  font-family: "gibsonsemibold_italic";
  letter-spacing: 1px; }
  #toolbar:after {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    top: 39px;
    width: 100%;
    z-index: -1; }
  #toolbar .toolbarInner {
    background: #f1f0ee;
    padding: 0px;
    height: 39px; }
  #toolbar.toolbarScroll {
    background: url("../img/header-pattern.png") repeat-x scroll 2px 40px transparent;  } 
  #toolbar.toolbarScroll:after {
    background: url("../img/main_slider_border_top.png") repeat-x scroll 6px 100% transparent; }
  #toolbar .left {
    margin: 10px 0 0 4px; }
    #toolbar .left#breadcrumb {
      font-family: "gibsonregular";
      font-size: 10px;
      color: #5d5859;
      letter-spacing: 0.06em; }
    #toolbar .left#breadcrumb a {
      color: #5d5859;
      padding-right: 13px;
      background: url("../img/icons/breadcrumb_bg.png") right center no-repeat;
      margin-right: 4px; }
    #toolbar .left a span {
      color: #21a1c4;
      font-family: "gibsonsemibold_italic"; }
  #toolbar .right {
    margin: 0 0 0 0;
    padding: 10px 0; }
    #toolbar .right ul {
      float: left; }
      #toolbar .right ul li {
        float: left;
        padding-left: 25px;
        margin-left: 20px;
        display: inline-block; }
        #toolbar .right ul li a {
          color: #3d3a3b;
          font-family: "gibsonitalic"; }
        #toolbar .right ul li.top_our_story {
          background: url("../img/our_story.png") 3px 0px no-repeat; }
          #toolbar .right ul li.top_our_story:hover {
            background: url("../img/our_story_hover.png") 3px 0px no-repeat; }
        #toolbar .right ul li.login {
          background: url("../img/login.png") 0px 3px no-repeat; }
          #toolbar .right ul li.login:hover {
            background: url("../img/login_hover.png") 0px 3px no-repeat; }
        #toolbar .right ul li.cart {
          background: url("../img/cart.png") left center no-repeat; }
          #toolbar .right ul li.cart.active {
            background: url("../img/cart_hover.png") left center no-repeat; }
          #toolbar .right ul li.cart:hover {
            background: url("../img/cart_hover.png") left center no-repeat; }
          
.home .shopping_cart_mini{
    margin-right: -560px;      
} 

.shopping_cart_mini {
  width: 237px;
  background: #fff;
  padding-bottom: 71px;
  border-bottom: 16px solid #e1e0de;
  z-index: 9998;
  text-transform: uppercase;
  position: fixed;
  top: 43px;
  margin-right: -480px;
  right: 50%;
  display: none;
  margin-top: -500px; }
  .shopping_cart_mini > div {
    height: 54px;
    margin: 0 13px;
    border-bottom: 1px dotted #333333;
    font-family: "gibsonlightitalic";
    font-size: 10px;
    line-height: 11px;
    color: #000000;
    letter-spacing: 0.1em;
    position: relative; }
  .shopping_cart_mini h4 {
    font-family: "gibsonregular";
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #4b4848;
    text-align: center;
    padding: 6px 0;
    margin: 0;
    background: url("../img/shopping_cart_h4.png") center bottom no-repeat; }
  .shopping_cart_mini .emptyCart {
    text-align: center;
    color: #626057;
    font-size: 16px;
    padding: 30px 10px;
    margin: 0;
    line-height: 20px;
    height: auto;
    border: 0;
    font-family: "gibsonregular";
    text-transform: none; }
  .shopping_cart_mini .cart-item {
    margin-top: 10px; }
    .shopping_cart_mini .cart-item .ico-img {
      position: absolute;
      width: 80px;
      height: 50px;
      display: inline-block;
      left: -13px; }
      .shopping_cart_mini .cart-item .ico-img img {
        position: absolute;
        width: 100%; }
    .shopping_cart_mini .cart-item .shoppingCartRightDet {
      display: inline-block;
      width: 157px;
      position: absolute;
      right: -13px; }
   .shopping_cart_mini .shoppingCartRightDet small

{

	color:#000000;

	font-size:10px;

	font-family:"gibsonitalic";

}

body .shopping_cart_mini > div .price {

  position: absolute;

  right: 0;

  bottom: 6px;

}

/* line 5797, scss/_main.scss */

body .shopping_cart_mini > div .price span {

  font-family: "gibsonsemibold";

  margin-left: 2px;

}

/* line 5802, scss/_main.scss */

body .shopping_cart_mini > div div {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

/*  padding: 5px 0 10px 60px;*/

}

/* line 5806, scss/_main.scss */

body .shopping_cart_mini > div div span {

  display: block;

  font-family: "gibsonsemibold";

}

/* line 5811, scss/_main.scss */

body .shopping_cart_mini > div .remove {

  text-transform: uppercase;

  color: #ed5225;

  font-size: 10px;

  line-height: 22px;

  text-align: right;

  position: absolute;

  top: 2px;

  right: 0;

  float: right;

  padding: 0;

}

/* line 5822, scss/_main.scss */

body .shopping_cart_mini > div .remove .ico {

  background: url('../img/icons/shopping_cart_remove.png?1373878420') center center no-repeat;

  width: 21px;

  height: 21px;

  text-indent: -666em;

  margin-left: 4px;

  display: inline-block;

}

/* line 5830, scss/_main.scss */

body .shopping_cart_mini > div .remove .text {

  font-family: "gibsonitalic";

  position: absolute;

  left: -43px;

  display: none;

}

/* line 5837, scss/_main.scss */

body .shopping_cart_mini > div .remove:hover .ico {

  background-image: url('../img/icons/shopping_cart_remove_hover.png?1373878423');

}

/* line 5840, scss/_main.scss */

body .shopping_cart_mini > div .remove:hover .text {

  display: inline-block;

}

/* line 5846, scss/_main.scss */

body .shopping_cart_mini img {

  height: 54px;

  float: left;

}

/* line 5850, scss/_main.scss */

body .shopping_cart_mini .total {

  padding: 5px 3px 0;

  background: url('../img/shopping_cart_mini_last.png?1373878413') center top no-repeat;

  border-bottom: 1px dotted #333333;

  margin: 0 10px;

  font-size: 10px;

  line-height: 21px;

  text-align: right;

  letter-spacing: 0.075em;

  position: relative;

  top: -1px;

  font-family:gibsonsemibold;

  color:#000;

}

/* line 5861, scss/_main.scss */

body .shopping_cart_mini .total span {

  line-height: px;

  margin-left: 30px;

}

/* line 5866, scss/_main.scss */

body .shopping_cart_mini .button {

  background: url('../img/shopping_cart_button_blue.png?1373878416') center 2px no-repeat;

  width: 211px;

  height: 55px;

  text-align: center;

  line-height: 47px;

  display: inline-block;

  color: white;

  font-size: 16px;

  font-family: "gibsonregular";

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  padding-top: 2px;

  position: absolute;

  bottom: 11px;

  right: 13px;

}

/* line 5882, scss/_main.scss */

body .shopping_cart_mini .button:hover {

  background: url('../img/shopping_cart_button_hover.png?1373878414') center center no-repeat;

  width: 242px;

  height: 85px;

  padding-left: 28px;

  color: #21a0c2;

  margin-bottom: -30px;

}


#logo-sticky-wrapper.is-sticky #logo {
  left: 50%;
  margin-left: -132px;
  top: -65px !important;
  width: 264px;
  z-index: 9999; }
  #logo-sticky-wrapper.is-sticky #logo a {
      z-index: 9999;
    background: url("../img/logo-small.png") center bottom no-repeat; }

#logo {
  position: absolute;
  left: 50%;
  margin-left: -132px;
  top: 15px;
   /* position: fixed; 
   top: 0px;*/
   z-index: 9999;
}
body.home #logo{
    top:0 !important;
    position:fixed !important;
}
body.home #logo a{
    background: url("../img/logo-small.png") center bottom no-repeat !important;
    height:30px !important;
}
  #logo a {
    color: transparent;
    text-indent: -9999px;
    z-index: 9999;
    background: url("../img/logo.png") center bottom no-repeat;
    width: 255px;
    /*height: 30px;*/
    height:97px;
    display: inline-block;
    position: relative;
    margin-left: 9px;
    margin-top: 1px; }

/* slider begins here */
.hs-image {
  position: absolute;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important; }

.hs-image-container .hs-image-page-link {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2; }

.about .quote h1.align-left {
  margin: 51px 0 56px 0;
  line-height: 55px;
  text-align: left;
  padding-left: 122px; }

.privacy .main .content {
  width: 100% !important; }
  .privacy .main .content .dot li {
    list-style-type: disc !important; }

/* footer begins here */
#footer {
  background: #595850; }
  #footer section {
    padding: 0 4px 15px;
    letter-spacing: 1px; }
    #footer section .row {
      width: 208px;
      float: left;
      font-family: "gibsonsemibold";
      text-transform: uppercase; }
      #footer section .row h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.14em;
        margin-top: 17px;
        line-height: 24px;
        padding-left: 20px; }
      #footer section .row ul li, #footer section .row ul a {
        color: #dcdacf;
        font-size: 10px;
        line-height: 24px; }
      #footer section .row ul a {
        padding-left: 20px; }
      #footer section .row ul li > a:hover {
        background: url("../img/footer_nav_hover.png") no-repeat; }
      #footer section .row ul span {
        margin-left: 20px;
        float: left;
        margin-top: 3px; }
      #footer section .row ul #socials {
        display: inline-block;
        margin: 3px 0 0 3px; }
        #footer section .row ul #socials a {
          width: 27px;
          height: 21px;
          float: left;
          text-indent: -9999px;
          margin: 0 3px 0 0;
          padding: 0; }
        #footer section .row ul #socials .facebook {
          background: url("../img/icons/facebook.png") center center no-repeat; }
          #footer section .row ul #socials .facebook:hover {
            background: url("../img/icons/facebook_hover.png") center center no-repeat; }
        #footer section .row ul #socials .twitter {
          background: url("../img/icons/twitter.png") center center no-repeat; }
          #footer section .row ul #socials .twitter:hover {
            background: url("../img/icons/twitter_hover.png") center center no-repeat; }
        #footer section .row ul #socials .pinterest {
          background: url("../img/icons/pinterest.png") 5px 0px no-repeat; }
          #footer section .row ul #socials .pinterest:hover {
            background: url("../img/icons/pinterest_hover.png") 0px 0px no-repeat; }
        #footer section .row ul #socials .instagram {
          background: url("../img/icons/instagram.png") 3px 0px no-repeat; }
          #footer section .row ul #socials .instagram:hover {
            background: url("../img/icons/instagram_hover.png") 0px 0px no-repeat; }
    #footer section .newsletter {
      width: 328px; }
      #footer section .newsletter .keeptouchform {
        margin: 7px 0 0 20px; }
        #footer section .newsletter .keeptouchform .email {
          background: #595850 url("../img/footer_input_bg.png") center center no-repeat;
          border: none;
          width: 248px;
          height: 41px;
          text-indent: 17px;
          font-family: "gibsonsemibold"; }
        #footer section .newsletter .keeptouchform .email:focus, #footer section .newsletter .keeptouchform .email:active {
          background: white url("../img/footer_input_bg_hover.png") center center no-repeat;
          border-radius: 6px; }
        #footer section .newsletter .keeptouchform .focused {
          background: url("../img/footer_input_bg_hover.png") !important; }
        #footer section .newsletter .keeptouchform .submit {
          background: url("../img/footer_button_submit.png") center center no-repeat;
          text-indent: -999999px;
          color: transparent;
          width: 40px;
          height: 41px;
          border: none;
          cursor: pointer; }
        #footer section .newsletter .keeptouchform .submit:hover {
          background: url("../img/footer_button_submit_hover.png") center center no-repeat; }
        #footer section .newsletter .keeptouchform .thanksforsignup {
          height: 14px;
          margin: 6px 0 2px; }
          #footer section .newsletter .keeptouchform .thanksforsignup h2 {
            color: #DCDACF;
            display: none;
            font-size: 10px;
            margin: 0; }
  #footer:before {
    content: '';
    display: block;
    background: url("../img/footer_div.png");
    height: 5px;
    position: relative;
    top: -5px; }
  #footer .bottom {
    padding: 10px 20px 10px 24px; }
    #footer .bottom p, #footer .bottom a {
      display: inline-block;
      color: #DCDACF;
      font-size: 11px;
      line-height: 24px;
      text-transform: none;
      margin: 0;
      font-family: sans-serif; }
    #footer .bottom a:hover {
      color: #FFFFFF; }
    #footer .bottom p.float-left {
      float: left; }
    #footer .bottom a.float-right {
      float: right;
      margin: 0 0 0 15px; }

/* design step styles */
.step_one #preloader,
.step_style #preloader,
.step_four #preloader,
.step_five #preloader,
body.cart #preloader {
  display: none !important; }

.designStep #header {
  height: 39px; }
  .designStep #header #toolbar {
    background: url("../img/header-pattern.png") 3px 40px repeat-x; }
.designStep #logo, .designStep #logo-sticky-wrapper.is-sticky #logo {
  top: 12px !important;
  position: fixed;
  z-index: 99999; }
.designStep #logo a {
  height: 20px;
  background: url("../img/logo-small.png") center bottom no-repeat; }
.designStep .shape_visualization #vis_buttons {
  border-right: 1px dotted #565656;
  border-left: 1px dotted #565656;
  bottom: 90px;
  color: #565656;
  font-size: 10px;
  height: 29px;
  left: 50%;
  line-height: 29px;
  padding: 0 15px;
  position: absolute;
  text-transform: uppercase;
  width: 146px;
  margin-left: -89px;
  z-index: 9; }
  .designStep .shape_visualization #vis_buttons span {
    float: left;
    margin-right: 6px;
    text-indent: 11px; }
  .designStep .shape_visualization #vis_buttons .rotate {
    width: 24px;
    height: 27px;
    background: url("../img/icons/popup_rotate_left.png") center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 6px; }
  .designStep .shape_visualization #vis_buttons .rotate.right {
    background: url("../img/icons/popup_rotate_right.png");
    margin: 0 0px 0 1px;
    float: left; }
.designStep #menu_left {
  position: absolute;
  width: 161px;
  margin-left: 0;
  z-index: 9;
  margin-top: -18px; }
  .designStep #menu_left .add_monogram *, .designStep #menu_left .remove_monogram * {
    font-family: "gibsonsemibold";
    letter-spacing: 1px !important;
    font-size: 16px; }
  .designStep #menu_left .add_monogram > p, .designStep #menu_left .remove_monogram > p {
    color: #119fc5 !important;
    font-size: 16px !important; }
  .designStep #menu_left .add_monogram p, .designStep #menu_left .remove_monogram p {
    margin: 0 !important;
    font-family: "gibsonsemibold" !important;
    padding: 0;
    float: left;
    margin: 5px 0 !important;
    width: 100%; }
  .designStep #menu_left .add_monogram span, .designStep #menu_left .remove_monogram span {
    font-family: "gibsonregular" !important;
    font-size: 13px;
    color: #565656; }
  .designStep #menu_left .add_monogram .mbtn, .designStep #menu_left .remove_monogram .mbtn {
    display: inline;
    color: #fff;
    text-transform: uppercase;
    font-family: "gibsonregular";
    font-size: 13px;
    padding: 3px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer; }
  .designStep #menu_left .add_monogram .blue_btn, .designStep #menu_left .remove_monogram .blue_btn {
    background: #22a8cd;
    float: left;
    margin-top: 3px; }
  .designStep #menu_left .add_monogram .black_btn, .designStep #menu_left .remove_monogram .black_btn {
    background: #4d4d4d;
    clear: both;
    float: left; }
  .designStep #menu_left .add_monogram #size_box {
    width: 100px;
    border: 1px solid #cccbc9;
    border-radius: 5px;
    float: left;
    color: #545253;
    text-transform: uppercase;
    padding: 7px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    font-family: "gibsonsemibold";
    font-size: 16px; }
  .designStep #menu_left .remove_monogram {
    display: none; }

.createNewContainer .headline, .choseShapeDetailInner .headline {
  font-family: "tabac_g3regular";
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  color: #565656; }
  .createNewContainer .headline span, .choseShapeDetailInner .headline span {
    color: #4ba7cb;
    font-family: "tabac_g2bold";
    background: url("../img/icons/blue_arrow_right.png") right center no-repeat;
    padding-right: 20px;
    margin-right: 12px; }

.createNewContainer #stepMain {
  /*height: 144px;*/
  z-index: 99;
  width: 100%;
  background: #F1F0EE;
  padding-top: 14px;
  left: 0; }
  .createNewContainer #stepMain .wrapper {
    overflow: visible; }
  .createNewContainer #stepMain .createNewNav {
    position: relative; }
    .createNewContainer #stepMain .createNewNav li {
      float: left;
      display: inline-block;
      width: 152px;
      text-align: center;
      height: 48px;
      margin: 0 0 0 5px; }
      .createNewContainer #stepMain .createNewNav li a {
        color: #818181;
        height: 48px;
        line-height: 48px;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 999;
        font-size: 14px; }
        .createNewContainer #stepMain .createNewNav li a span {
          background: url("../img/icons/black_arrow_right.png") left center no-repeat;
          width: 140px;
          height: 48px;
          display: inline-block; }
      .createNewContainer #stepMain .createNewNav li a.active, .createNewContainer #stepMain .createNewNav li a.hover {
        background: url("../img/createNew_links_bg_hover.png") 0 -2px no-repeat;
        height: 88px;
        width: 224px;
        position: absolute;
        margin-left: -34px;
        padding-left: 7px; }
        .createNewContainer #stepMain .createNewNav li a.active span, .createNewContainer #stepMain .createNewNav li a.hover span {
          background: none; }
      .createNewContainer #stepMain .createNewNav li a.no-bg {
        cursor: default; }
    .createNewContainer #stepMain .createNewNav li:first-of-type {
      margin: 0 0 0 0 !important; }
      .createNewContainer #stepMain .createNewNav li:first-of-type span {
        background: none; }
    .createNewContainer #stepMain .createNewNav .progressBar {
      bottom: -18px;
      height: 5px;
      left: 5px;
      position: absolute;
      background: url("../img/progress_bar.png") repeat-x; }
  .createNewContainer #stepMain .stepFlowBar {
    height: 15px;
    background: #E1E0DE;
    margin-top: 8px; }

.step_one #design_main_links,
.step_style #design_main_links,
.step_two #design_main_links,
.step_three #design_main_links,
.step_four #design_main_links {
  display: none; }

.step_four .shoe_details_inner {
  display: none; }

.step_one #vis_buttons {
  bottom: 20px !important; }
.step_style #stepMain {
  padding-bottom: 5px;
  background: #f1f0ee url("../img/patterned_rule912.png") center bottom no-repeat; }
  .step_one #stepMain .createNewNav .progressBar {
    width: 75px; }
.step_one #stepMain {
  padding-bottom: 5px;
  background: #f1f0ee url("../img/patterned_rule912.png") center bottom no-repeat; }
  .step_one #stepMain .createNewNav .progressBar {
    width: 75px; }
.step_one .visualImgWrap img {
  width: 110% !important;
  margin-top: -45px; } 

.step_style #vis_buttons {
  bottom: 20px !important; }
.step_style #stepMain {
  padding-bottom: 5px;
  background: #f1f0ee url("../img/patterned_rule912.png") center bottom no-repeat; }
.step_style #stepMain {
  padding-bottom: 5px;
  background: #f1f0ee url("../img/patterned_rule912.png") center bottom no-repeat; }
.step_style .visualImgWrap img {
  width: 110% !important;
  margin-top: -45px; } 

.basicStyleContainer {
  width: 912px;
  margin: auto;
  min-height: 430px; }
  .basicStyleContainer .no-item {
    background: url(../img/coming_soon.png) 0px -4px no-repeat; }
    .basicStyleContainer .no-item li:hover {
      background: none !important;
      cursor: default !important; }
  .basicStyleContainer .basicStyleBox {
   /* background: url(../img/shape_bg.png) repeat;*/
    margin: 0px 16px 0 0;
    /*float: left; */}
  .basicStyleBox .shapeTypeList {
     width: 960px;
    margin: 30px auto 0 auto;
    display: block; 
    }
    .basicStyleBox .shapeTypeList li h6{
        margin: 10px 0;
    }
    .basicStyleBox .shapeTypeList li .imgShap {
        background: url(../img/shape_bg.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
        padding: 12px;
        border: 1px solid #E7E7E7;
    }
    
    .basicStyleBox.styles .shapeTypeList {
      width: 960px;
        display: block;
    }
   .basicStyleBox .style ul.shapeTypeList {
    width: 960px;
}
    .basicStyleContainer .basicStyleBox h2 {
      color: #565656;
      font-family: "tabac_g2bold";
      font-size: 14px;
      letter-spacing: 0.03em;
      margin: 5px 0;
      text-align: center; }
      .basicStyleContainer .basicStyleBox h2 .q_symbol {
        width: 14px !important;
        height: 14px !important;
        margin-top: -4px !important;
        cursor: pointer; }
    .basicStyleContainer .basicStyleBox .shapeTypeList li {
      display: inline-block; /* block*/
      height: 150px;
      position: relative;
      text-align: center;
      width: 224px;
      cursor: pointer;
      margin: 0 0;
    }
      .basicStyleContainer .basicStyleBox .shapeTypeList li img {
        width: 100%;
        height: 100%;
        margin-top: 5px;
        /*margin-bottom: 8px;*/ }
      .basicStyleContainer .basicStyleBox .shapeTypeList li img.active {
        display: none;
        width: 100% !important;
        height: 122% !important; }
      .basicStyleContainer .basicStyleBox .shapeTypeList li span {
        bottom: 5px;
        color: #565656;
        display: inline-block;
        font-family: "gibsonitalic";
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 0.09em;
        line-height: 13px;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%; }
/*    .basicStyleContainer .basicStyleBox .shapeTypeList li:hover img.active {
      display: inline-block;
      z-index: -1; }
    .basicStyleContainer .basicStyleBox .shapeTypeList li:hover {
      background: url("../img/closure_hover.png") no-repeat scroll center top transparent; }
    .basicStyleContainer .basicStyleBox .shapeTypeList li:hover img {
      display: none; }
    .basicStyleContainer .basicStyleBox .shapeTypeList li:hover .imgShap {
      height: 65px;
      margin: 4px;
      cursor: pointer;
      position: relative;
      top: 5px;
      overflow: visible; } */
    .basicStyleContainer .basicStyleBox .shapeTypeList li:first-child {
      /*margin-left: 0;*/ }
  .basicStyleContainer .lastShapeBox:last-of-type {
    margin-right: 0; }

.designStep .shape_popup {
  display: none;
  height: 0;
  position: fixed;
  top: 15px;
  width: 960px;
  z-index: 9997;
  background: #f1f0ee; }

.designStep .colors_popup {
  display: none;
  height: 120px;
  position: fixed;
  width: 960px;
  z-index: -1;
  overflow: visible; }
  .designStep .colors_popup .colorsMenuWrap {
    position: absolute;
    right: 0;
    top: 68px;
    width: 168px;
    overflow: visible; }
    .designStep .colors_popup .colorsMenuWrap .color_menu {
      margin: 0 0 0 10px;
      padding: 0;
      list-style: none;
      float: right;
      width: 73px;
      height: 48px;
      overflow: visible; }
      .designStep .colors_popup .colorsMenuWrap .color_menu a {
        font-family: "gibsonsemibold";
        font-size: 13px;
        color: #565656;
        line-height: 12px;
        text-transform: lowercase;
        font-variant: small-caps;
        background: url("../img/lacing_bg.png") center top no-repeat !important;
        display: inline-block;
        padding: 18px 10px 6px 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .designStep .colors_popup .colorsMenuWrap .color_menu ul {
        margin: 1px 0 0;
        padding: 2px 1px 8px;
        position: relative;
        border-top: 1px dotted #565656;
        background: url("../img/swatches_bg.png") no-repeat;
        display: none;
        width: 71px; }
        .designStep .colors_popup .colorsMenuWrap .color_menu ul li {
          display: inline-block;
          text-align: center;
          padding: 0 3px 2px 0;
          background: #FFF;
          float: left;
          position: relative; }
          .designStep .colors_popup .colorsMenuWrap .color_menu ul li .color-elem {
            height: 25px;
            width: 29px;
            border: 1px solid #CCC; }
        .designStep .colors_popup .colorsMenuWrap .color_menu ul li:nth-child(2n+1) {
          padding-left: 3px; }
    .designStep .colors_popup .colorsMenuWrap .color_menu.dropdown ul {
      display: inline-block; }

/*	&:after{
		background: url("../img/icons/pattern_bar960.jpg") no-repeat scroll left center transparent;
		bottom: 0;
		content: " ";
		height: 16px;
		position: absolute;
		width: 100%;
		display: table;
		z-index: 9;
	}*/
.step_one .shape_visualization,
.step_style .shape_visualization {
  background: #fff;
  height: 474px;
  /* 428px*/
  position: relative;
  text-align: center;
  width: 776px;
  float: left; }

.designStep .shape_visualization {
  min-height: 494px;
  /* 428px*/
  position: relative; }
  .designStep .shape_visualization .visualImgWrap {
    margin: auto;
    width: 708px;
    min-height: 400px;
    position: relative;
    top: -20px; }
    .designStep .shape_visualization .visualImgWrap img {
      width: 110%;
      z-index: 1;
      cursor: move; }
    .designStep .shape_visualization .visualImgWrap img#error {
      display: none !important; }
    .designStep .shape_visualization .visualImgWrap img.float-top {
      position: absolute;
      top: 0;
      margin-top: 0 !important; }
  .designStep .shape_visualization #thumb_wrapper {
    height: auto;
    position: relative;
    bottom: 80px;
    margin: 0 auto;
    width: auto;
    display: inline-block;
    overflow: visible; }
    .designStep .shape_visualization #thumb_wrapper .thumbs {
      width: 420px;
      height: auto;
      float: left;
      margin-left: 30px; }
      .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list {
        float: left; }
        .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li {
          width: 90px;
          height: 50px;
          margin-right: 10px;
          float: left;
          background: #fff;
          cursor: pointer;
          border: 1px solid #ccc;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box; }
          .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li img {
            margin-top: 5px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity=50);
            opacity: 0.5; }
          .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li span {
            position: absolute;
            background: #2B2B2B;
            color: #FFF;
            font-size: 12px;
            font-family: gibsonregular;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            top: -30px;
            width: 70px;
            margin-left: 8px;
            padding: 2px 0;
            display: none; }
          .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li span:after {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #2B2B2B;
            border-bottom: none;
            content: "";
            position: absolute;
            bottom: -7px;
            left: 50%;
            margin-left: -5px; }
        .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li:hover > img, .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li.active > img {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          opacity: 1; }
        .designStep .shape_visualization #thumb_wrapper .thumbs .thumbs_list li:hover > span {
          display: block; }
    .designStep .shape_visualization #thumb_wrapper .nextLast {
      float: left;
      display: inline-block;
      width: 150px;
      background: #f8f8f8;
      height: 50px;
      border: 1px dotted #4ba7cb;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 50px;
      color: #000;
      font-family: gibsonregular; }
    .designStep .shape_visualization #thumb_wrapper .nextLast:hover {
      color: #4ba7cb; }
    .designStep .shape_visualization #thumb_wrapper .control {
      -webkit-background-size: 70px !important;
      background-size: 70px !important;
      width: 40px;
      height: 50px;
      display: block; }
    .designStep .shape_visualization #thumb_wrapper #next {
      float: right;
      background: url("../img/icons/arrows.png") no-repeat right center; }
    .designStep .shape_visualization #thumb_wrapper #prev {
      float: left;
      background: url("../img/icons/arrows.png") no-repeat left center; }
.designStep .choseShapeDetailRight {
  width: 170px;
  float: right;
  padding-left: 14px;
  height: 494px;
  background: url("../img/shape_bg.png");
  color: #4c4c4c; }
  .designStep .choseShapeDetailRight .shoe_details .item-title {
    font-family: "tabac_g2bold";
    font-size: 16px;
    margin: 12px 0 5px 0px;
    text-transform: capitalize; }
  .designStep .choseShapeDetailRight .shoe_details .item-type {
    font-family: "gibsonregular";
    font-size: 14px;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.06em; }
  .designStep .choseShapeDetailRight .shoe_details .item-desc {
    font-family: "tabac_g3regular";
    font-size: 11px;
    margin: 15px 10px 0 0; }
  .designStep .choseShapeDetailRight .shoe_details #price_div {
    font-family: "gibsonsemibold";
    font-size: 9px; }
    .designStep .choseShapeDetailRight .shoe_details #price_div .symbol {
      font-size: 18px;
      vertical-align: top;
      line-height: 30px; }
    .designStep .choseShapeDetailRight .shoe_details #price_div .price {
      font-size: 24px; }
    .designStep .choseShapeDetailRight .shoe_details #price_div .shipping {
      display: inline-block;
      font-variant: small-caps;
      letter-spacing: 0.1em;
      line-height: 10px;
      padding-left: 4px;
      text-transform: lowercase;
      width: 96px; }
      .designStep .choseShapeDetailRight .shoe_details #price_div .shipping big {
        color: #22a9cd; }
  .designStep .choseShapeDetailRight #continue_btn {
    font-family: "gibsonregular";
    font-size: 17px;
    background: white url("../img/icons/create.png") center 8px no-repeat;
    -webkit-background-size: 26px;
    background-size: 26px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    position: absolute;
    width: 156px;
    height: 70px;
    text-align: center;
    line-height: 100px;
    top: 395px;
    cursor: pointer; }
  .designStep .choseShapeDetailRight #continue_btn:before {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    margin: 7px 0 0 -12px;
    border-left: 19px solid transparent;
    border-right: 0px solid;
    border-top: 0px solid;
    border-bottom: 19px solid transparent;
    left: -7px;
    top: -3px; }
  .designStep .choseShapeDetailRight #continue_btn:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-left: 19px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 19px solid transparent;
    right: 3px;
    top: inherit;
    top: 70px;
    display: block; }
  .designStep .choseShapeDetailRight #continue_btn:hover {
    -webkit-box-shadow: -19px 19px 6px 0 rgba(207, 207, 207, 0.75);
    box-shadow: -19px 19px 6px 0 rgba(207, 207, 207, 0.75); }
  .designStep .choseShapeDetailRight #continue_btn:hover:before {
    border-bottom: 19px solid rgba(207, 207, 207, 0.75); }
  .designStep .choseShapeDetailRight #continue_btn:hover:after {
    border-left: 19px solid rgba(207, 207, 207, 0.75); }
.designStep .popup_pattern_bar {
  bottom: 0;
  height: 16px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background: url("../img/icons/pattern_bar960.jpg") no-repeat scroll left center transparent; }
  .designStep .popup_pattern_bar .shape_popup_close {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0; }

.designStep .top_slide_bg {
  background: #fff; }
  .designStep .top_slide_bg .topSliderLeft {
    float: left;
    width: 130px;
    height: 110px; }
    .designStep .top_slide_bg .topSliderLeft .styleList {
      padding: 13px 0 0 13px; }
      .designStep .top_slide_bg .topSliderLeft .styleList li {
        line-height: 17px; }
        .designStep .top_slide_bg .topSliderLeft .styleList li a {
          color: #C5C3C1;
          font-family: "gibsonsemibold";
          font-size: 16px;
          line-height: 16px; }
      .designStep .top_slide_bg .topSliderLeft .styleList li a:hover, .designStep .top_slide_bg .topSliderLeft .styleList li a.active {
        color: #565656; }
      .designStep .top_slide_bg .topSliderLeft .styleList li a:hover span, .designStep .top_slide_bg .topSliderLeft .styleList li a.active span {
        background: url("../img/icons/black_right_arrow.png") right no-repeat;
        padding-right: 15px; }
  .designStep .top_slide_bg .topSliderRight {
    float: right;
    width: 786px;
    height: 98px;
    margin: 6px 36px 0 0; }
    .designStep .top_slide_bg .topSliderRight .bx-wrapper ul {
      float: left; }
      .designStep .top_slide_bg .topSliderRight .bx-wrapper ul li {
        width: 151px !important;
        height: 98px; }
        .designStep .top_slide_bg .topSliderRight .bx-wrapper ul li img {
          width: 143px;
          margin: 8px 0px 0px 4px; }
      .designStep .top_slide_bg .topSliderRight .bx-wrapper ul li:hover, .designStep .top_slide_bg .topSliderRight .bx-wrapper ul li:hover {
        background: url("../img/toe_styling_hover.png") center center no-repeat; }

/* steps  styles */

.step_style .createNewNav .progressBar {
    width: 233px; }
.step_two .createNewNav .progressBar {
  width: 389px; }

.step_three .createNewNav .progressBar {
  width: 547px; }

.step_four .createNewNav .progressBar {
  width: 860px; }

.step_five .createNewNav .progressBar {
  width: 703px; }

.step_five #preloader {
  background: #F1F0EE;
  z-index: 9; }

body.step_three {
  width: 98px !important; }
  body.step_three .top_slide_bg .topSliderRight {
    float: right !important;
    width: 725px !important;
    height: 98px !important;
    margin: 2px 36px 0 0 !important; }
    body.step_three .top_slide_bg .topSliderRight .bx-wrapper ul li {
      width: 98px !important;
      height: 98px !important; }
      body.step_three .top_slide_bg .topSliderRight .bx-wrapper ul li img {
        margin: 8px 0px 0px 0px !important; }
  body.step_three .img-style li img, body.step_three .img-style li {
    width: 98px !important;
    height: 98px !important; }
  body.step_three .img-style li:hover {
    background: none !important; }

.inspiration #main:after,
.accounts #secondary:after {
  background: #f1f0ee url("../img/scrapbook_bg_bottom.png") center bottom repeat-x;
  width: 100%;
  position: absolute;
  content: "";
  display: inline-block;
  height: 12px;
  z-index: -1; }

#style_path {
  opacity: 0;
  position: absolute;
  z-index: 8; }

#loader {
  background-color: rgba(255, 255, 255, 0.4);
  width: 960px;
  margin: auto;
  display: none; }
  #loader div {
    background-image: url("../img/icons/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 35px auto;
    background-size: 35px auto;
    height: 80px;
    margin: auto; }

/* rename and share popup styles */
.step_four .messageBoxBlue {
  width: 700px; }

.step_four .messageBox .header_blue {
  height: 20px;
  width: 100%;
  background: #54B6DD; }

.step_four .popup_content {
  clear: both;
  float: left;
  background: #FFF;
  width: 100%;
  height: 310px; }

.step_four .messageBox .shape_popup_close {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  background: url(../img/icons/close_btn.png) 0 0 no-repeat;
  right: 6px;
  top: 2px; }

.step_four .messageBox .shape_popup_close:hover {
  background: url(../img/icons/close_popup.jpg) no-repeat; }

.step_four .messageBox .popup_pattern_bar {
  height: 16px;
  float: left;
  clear: both;
  background: url(../img/icons/pattern_bar960.jpg) no-repeat -5px 0;
  width: 100%; }

.step_four .messageBox .popup_shoe_image {
  float: left;
  width: 350px;
  height: auto;
  overflow: hidden; }

.step_four .messageBox .popup_shoe_image img {
  width: 380px;
  height: auto;
  margin-top: 60px; }

.step_four .messageBox .shoe_share_title {
  font-family: "gibsonsemibold" !important;
  margin-bottom: 0;
  font-size: 2em;
  margin-top: 0.67em; }

.step_four .messageBox .popup_shoe_desc * {
  font-family: gibsonregular;
  color: #444; }

.step_four .messageBox .popup_shoe_desc {
  float: right;
  width: 325px; }

.step_four .messageBox .shoe_share_summary {
  font-size: 15px;
  margin: 5px 12px 10px 0; }

.step_four .messageBox #shoe_edit_box {
  background: url(../img/select_two_pattern.png) no-repeat top left, url(../img/select_two_pattern.png) no-repeat bottom left;
  padding: 20px 0 20px 10px;
  overflow: hidden; }

.step_four .messageBox .shoe_title {
  text-transform: uppercase;
  font-size: 13px;
  float: left; }

.step_four .messageBox .shoe_name {
  margin: 0;
  font-size: 16px;
  /*  text-transform: uppercase;*/
  display: inline-block;
  float: left;
  clear: both;
  height: 27px; }

.step_four .messageBox .common_button {
  background: #54B6DD;
  color: #FFF !important;
  padding: 2px 25px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 12px;
  float: right; }

#shoe_name_input {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #CECECE;
  text-indent: 6px;
  /*  text-transform: uppercase; */
  width: 170px;
  color: #7C7C7C;
  float: left;
  clear: both; }

.step_four .messageBox .save_share {
  color: #54B6DD;
  font-weight: bold;
  float: right;
  margin: 10px 10px 0 0;
  padding-right: 20px; }

.edit_last, .edit_first {
  overflow: hidden !important; }

.edit_last {
  display: none; }

.shoe_share_box {
  display: none; }

#save_share {
  float: right;
  margin: 15px 15px 0 0;
  padding-right: 15px;
  font-weight: bold;
  color: #4BA7CB;
  background: url("../img/icons/blue_arrow_right.png") right center no-repeat; }

.step_four .messageBox .create {
  position: relative;
  display: inline-block;
  width: 223px;
  height: 85px;
  margin: 0 2px;
  background: #F1F1F1;
  border-radius: 10px;
  -webkit-border-radius: 10px; }

.step_four .messageBox .create a {
  font-family: "gibsonregular";
  font-size: 19px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  overflow: hidden;
  right: 0;
  display: inline-block;
  width: 223px;
  height: 85px;
  position: absolute;
  z-index: 2;
  background: url("../img/design_main_links_bg.png") center center no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.step_four .messageBox .create a:hover {
  width: 257px;
  height: 135px;
  background: url("../img/design_main_links_bg_hover.png") center bottom no-repeat;
  padding-left: 34px; }

.step_four .messageBox .create a:before {
  content: "";
  display: block;
  background: url("../img/icons/create.png") center bottom no-repeat;
  width: 100%;
  height: 56px; }

.step_four .messageBox .social_links {
  clear: both;
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 16px 0; }

.step_four .messageBox .social {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 10px; }

#twitter {
  background: url("../img/icons/twitter_1.png") no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px; }

#fb {
  background: url("../img/icons/facebook_1.png") no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px; }

#pinterest {
  background: url("../img/icons/pinterest_1.png") no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px; }

#instagram {
  background: url("../img/icons/instagram_1.png") no-repeat;
  -webkit-background-size: 30px  30px;
  background-size: 30px  30px;
  display: none; }

.step_four {
  /* --- EASYDROPDOWN DEFAULT THEME --- */
  /* PREFIXED CSS */
  /*
  .dropdown,
  .dropdown div,
  .dropdown li,
  .dropdown div::after{
  	-webkit-transition: all 150ms ease-in-out;
  	-moz-transition: all 150ms ease-in-out;
  	-ms-transition: all 150ms ease-in-out;
  	transition: all 150ms ease-in-out;
  }
  */
  /* WRAPPER */
  /* CARAT */
  /* OLD SELECT (HIDDEN) */
  /* SELECTED FEEDBACK ITEM */
  /* DROP DOWN WRAPPER */
  /* Height is adjusted by JS on open */
  /* FADE OVERLAY FOR SCROLLING LISTS */
  /* DROP DOWN LIST */
  /* DROP DOWN LIST ITEMS */
  /* .focus class is also added on hover */ }
  .step_four .dropdown .selected::after,
  .step_four .dropdown.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none; }
  .step_four .dropdown {
    position: relative;
    width: 160px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .step_four .dropdown.open {
    z-index: 2; }
  .step_four .dropdown .carat {
    display: none; }
  .step_four .dropdown .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
  .step_four .dropdown select {
    position: absolute;
    left: 0px;
    top: 0px; }
  .step_four .dropdown.touch .old {
    width: 100%;
    height: 100%; }
  .step_four .dropdown.touch select {
    width: 100%;
    height: 100%;
    opacity: 0; }
  .step_four .dropdown .selected,
  .step_four .dropdown li {
    display: block;
    padding: 4px; }
  .step_four .dropdown.disabled .selected {
    color: #999; }
  .step_four .dropdown div {
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    opacity: 0; }
  .step_four .dropdown.open div {
    opacity: 1;
    z-index: 2; }
  .step_four .dropdown.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    -webkit-box-shadow: inset 0 -50px 30px -35px #fff;
    box-shadow: inset 0 -50px 30px -35px #fff; }
  .step_four .dropdown.scrollable.bottom div::after {
    opacity: 0; }
  .step_four .dropdown ul {
    position: absolute;
    left: 0;
    top: -16px;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden; }
  .step_four .dropdown.scrollable.open ul {
    overflow-y: auto; }
  .step_four .dropdown li {
    list-style: none; }
  .step_four .dropdown li.focus {
    background: #d24a67;
    position: relative;
    z-index: 3;
    color: #fff; }
  .step_four .dropdown li.active {
    font-weight: 700; }
  .step_four .dk_container {
    background-color: #f5f5f5;
    font-size: 12px;
    margin-bottom: 4px;
    /*18px */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .step_four .dk_container:focus {
      outline: 0; }
    .step_four .dk_container a {
      cursor: pointer;
      text-decoration: none; }

.dk_toggle {
  /*border: 1px solid #ccc;*/
  color: #333;
  padding: 7px 45px 7px 10px;
  text-shadow: #fff 1px 1px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color .5s;
  transition: border-color .5s;
  position: relative;
  /* &:after{
     position: absolute;
     top: 45%;
     right: 10px;
     content: '';
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 5px solid #4B4B4B;
   }*/ }
  .dk_toggle:hover, .dk_toggle:focus {
    border-color: #8c8c8c; }

.dk_focus .dk_toggle {
  border-color: #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2; }

.dk_open {
  /* box-shadow: 0 0 5px #40b5e2;
   -moz-box-shadow: 0 0 5px #40b5e2;
   -webkit-box-shadow: 0 0 5px #40b5e2;*/
  z-index: 10; }
  .dk_open .dk_toggle {
    /*  background-color: #ececec;
      border-color: #8c8c8c;
      color: #ccc;
      box-shadow: inset 0 -2px 5px #ccc;
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0; */ }

.dk_open_top .dk_toggle {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; }
.dk_open_top .dk_options, .dk_open_top .dk_options_inner {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0; }

.dk_options {
  background: #fefefe;
  /*  box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;*/
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; }
  .dk_options a {
    /*    background-color: #fff;
        border-bottom: 1px solid #999;
        font-weight: bold;
        padding: 8px 10px;*/ }
  .dk_options a:hover, .dk_options:focus,
  .dk_options .dk_option_current a {
    /*  background-color: #0084c7;
      border-bottom-color: #004c72;
      color: #fff;
      text-decoration: none;
      text-shadow: rgba(0, 0, 0, .5) 0 1px 0;*/ }
  .dk_options li:last-child a {
    border-bottom: none; }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a
    .dk_options .disabled:focus, .dk_options .disabled:focus a {
      cursor: default;
      /*      background-color: #fff;
            border-bottom-color: #999;*/
      text-shadow: none; }

.dk_options_inner {
  max-height: 250px;
  /*  border: 1px solid #8c8c8e;
    border-bottom-width: 2px;
    border-bottom-color: #999;
    color: #333;
    text-shadow: #fff 0 1px 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;*/ }

.dk_container {
  display: none;
  float: left; }
  .dk_container a {
    outline: 0; }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; }
  .dk_open .dk_label {
    color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden; }

.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

/*# sourceMappingURL=layout.css.map */







#shippingDetails .form-overlay{
    background: #f1f0ee;
    opacity: 0.4; 
    z-index:100000; 
    width:231px; 
    position: absolute;
}
/* line 4780, scss/_main.scss */
.button.continue{
    position: absolute;

    top: 315px;

    right: 0px;
}

body.cart .loginDetails{
    min-height: 343px;
    width: 231px;
    margin: 0 auto;
    z-index: 1000000;
    position: absolute;
    background: #FFF;
    padding: 10PX 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
   
}

body.cart .order .column .sameBillingAddr{
    background: url("../img/uncheckedBox.png") no-repeat scroll 1px 3px transparent;
    color: #3B3637;
    font-family: "gibsonitalic";
    font-size: 9px;
    height: 16px;
    padding-left: 14px;
    position: absolute;
    right: 4px;
    top: 11px;
}

body.cart .order .column .sameBillingAddr.checked{
    background:url("../img/checkedBox.png") no-repeat scroll 0 2px transparent;
}

body.cart .order .button {
  background: url('../img/cart_button_border.png?1373878415') center 2px no-repeat;
  width: 230px;
  height: 55px;
  text-align: center;
  line-height: 47px;
  display: inline-block;
  color: #3b3737;
  font-size: 16px;
  font-family: "gibsonregular";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2px;
}
body.cart .order .button:hover {
  background: url('../img/cart_button_border_hover.png?1373878415') center center no-repeat;
  width: 258px;
  height: 85px;
  padding-left: 28px;
}

body.cart .order.billing .dk_theme_black a span {
color: #BBBBBB !important;
}
body.cart .order.billing .dk_theme_ a span {
color: #BBBBBB !important;
}

body.cart .order .order_summary ul {
    border-bottom: 1px dotted #333333;
}

/* line 5306, scss/_main.scss */

body.cart .order .order_summary .amount {
    width: 63px;
    text-align: right;
    font-family: "gibsonregular";
    font-size: 11px;
    line-height: 20px;
    position: absolute;
    right: 0;
    letter-spacing: 0.07em;
}
body.cart .order .order_summary .amount:before {

  content: "$";

  float: left;

  font-size: 10px;

  line-height: 20px;

  font-family: "gibsonsemibold";

}

/* line 5323, scss/_main.scss */

body.cart .order .order_summary li {

  padding-right: 70px;

}

/* line 5326, scss/_main.scss */

body.cart .order .order_summary .total {

  border: 1px dotted #333333;

  border-right: 0;

  border-left: 0;

  padding: 8px 0 9px 15px;

  margin-bottom: 1px;

  margin-top: 11px;

}

/* line 5333, scss/_main.scss */

body.cart .order .order_summary .total .amount {

  font-family: "gibsonsemibold";

}

body.login input:invalid, body.login input.invalid_box {

  background: transparent url('../img/login_input_red.png?1373878413') center center no-repeat;

}
body.cart #dk_container_payment_method.invalid_box

 {

	 background: url("../img/billing_input_red.png?1373878425") no-repeat scroll center center rgba(0, 0, 0, 0);

 }
 
 body.cart .order.billing input:invalid, body.cart .order.billing input.invalid_box {

  background: transparent url('../img/billing_input_red.png?1373878425') center center no-repeat;

}
body.cart .order.billing input.card_cvv_code:invalid, body.cart .order.billing input.card_cvv_code.invalid_box {

  background: transparent url('../img/cvv_code_input_red.png?1373878416') center center no-repeat;

}
body.cart .order.billing .invalid_errors .invalid

{
    left: 0;

    line-height: 14px;

    position: absolute;

    top: auto;

	color: #ED5224;

    font-family: "gibsonregular";

    font-size: 10px;

}
body.cart .order .column {

  width: 231px;

  display: inline-block;

  margin-left: 107px;

  vertical-align: top;

  position: relative;

  float: left;

}
body.cart .order ul li {

  padding-left: 16px;

  font-size: 10px;

  line-height: 20px;

  padding-right: 70px;

  color: #3b3637;

  font-family: "gibsonitalic";

  position: relative;

  text-transform: uppercase;

  letter-spacing: 0.04em;

}

.links {

  position: relative;

  text-align: center;

}

/* line 4386, scss/_main.scss */

.links ul {

  margin: 0 -2px;

  padding: 0;

  list-style: none;

}

/* line 4390, scss/_main.scss */

.links ul li {

  position: relative;

  display: inline-block;

  width: 223px;

  height: 85px;

  margin: 0 2px;

}

/* line 4396, scss/_main.scss */

.links ul li a {

  font-family: "gibsonregular";

  font-size: 19px;

  line-height: 22px;

  color: #565656;

  text-align: center;

  overflow: hidden;

  right: 0;

  display: inline-block;

  width: 223px;

  height: 85px;

  position: absolute;

  z-index: 2;

  background: url('../img/design_main_links_bg.png?1373878425') center center no-repeat;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

/* line 4411, scss/_main.scss */

.links ul li a:before {

  content: "";

  display: block;

  background: url('../img/icons/main_links_inspire.png?1373878422') center center no-repeat;

  width: 100%;

  height: 56px;

}

/* line 4418, scss/_main.scss */

.links ul li a:hover {

  width: 257px;

  height: 135px;

  background: url('../img/design_main_links_bg_hover.png?1373878425') center bottom no-repeat;

  padding-left: 34px;

}

/* line 4427, scss/_main.scss */

.links ul li.return a:before {

  background: url('../img/icons/return_icon.png?1373878421') center 21px no-repeat;

}

/* line 4431, scss/_main.scss */

.links ul li.return a:hover:before {

  background: url('../img/icons/return_icon_hover.png?1373878424') center 21px no-repeat;

}

/* line 4439, scss/_main.scss */

.links ul li.save a:before {

  background: url('../img/icons/save.png?1373878422') center 13px no-repeat;

}

/* line 4443, scss/_main.scss */

.links ul li.save a:hover:before {

  background: url('../img/icons/save_hover.png?1373878421') center 13px no-repeat;

}

/* line 4451, scss/_main.scss */

.links ul li.purchase a:before {

  background: url('../img/icons/purchase.png?1373878424') center 16px no-repeat;

}

/* line 4458, scss/_main.scss */

.links ul li.inspiration a:before {

  background: url('../img/icons/inspiration.png?1373878424') center bottom no-repeat;

}

/* line 4462, scss/_main.scss */

.links ul li.inspiration a:hover:before {

  background: url('../img/icons/inspiration_hover.png?1373878422') center bottom no-repeat;

}

/* line 4470, scss/_main.scss */

.links ul li.homepage a:before {

  background: url('../img/icons/homepage.png?1373878421') center bottom no-repeat;

}

/* line 4474, scss/_main.scss */

.links ul li.homepage a:hover:before {

  background: url('../img/icons/homepage_hover.png?1373878421') center bottom no-repeat;

}

/* line 4482, scss/_main.scss */

.links ul li.create a:before {

  background: url('../img/icons/create.png?1373878422') center bottom no-repeat;

}
.action {

  top: 22px;

  color: #575354;

  font-size: 14px;

  line-height: 38px;

}

/* line 4495, scss/_main.scss */

.action strong {

  color: #565656;

}

/* line 4498, scss/_main.scss */

.action .save {

  background: url('../img/save_pattern.png?1373878416') center top no-repeat;

}

/* line 4501, scss/_main.scss */

.action .save_two {

  background: url('../img/save_two_pattern.png?1373878413') center top no-repeat;

}

/* line 4504, scss/_main.scss */

.action .inspiration {

  background: url('../img/inspiration_pattern.png?1373878412') center top no-repeat;

}

/* line 4507, scss/_main.scss */

.action .purchase {

  background: url('../img/purchase_pattern.png?1373878413') center top no-repeat;

}

/* line 4510, scss/_main.scss */

.action .homepage {

  background: url('../img/homepage_pattern.png?1373878415') center top no-repeat;

}

/* line 4513, scss/_main.scss */

.action .create {

  color: #4f4f4e;

/*  background: url('../img/create_pattern.png?1373878417') center top no-repeat;*/

}

/* line 4517, scss/_main.scss */

.action .select_one {

  background: url('../img/select_one_pattern.png?1373878416') center top no-repeat;

}

/* line 4520, scss/_main.scss */

.action .select_two {

  background: url('../img/select_two_pattern.png?1373878412') center top no-repeat;

}

/* line 4523, scss/_main.scss */

.action .return {

  background: url('../img/return_pattern.png?1373878415') center top no-repeat;

}

/* line 4526, scss/_main.scss */

.action .next_step {

  background: url('../img/patterned_rule_nextstep.png?1373878413') center top no-repeat;

}

body.cart footer {
display: none;
}

body.cart .order.billing form.sign_in input[type="submit"] {

  border: 0;

  padding-bottom: 5px;

  margin-top: 1px;

  margin-bottom: 1px;

  width: 230px;

  height: 50px;

  text-transform: none;

  letter-spacing: normal;

}

body.cart .order.billing form.sign_in input[type="submit"]:hover {

  padding-bottom: 35px;

  padding-left: 42px;

  margin-left: -28px;

  width: 258px;

  height: 80px;

}
body.cart .order.billing .invalid_errors .invalid

{

	bottom: 0;

    left: 0;

    line-height: 14px;

    position: absolute;

    top: auto;

	color: #ED5224;

    font-family: "gibsonregular";

    font-size: 10px;

}



body.cart .order.billing .invalid_errors .invalid span

{

	font-size: 16px;

    line-height: 15px;

    vertical-align: middle;

}



body.cart .order.billing .invalid_errors .invalid_uname

{

	margin-bottom: -22px;

}

body.cart .order.billing .invalid_errors .invalid_pword

{

	margin-bottom: -36px;

}

body.cart .order.billing .invalid_errors .invalid_required

{

	margin-bottom: -20px;

}
body.cart .order.billing .button {

  background: url('../img/cart_button_border.png?1373878415') center 2px no-repeat;

  width: 230px;

  height: 50px;

  text-align: center;

  line-height: 42px;

  display: inline-block;

  color: #3b3737;

  font-size: 16px;

  font-family: "gibsonregular";

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  padding-top: 2px;

}

/* line 5548, scss/_main.scss */

body.cart .order.billing .button:hover {

  background: url('../img/cart_button_border_hover.png?1373878415') center center no-repeat;

  width: 258px;

  height: 80px;

  padding-left: 28px;

  margin-left: -28px;

}



body.cart .order.billing .fb_loginBtn

{

	background: url("../img/fb_loginBtn.png") no-repeat scroll 0 0 transparent;

    display: block;

    height: 45px; /*33px;*/

    margin-top: 4px;

    width: 230px;

}

.fbsignup

{

	background: url("../img/fbsignup.png") no-repeat scroll 0 0 transparent;

    display: block;

    height: 45px; /*33px;*/

    margin-top: 4px;

    width: 230px;

}



/* line 5555, scss/_main.scss */

body.cart .order.billing .button.edit {

  position: absolute;

  top: 237px;

  right: 0px;

}

/* line 5559, scss/_main.scss */

body.cart .order.billing .button.edit:hover {

  color: #ed5224;

}

/* line 5563, scss/_main.scss */

body.cart .order.billing .button.blue {

  background: url('../img/login_button_blue.png?1373878425') center 2px no-repeat;

  color: white;

}

/* line 5566, scss/_main.scss */

body.cart .order.billing .button.blue:hover {

  color: #21a0c2;

  background: url('../img/cart_button_border_hover.png?1373878425') center center no-repeat;
height: 100px;
}

/* line 5571, scss/_main.scss */

body.cart .order.billing .button.grey {

  background: url('../img/login_button_grey.png?1373878413') center 2px no-repeat;

  color: white;

}

/* line 5574, scss/_main.scss */

body.cart .order.billing .button.grey:hover {

  color: #608f02;

  background: url('../img/cart_button_border_hover.png?1373878415') center center no-repeat;

}

body.login #login_button_wrap {
    height: 150px;
    padding-top: 50px;
}
body.login #login_button_wrap .grey{
    display:block;
    cursor:pointer;
}
body.login #login_button_wrap .grey:hover{
    margin: -2px auto 5px !important;
}
body.login #login_button_wrap .blue{
    display:block;
    cursor:pointer;
}
body.login #login_button_wrap .blue:hover{
    margin: -2px auto 5px !important;
}
body.login #login_button_wrap .fbsignup{
    margin: 4px 0 10px 0;display:inline-block;
}

body.cart .order.billing .greyBtnWrap

{

	height:50px;

} 
body.cart .order.billing .link {

  font-family: "gibsonitalic";

  font-size: 10px;

  line-height: 22px;

  color: #3b3637;

  padding-left: 15px;

  text-transform: uppercase;

  display: block;

  text-align: left;

}

/* line 5348, scss/_main.scss */

body.cart .order.billing .link.blue {

  color: #209ec0;

  padding-left: 16px;

  letter-spacing: 0.1em;

}

/* line 5354, scss/_main.scss */

body.cart .order.billing p {

  font-family: "gibsonsemibold";

  font-size: 12px;

  line-height: 22px;

  color: #3b3637;

  text-align: center;

  text-transform: uppercase;

  margin: 5px 0 11px;

  letter-spacing: 0.1em;

}

/* line 5364, scss/_main.scss */

body.cart .order.billing span.grey {

  background: url('../img/login_button_grey.png?1373878413') center 2px no-repeat;

  width: 230px;

  height: 55px;

  text-align: center;

  line-height: 42px;

  display: inline-block;

  color: white;

  font-size: 16px;

  font-family: "gibsonregular";

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  padding-top: 2px;

}
body.login .main .loginBoxWrap .forget_pword

{

	position: absolute;

    right: -132px;

    top: 95px;
 
}
body.cart .order.billing h4.orTxt

{

	line-height: 16px;

    margin: 0;

    padding: 0 0 2px;

    text-align: center;

}

.control-back{
    height: 450px;
    position:fixed; 
    top:200px;
    width: 50px;
    background: url('../img/icons/arrows.png') no-repeat left center;
    margin-top: 135px;
} 