@CHARSET "UTF-8";

#steps {
	top: -25px;
}

#steps h4.head {
	position: absolute;
	top: 25px;
	width: 100%;
}

#step3 .slide_container{
	height: 360px;
}

.step1_main_slider, .step2_main_slider, .step3_main_slider,
	.step4_main_slider {
	visibility: hidden;
	position: relative;
}

.step0_main_slider {
	margin-top: 175px;
}

.btn-main {
	font-size: 15px;
	font-weight: bold;
}

.step1_main_slider img, .step2_main_slider img, .step3_main_slider img {
	height: 360px;
}

.step1_main_slider h3, .step2_main_slider h3 {
	margin: 0px 0px;
	position: absolute;
	bottom: 55px;
	text-align: center;
	width: 100%;
}

.step1_main_slider p, .step2_main_slider p {
	margin: 0px 0px;
	position: absolute;
	top: 305px;
	width: 100%;
	text-align: center;
}

.bx-controls-direction .disabled {
	opacity: 0.5;
}

.style-svg {
	position: absolute;
	z-index: 8;
	opacity: 0;
}

.design-visual {
	height: 290px;
}

.style-svg svg {
	width: 614px !important;
	height: 347px !important;
}

.visualImgWrap img {
	position: absolute;
}

.material-select .nav>li>a {
	padding: 10px 10px !important;
}

.material-select.nav-tabs-custom>.nav-tabs>li {
	margin-right: 0px !important;
}

.partner-modal .bx-controls-direction a.bx-prev {
	left: -43%;
	position: relative;
}

.partner-modal  .bx-controls-direction a.bx-next {
	left: 43%;
	position: relative;
}

.partner-modal .bx-controls-direction {
	margin-top: -33%;
}

.leather-colors, .stitching-colors, .lacing-colors {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 156px;
	margin-top: 0px;
	padding-top: 0px;
}

.stitching-color .select-color, .lacing-color .select-color {
	height: 61px;
}

.leather-colors .colors {
	clear: both;
	float: left;
	width: 100%;
	margin: 0px 0px;
	display: none;
}

.stitching-colors .colors .select-color, .lacing-colors .colors .select-color
	{
	border-bottom: 5px solid white;
}

.stitching-colors .colors .selected, .lacing-colors .colors .selected {
	border-bottom: 5px solid rgb(60, 141, 188);
}

.leather-colors .colors img.select-color {
	border-bottom: 5px solid white;
}

.leather-colors .colors img.selected {
	border-bottom: 5px solid rgb(60, 141, 188);
}

.leather-colors .colors div, .stitching-color .colors>div, .lacing-color .colors>div
	{
	margin: 0px;
	padding: 5px;
}

.stitch-lace-color span.preview, .leather-colors span.preview {
	display: none;
	position: absolute;
	width: 148px;
	height: auto;
	z-index: 100;
	background: white;
	border: 1px solid #EFEFEF;
	padding: 3px;
	border-radius: 3px;
}

.stitch-lace-color span.preview div.preview-color, .leather-colors span.preview img
	{
	width: 140px;
	height: 120px;
}

.stitch-lace-color span.preview span, .leather-colors span.preview span
	{
	font-size: 12px;
}

.leather-colors .colors span.preview img {
	border-bottom: 0px !important;
}

.cart-items .dl-horizontal dt {
	width: 75px;
}

.cart-items .dl-horizontal dd {
	margin-left: 80px;
}

.cart-items .shoe img {
	position: absolute;
}

.cart-items .shoe {
	height: 150px;
}

.partner-modal #step4 .bx-controls-direction {
	margin-top: -25%;
}

#order-form label {
	font-weight: normal !important;
}

#order-form span.error {
	color: red;
}

.monogram.monogram_A4 {
	top: 150px;
	right: 75px;
	float: right;
}

.monogram {
	position: relative;
	z-index: 8;
	width: 88px;
	height: 20px;
}

.mono-image div {
	display: inline-block;
	width: 21px;
}

.monogram-text {
	text-transform: uppercase;
}

body>.header .logo {
	text-align: left;
	font-size:18px;
}

body>.header .logo img {
	height: 46px;
}

.create-shoe, .select-shop-shoe {
	display: none;
}