/* normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================

   HTML5 display definitions

   ========================================================================== */

/**

 * Correct `block` display not defined in IE 8/9.

 */

/* line 22, scss/_normalize.scss */

article,

aside,

details,

figcaption,

figure,

footer,

header,

hgroup,

main,

nav,

section,

summary {

  display: block;

}



/**

 * Correct `inline-block` display not defined in IE 8/9.

 */

/* line 32, scss/_normalize.scss */

audio,

canvas,

video {

  display: inline-block;

}



/**

 * Prevent modern browsers from displaying `audio` without controls.

 * Remove excess height in iOS 5 devices.

 */

/* line 41, scss/_normalize.scss */

audio:not([controls]) {

  display: none;

  height: 0;

}



/**

 * Address styling not present in IE 8/9.

 */

/* line 50, scss/_normalize.scss */

[hidden] {

  display: none;

}



/* ==========================================================================

   Base

   ========================================================================== */

/**

 * 1. Set default font family to sans-serif.

 * 2. Prevent iOS text size adjust after orientation change, without disabling

 *    user zoom.

 */

 *{text-shadow: 0 0 0 transparent;}

/* line 64, scss/_normalize.scss */

html {

  font-family: sans-serif;

  /* 1 */

  -ms-text-size-adjust: 100%;

  /* 2 */

  -webkit-text-size-adjust: 100%;

  /* 2 */

}



/**

 * Remove default margin.

 */

/* line 74, scss/_normalize.scss */

body {

  margin: 0;
}



/* ==========================================================================

   Links

   ========================================================================== */

/**

 * Address `outline` inconsistency between Chrome and other browsers.

 */

/* line 86, scss/_normalize.scss */

a:focus {

 /* outline: thin dotted;*/

 outline: 0;

}



/**

 * Improve readability when focused and also mouse hovered in all browsers.

 */

/* line 95, scss/_normalize.scss */

a:active,

a:hover {

  outline: 0;

}



/* ==========================================================================

   Typography

   ========================================================================== */

/**

 * Address variable `h1` font-size and margin within `section` and `article`

 * contexts in Firefox 4+, Safari 5, and Chrome.

 */

/* line 108, scss/_normalize.scss */

h1 {

  font-size: 2em;

  margin: 0.67em 0;

}



/**

 * Address styling not present in IE 8/9, Safari 5, and Chrome.

 */

/* line 117, scss/_normalize.scss */

abbr[title] {

  border-bottom: 1px dotted;

}



/**

 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.

 */

/* line 126, scss/_normalize.scss */

b,

strong {

  font-weight: bold;

}



/**

 * Address styling not present in Safari 5 and Chrome.

 */

/* line 134, scss/_normalize.scss */

dfn {

  font-style: italic;

}



/**

 * Address differences between Firefox and other browsers.

 */

/* line 142, scss/_normalize.scss */

hr {

  -moz-box-sizing: content-box;

  box-sizing: content-box;

  height: 0;

}



/**

 * Address styling not present in IE 8/9.

 */

/* line 152, scss/_normalize.scss */

mark {

  background: #ff0;

  color: #000;

}



/**

 * Correct font family set oddly in Safari 5 and Chrome.

 */

/* line 164, scss/_normalize.scss */

code,

kbd,

pre,

samp {

  font-family: monospace, serif;

  font-size: 1em;

}



/**

 * Improve readability of pre-formatted text in all browsers.

 */

/* line 173, scss/_normalize.scss */

pre {

  white-space: pre-wrap;

}



/**

 * Set consistent quote types.

 */

/* line 181, scss/_normalize.scss */

q {

  quotes: "\201C" "\201D" "\2018" "\2019";

}



/**

 * Address inconsistent and variable font size in all browsers.

 */

/* line 189, scss/_normalize.scss */

small {

  font-size: 80%;

}



/**

 * Prevent `sub` and `sup` affecting `line-height` in all browsers.

 */

/* line 198, scss/_normalize.scss */

sub,

sup {

  font-size: 75%;

  line-height: 0;

  position: relative;

  vertical-align: baseline;

}



/* line 205, scss/_normalize.scss */

sup {

  top: -0.5em;

}



/* line 209, scss/_normalize.scss */

sub {

  bottom: -0.25em;

}



/* ==========================================================================

   Embedded content

   ========================================================================== */

/**

 * Remove border when inside `a` element in IE 8/9.

 */

/* line 221, scss/_normalize.scss */

img {

  border: 0;

}



/**

 * Correct overflow displayed oddly in IE 9.

 */

/* line 229, scss/_normalize.scss */

svg:not(:root) {

  overflow: hidden;

}



/* ==========================================================================

   Figures

   ========================================================================== */

/**

 * Address margin not present in IE 8/9 and Safari 5.

 */

/* line 241, scss/_normalize.scss */

figure {

  margin: 0;

}



/* ==========================================================================

   Forms

   ========================================================================== */

/**

 * Define consistent border, margin, and padding.

 */

/* line 253, scss/_normalize.scss */

fieldset {

  border: 1px solid #c0c0c0;

  margin: 0 2px;

  padding: 0.35em 0.625em 0.75em;

}



/**

 * 1. Correct `color` not being inherited in IE 8/9.

 * 2. Remove padding so people aren't caught out if they zero out fieldsets.

 */

/* line 264, scss/_normalize.scss */

legend {

  border: 0;

  /* 1 */

  padding: 0;

  /* 2 */

}



/**

 * 1. Correct font family not being inherited in all browsers.

 * 2. Correct font size not being inherited in all browsers.

 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.

 */

/* line 278, scss/_normalize.scss */

button,

input,

select,

textarea {

  font-family: inherit;

  /* 1 */

  font-size: 100%;

  /* 2 */

  margin: 0;

  /* 3 */

}



/**

 * Address Firefox 4+ setting `line-height` on `input` using `!important` in

 * the UA stylesheet.

 */

/* line 290, scss/_normalize.scss */

button,

input {

  line-height: normal;

}



/**

 * Address inconsistent `text-transform` inheritance for `button` and `select`.

 * All other form control elements do not inherit `text-transform` values.

 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.

 * Correct `select` style inheritance in Firefox 4+ and Opera.

 */

/* line 302, scss/_normalize.scss */

button,

select {

  text-transform: none;

}



/**

 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`

 *    and `video` controls.

 * 2. Correct inability to style clickable `input` types in iOS.

 * 3. Improve usability and consistency of cursor style between image-type

 *    `input` and others.

 */

/* line 317, scss/_normalize.scss */

button,

html input[type="button"],

input[type="reset"],

input[type="submit"] {

  -webkit-appearance: button;

  /* 2 */

  cursor: pointer;

  /* 3 */

}



/**

 * Re-set default cursor for disabled elements.

 */

/* line 327, scss/_normalize.scss */

button[disabled],

html input[disabled] {

  cursor: default;

}



/**

 * 1. Address box sizing set to `content-box` in IE 8/9.

 * 2. Remove excess padding in IE 8/9.

 */

/* line 337, scss/_normalize.scss */

input[type="checkbox"],

input[type="radio"] {

  box-sizing: border-box;

  /* 1 */

  padding: 0;

  /* 2 */

}



/**

 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.

 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome

 *    (include `-moz` to future-proof).

 */

/* line 348, scss/_normalize.scss */

input[type="search"] {

  -webkit-appearance: textfield;

  /* 1 */

  -moz-box-sizing: content-box;

  -webkit-box-sizing: content-box;

  /* 2 */

  box-sizing: content-box;

}



/**

 * Remove inner padding and search cancel button in Safari 5 and Chrome

 * on OS X.

 */

/* line 361, scss/_normalize.scss */

input[type="search"]::-webkit-search-cancel-button,

input[type="search"]::-webkit-search-decoration {

  -webkit-appearance: none;

}



/**

 * Remove inner padding and border in Firefox 4+.

 */

/* line 370, scss/_normalize.scss */

button::-moz-focus-inner,

input::-moz-focus-inner {

  border: 0;

  padding: 0;

}



/**

 * 1. Remove default vertical scrollbar in IE 8/9.

 * 2. Improve readability and alignment in all browsers.

 */

/* line 380, scss/_normalize.scss */

textarea {

  overflow: auto;

  /* 1 */

  vertical-align: top;

  /* 2 */

}



/* ==========================================================================

   Tables

   ========================================================================== */

/**

 * Remove most spacing between table cells.

 */

/* line 393, scss/_normalize.scss */

table {

  border-collapse: collapse;

  border-spacing: 0;

}



@font-face {

  font-family: 'gibsonsemibold';

  src: url("../fonts/gibson-semibold-webfont.eot");

  src: url("../fonts/gibson-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-semibold-webfont.woff") format("woff"), url("../fonts/gibson-semibold-webfont.ttf") format("truetype"), url("../fonts/gibson-semibold-webfont.svg#gibsonsemibold") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonlight_italic';

  src: url("../fonts/gibson-lightitalic-webfont.eot");

  src: url("../fonts/gibson-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-lightitalic-webfont.woff") format("woff"), url("../fonts/gibson-lightitalic-webfont.ttf") format("truetype"), url("../fonts/gibson-lightitalic-webfont.svg#gibsonlight_italic") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonsemibold_italic';

  src: url("../fonts/gibson-semibolditalic-webfont.eot");

  src: url("../fonts/gibson-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-semibolditalic-webfont.woff") format("woff"), url("../fonts/gibson-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/gibson-semibolditalic-webfont.svg#gibsonsemibold_italic") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'tabac_g2bold';

  src: url("../fonts/tabac_bold_g2-webfont.eot");

  src: url("../fonts/tabac_bold_g2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tabac_bold_g2-webfont.woff") format("woff"), url("../fonts/tabac_bold_g2-webfont.ttf") format("truetype"), url("../fonts/tabac_bold_g2-webfont.svg#tabac_g2bold") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'tabac_g3regular';

  src: url("../fonts/tabac_regular_g3-webfont.eot");

  src: url("../fonts/tabac_regular_g3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tabac_regular_g3-webfont.woff") format("woff"), url("../fonts/tabac_regular_g3-webfont.ttf") format("truetype"), url("../fonts/tabac_regular_g3-webfont.svg#tabac_g3regular") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonregular';

  src: url("../fonts/gibson-regular-webfont.eot");

  src: url("../fonts/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-regular-webfont.woff") format("woff"), url("../fonts/gibson-regular-webfont.ttf") format("truetype"), url("../fonts/gibson-regular-webfont.svg#gibsonregular") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonitalic';

  src: url("../fonts/gibson-italic-webfont.eot");

  src: url("../fonts/gibson-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-italic-webfont.woff") format("woff"), url("../fonts/gibson-italic-webfont.ttf") format("truetype"), url("../fonts/gibson-italic-webfont.svg#gibsonitalic") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonlightitalic';

  src: url("../fonts/gibson-lightitalic-webfont.eot");

  src: url("../fonts/gibson-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-lightitalic-webfont.woff") format("woff"), url("../fonts/gibson-lightitalic-webfont.ttf") format("truetype"), url("../fonts/gibson-lightitalic-webfont.svg#lightitalic") format("svg");

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'gibsonlight';

  src: url("../fonts/gibson-light-webfont.eot");

  src: url("../fonts/gibson-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-light-webfont.woff") format("woff"), url("../fonts/gibson-light-webfont.ttf") format("truetype"), url("../fonts/gibson-light-webfont.svg#gibsonlight") format("svg");

  font-weight: normal;

  font-style: normal;

}
div{
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "gibsonregular", arial, sans-serif;
	color: #414141;
}
p{
	font-size: 20px;
	margin: 15px 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.full{
	width: 100%;
}
.grid{
	width: 960px;
	margin: 0 auto;
}
.boldtext{
	font-weight: bold;
	font-family: "gibsonsemibold", arial, sans-serif;	
	font-size: 21px;
}
#messsge_wrap {
	margin: 45px 0;
}
#validate {
	background: #00ADD3;
	color: #FFF;
	text-transform: uppercase;
	border: none;
	padding: 7px 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: none;
	font-weight: bold;
}
#header_wrapper{
	background: url('../img/logo_inline.png') center 40px repeat-x;
}
#header{
	height:200px;
}
#logo {
  text-align: center;
  position: absolute;
  margin: 0;
  top: 15px;
  left: 40%;
}
#logo a {
  text-indent: -9999px;
  background: url('../img/logo.png') center bottom no-repeat;
  width: 255px;
  height: 97px;
  display: inline-block;
  position: relative;
  z-index: 9999;
  margin-left: 9px;
  margin-top: 1px;
}
#banner_wrapper{
	background: url('../img/main_slider_border_top.png') 8px 0 repeat-x,url('../img/gallery/3.jpg') no-repeat;
	border-bottom: 10px solid #00ADD3;
}
#banner{
	height: 500px;
}
#banner h1{
	text-align: center;
	color: #FFF;
	font-size: 55px;
	width: 580px;
	display: block;
	margin: 175px auto 0 auto;

}
#content{
	padding: 70px 0;
}
#footer_wrapper{
	background: url('../img/foo_bg.png') repeat-x;
}
#footer{
	background: url('../img/foo_bg.png') repeat-x;
	height: auto;
	min-height: 100px;
	padding: 30px 0;
}
#copyright{
	text-align: center;
}

#order_list {
  width: 100%;
  margin-top: 30px;
}
#order_table td, #order_table th {
  border: 1px solid #000;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
}
#order_table tfoot tr td {
  border: none !important;
}
#order_table tfoot tr td:nth-child(2) {
  text-align: right;
}
#order_table tfoot td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.address {
  width: 100%;
}
.address td{
  font-size: 20px;
}
.address th{
  text-align: left;
  padding: 5px 0;
}
.address td{
  padding: 5px 0;
}