/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    body.home, body.home #links, body.home #main .wrapper, body.home #header .wrapper,body.accounts #header .wrapper {
        width: 1024px;
    }
    body.home #footer .wrapper{
        width: 960px;
    }
    body.home #main #links .hBoxLinks li  {
        width: 470px;
        margin-left: 24px;
    }
    body.home #footer section .row {
        width: 208px;
    }
    body.home #footer section .newsletter {
        width: 328px;
    }
    .controls {
        width: 1000px !important;
        margin-left: -500px !important; 
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    body #preloader {
        width: 738px !important;
        margin-left: -369px !important; }
    body .controls {
        width: 768px;
        margin-left: -384px; }
    body .wrapper {
        width: 768px !important;
        padding: 0 15px !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .camera_caption{
        width:100% !important;}
    .home #middle_container .wrapper {
        padding: 0 0 200px 0 !important; }
    .home #main {
        padding: 0 0 200px 0 !important; }
    .home #links {
        padding: 0 !important; }
    .home .hBoxLinks li {
        width: 350px !important;
        margin-left: 20px !important;}
    .home .hBoxLinks li a {
        width: 350px !important; }
    .contact #main {
        padding-bottom: 30px !important; }
    .inspiration #main:after, .accounts #secondary:after {
        width: 738px !important; }
    body.inspiration .inspirationInnerTop {
        margin: 0 !important;
        padding: 0 !important;
        width: 738px; }
    body.inspiration .inspirationInnerTop #inspiration_filter {
        z-index: 3 !important;
        float: none !important;
        margin-top: 20px !important;
        background-repeat: no-repeat !important;
        padding: 0 !important;
        width: 497px !important; }
    body.inspiration .inspirationInnerTop .inspirationLinks {
        float: none !important;
        margin: 20px auto !important;
        clear: both; }
    html.no-touch body.inspiration .inspirationInnerTop .inspirationLinks a:hover {
        content: ''; }
    body.inspiration #content .row .row_wrapper {
        width: 768px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px; }
    body.inspiration #content .row .row_wrapper .item {
        width: 224px; }
    body.inspiration #content .row .row_wrapper .item p .item-subtitle {
        border-left: none;
        text-indent: 4px; }
    body.inspiration #content .row .row_wrapper .item .author {
        line-height: 52px; }
    body.inspiration #content .row .row_wrapper .item .author img {
        margin-right: 5px; }
    body.inspiration #content .row .row_wrapper .item .item_row_bottom {
        height: 75px; }
    body.inspiration #toolbar.toolbarScroll{
        background-position: bottom center !important;
    }
    #header #toolbar .left {
        margin: 10px 0 0 10px; }
    #header #toolbar .right {
        margin-right: 0px; }
    #header #toolbar .right ul li {
        padding-left: 21px;
        margin-left: 10px; }
    #footer section .row {
        width: 240px !important; }
    #footer section .newsletter {
        width:325px !important;
        display: block;
        margin: 0 auto;
        float: none;
        clear: both;
        width: 100%; }
    #footer section .newsletter .keeptouchform {
        display: inline-block;
        float: left; }
    #footer section .newsletter ul {
        /*      float: right;*/
        float:none;
        margin:0 0 0 30px;
        display: inline-block;
        /*      margin: 22px 10px 0 0; }*/
    /* design steps */
    #stepMain {
        -webkit-background-size: 734px !important;
        background-size: 734px !important; }
    #stepMain ul {
        margin: 10px 0; }
    #stepMain ul li {
        width: 143px !important;
        height: 40px !important;
        line-height: 10px !important; }
    #stepMain ul li a {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        line-height: 40px !important;
        height: 40px !important; }
    #stepMain ul li a span {
        width: 145px !important;
        height: 40px !important; }
    #stepMain ul li a.active {
        padding: 0 !important;
        margin: 0 !important;
        position: relative !important;
        height: 40px !important;
        width: auto !important;
        background: #fff !important; }
    #stepMain ul li a.active:after {
        position: absolute;
        content: "";
        border: 10px solid red;
        bottom: -10px;
        left: 50%;
        border-left-color: transparent;
        border-top-color: white;
        border-bottom: 0;
        border-right-color: transparent;
        margin-left: -5px; }
    .basicStyleContainer {
        width: 768px !important;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .basicStyleContainer .basicStyleBox {
        margin: 0px 14px 0 0 !important; }
    .basicStyleContainer .basicStyleBox ul li {
        -webkit-background-size: 136px !important;
        background-size: 136px !important;
        width: 136px !important; }
    .basicStyleContainer .basicStyleBox ul li img.active {
        margin-top: -9px !important; }
    .basicStyleContainer .basicStyleBox.lastShapeBox {
        margin: 0 !important; }
    .designStep .popup_pattern_bar {
        background-position: right center !important; }
    .designStep .shape_popup {
        width: 740px !important; }
    .designStep .shape_popup .topSliderRight {
        width: 548px !important; }
    .designStep .shape_popup .topSliderRight .bx-wrapper ul li {
        width: 131px !important; }
    .designStep .shape_popup .topSliderRight .bx-wrapper ul li img {
        width: 125px;
        margin-top: 13px; }
    .designStep .colors_popup {
        width: 740px !important; }
    .designStep #shape_visualization {
        width: 680px !important;
        margin: 0 auto; }
    .designStep #shape_visualization .visualImgWrap {
        width: 680px; }
    .designStep #shape_visualization .visualImgWrap img {
        width: 680px;
        height: 383px; }
    .designStep #shape_visualization .visualImgWrap .monogram_A4 {
        right: 80px !important; }
    .designStep #shape_visualization .visualImgWrap .monogram_A0 {
        left: 135px !important; }
    .designStep #shape_visualization .visualImgWrap .monogram_A4, .designStep #shape_visualization .visualImgWrap .monogram_A0 {
        top: 170px !important; }
    .designStep #shape_visualization .visualImgWrap .monogram_A4 .monotext img, .designStep #shape_visualization .visualImgWrap .monogram_A0 .monotext img {
        width: 17px !important;
        height: 19px !important; }
    .designStep .colors_popup {
        right: 10px; }
    .step_one #shape_visualization {
        width: 582px !important; }
    .step_one #shape_visualization .visualImgWrap {
        width: 582px; }
    .step_one #shape_visualization .visualImgWrap img {
        width: 100% !important; }
    .step_one .choseShapeDetailRight {
        width: 158px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .step_one .choseShapeDetailRight #continue_btn {
        width: 128px !important; }
    .about .main .sidebar {
        width: 100%;
        margin: 15px 0; }
    .shopping_cart_mini {
        margin-right: -384px; }
    #stepMain .wrapper {
        padding: 0 !important;
        width: 738px !important; }
    /* progress bar styles */
    .step_one #stepMain .createNewNav .progressBar {
        width: 73px; }
    .step_two #stepMain .createNewNav .progressBar {
        width: 220px; }
    .step_three .createNewNav .progressBar {
        width: 368px; }
    .step_four .createNewNav .progressBar {
        width: 664px; }
    .step_five .createNewNav .progressBar {
        width: 516px; }
    body.step_three .top_slide_bg .topSliderRight {
        width: 515px !important; }
    .step_five .stepContent, .step_four .stepContent {
        padding: 0 !important;
        width: 738px !important; }
    .step_five .size_chartDetail, .step_four .size_chartDetail {
        padding: 50px 20px !important; } 
}
.createNewContainer #stepMain .createNewNav{
    margin: 5px 0 15px 0;
}
.createNewContainer #stepMain .createNewNav .progressBar {
    bottom: -25px;
}
.createNewContainer #stepMain .createNewNav li {
    width: inherit !important;
    height: 40px;
}
.createNewContainer #stepMain .createNewNav li a{
    background: none ;
    height: 40px !important;
    width: inherit !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.createNewContainer #stepMain .createNewNav li a.active{
    background: #fff;
    height: 40px;
}
.createNewContainer #stepMain .createNewNav li a.active:after{
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 0 0 -10px;
}
.createNewContainer #stepMain .createNewNav li a span{
    width: inherit !important;
    padding: 0 30px;
    height: 40px;
}
.basicStyleContainer {
    width: 738px;
}
.step_one #stepMain, .step_style #stepMain  {
    background-size: 738px auto;
}
.basicStyleBox.styles .shapeTypeList {
    width: 471px !important;
}
.basicStyleBox.styles .shapeTypeList li{
    margin: 5px;
    float: left;
}
.basicStyleBox .shapeTypeList {
    width: 608px !important;
}
.step_style .control{
    left: 20px;
}
.designStep .shape_popup {
    width: 738px;
}
.designStep .shape_visualization #vis_buttons {
    left: 50%;
    margin-left: -115px;
}
.designStep .shape_visualization .visualImgWrap img {
    width: 100% !important;
}
.designStep .colors_popup {
    width: 738px;
}
.popup_pattern_bar{
    background-position: right center !important;
}
.step_style #stepMain .createNewNav .progressBar {
    width: 80px;
}
.step_style .createNewNav .progressBar {
    width: 172px;
}
.step_two .createNewNav .progressBar {
    width: 330px;
}
.step_three .createNewNav .progressBar {
    width: 501px;
}
.step_five .createNewNav .progressBar {
    width: 634px;
}
.step_four .createNewNav .progressBar {
    width: 728px;
}
.designStep .stepContent {
    width: 738px !important;
    padding: 0 !important;
}
.step_one .shape_visualization, .step_style .shape_visualization {
    width: 554px;
}
.step_one .shape_visualization .visualImgWrap, .step_style .shape_visualization .visualImgWrap{
    width: 554px !important;
}
.step_one .shape_visualization .visualImgWrap img, .step_style .shape_visualization .visualImgWrap img{
    margin-top: 0;
}
.designStep .shape_visualization .visualImgWrap {
    width: 640px;
}
.designStep .top_slide_bg .topSliderRight {
    width: 570px;
}
.designStep .top_slide_bg .topSliderRight .bx-wrapper ul li {
    width: 138px !important;
}
body.step_three .top_slide_bg .topSliderRight {
    width: 518px !important;
}
#shape_visualization div.monogram_A0 {
    left: 120px !important;
    top: 140px !important;
}
#shape_visualization div.monogram_A4 {
    top: 140px !important;
    right: 75px !important;
    left: inherit !important;
}
.step_four .stepContent #button_right,
.step_four .stepContent #menu_left {
    width: 140px;
}
.step_four .stepContent #button_right li a,
.step_four .stepContent #menu_left li a {
    background-size: 135px 50px;
    -moz-background-size: 135px 50px;
    -ms-background-size: 135px 50px;
    -o-background-size: 135px 50px;
}
.size_chartDetail {
    padding: 50px 20px;
}
body.login .main {
    position: relative;
    top: 75px;
    left: inherit;
    margin: 0;
    text-align: center;
}
body.login .loginBoxWrap{
    width: 738px;
}
body.login .fb_loginBtn {
    display: inline-block;
}
body.login .cancel_sign{
    right: 0;
}
body.login .existing_ulogin .invalid_errors {
    left: 0;
    position: absolute;
    text-align: right;
    top: 39px;
    width: 245px;
    height: 100%;
}
body.login .main .loginBoxWrap .forget_pword {
    position: absolute;
    right: 0;
    top: 125px;
    width: 240px;
}
body.login .create_new .invalid_errors {
    height: 148px;
    position: absolute;
    right: 0;
    text-align: left;
    top: -4px;
    width: 240px;
}
.shopping_cart .shoe {
    width: 170px;
}
.shopping_cart .shoe_style {
    width: 160px;
}
.shopping_cart .sizes {
    width: 130px;
}
.shopping_cart .quantity {
    width: 90px;
}
body.cart .order .column {
    margin-left: 21px;
}
body.accounts #secondary .wrapper {
    padding: 0 !important;
    width: 738px !important;
}
body.accounts #links ul.top li {
    width: 243px
}
.page #account_content .action {
    top: 0;
    height: 90px;
}
.page #account_content .action .default {
    padding: 10px 0 10px;
}
#account_content .youHaveRight {
    padding-left: 95px;
}
.myaccLinks{
    height: 70px;
}
#account_content .youHaveRight ul li {
    /*margin: 6px 6px 2px;*/
    margin: 6px 28px 2px;
}
.checkOrderFormWrap{
    margin: 20px 0 0 30px !important;
}
.checkOrderFormWrap > p{
    float: left;
}
#account_content .check_order_submit {
    position: relative !important;
    top: -1px !important;
}
#account_content .checkOrderForm {
    float: left !important;
    margin: -5px 0 0 10px !important;
    position: static !important;
    background: none !important;
    left: inherit !important;
    top: inherit !important;
    clear: inherit !important;
    right: inherit !important;
}
#account_content form, #account_content .checkOrderForm {
    background: none;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -85.5px;
}
#account_content form input[type=submit], #account_content .check_order_submit {
    top: 2px;
    right: initial;
}
#main .wrapper{
 /*   width: 738px !important;*/
    padding:5px 0 !important;
}
body.accounts #content .row .row_wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body.accounts #content .row .row_wrapper .item{
    width: 224px;
}
.accSetting_slider .accSetting_sliderInner {
    padding: 35px 0 35px 0px;
}
.accSetting_slider .accSetting_sliderInner .account_credentials {
    width: 215px;
}
.accSetting_slider .accSetting_sliderInner .acc_cre {
    padding: 0 15px;
    width: 215px;
}
.accSetting_slider .accSetting_sliderInner .userInfo_line a {
    float: left;
    padding: 5px 0;
    margin: 0px 0 10px 0;
}
.edit_addr_wrap {
    width: 210px;
}
.accSetting_slider .accSetting_sliderInner .acc_cre .edit_addr {
    width: 210px;
    background-size: 210px;
    -moz-background-size: 210px;
    -ms-background-size: 210px;
    -o-background-size: 210px;
}
html.no-touch .accSetting_slider .accSetting_sliderInner .acc_cre .edit_addr:hover,
.accSetting_slider .accSetting_sliderInner .acc_cre .edit_addr.active {
    width: 210px;
    background-size: 237px auto;
}