/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2016, 3:36:00 PM
    Author     : ajith
*/


.icon-filtering div img{
    width:12px;
    height: 12px;
}
div.filter ul.filter-container ul.filter-container{
    padding: 0px 0px 10px 20px;
    border-top: none;
    display: none;
}
div.filter ul.filter-container li.filter-option-inner.active > p {
    text-decoration: underline;
    font-weight: bold;
}