/* 
    Created on : Mar 5, 2016, 4:58:03 PM
    Author     : Srutheesh
*/

/* 3/32016;*/
a.current-step {
    color: #DA090A !important;
    text-decoration: underline;
}

div#login_modal,div#signup_modal {
    width: 850px;
    height:550px;
    margin-left: 20%;
    border-color: #EA5213;
    box-shadow: 1px 1px 15px 1px #d9d9dd;
    border-radius: 8px;
    display:none;
    background-color: #fcfcfc;
    position: absolute;
    top: 54px;
    z-index: 12;
    background-color:#FCFCFC;
    color: #aaaaaa;
    opacity: .9;
    filter: alpha(opacity = 60);
}
div#login_modal .close-button{
    margin-top: -12%;  
}
div#signup_modal{
    height: 550px !important;
}
.modal-content {
    margin-left: 7%;
}
button.close {
    margin-left: 95%;
    margin-top: 3%;
}
div#signup_modal .close-button
{
    margin-top: -7%; 
}

.right {
    margin-bottom: 4%;
}
.close-button {
    margin-left: 96%;
    margin-top: -4%;
    display: inline-block;
    position: relative;
    border: none;

    font: normal 4em/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
}
.close-button :hover
{
    border-color: #FCFCFC;
    background:#FCFCFC !important;
    color: #1B1818 !important;
}
.modal-header {
    margin-top: 20px;
}
.overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 221, 0);
}
.reg_form_inner label,.signin_content,.signin-form-inner label,.agree p{
    color:black;
}



