/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

#features {
  max-width:none;
}

.row.featurette {
  padding: 0 80px;
  margin-right:0px;
  margin-left:0px;
}

.row.featurette:nth-child(even){
  background:#e6f1fa;
  padding-bottom:50px;
}

.isStuck{
    left:0px;
    width:100%;
}

.carousel-caption {
	padding-bottom:0px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:20px;
  position: relative;
  z-index: 15;

}

.navbar.navbar-inverse.navbar-static-top {
  background: #5cb85c;
  border-color: #398439;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#fff;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#0A64A4;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#398439;
  font-weight:700;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#398439;
  color:#fff;
  font-weight:700;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*
  margin-bottom: 60px;

  margin-top: -90px;

  Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  display:block;
  min-height: 460px;
  background-color: #0A64A4;
}
.carousel-caption img{
	position:relative;
	height:130px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 992px){
  .navbar.navbar-inverse.navbar-static-top a{
    font-size: .8em;
  }



}

@media (max-width: 768px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: #398439;
    }

  .navbar-inverse .navbar-toggle {
    border:2px solid #398439;
  }

    .navbar-inverse .navbar-toggle:hover {
      border:2px solid #398439;
      background: #398439;
    }

    .navbar-inverse .navbar-toggle:active {
      border:2px solid #398439;
      background: #398439;
    }
    .navbar-inverse .navbar-toggle:focus {
      border:2px solid #398439;
      background: #398439;
    }


  .navbar {
    border-radius: 6px;
  }
    .navbar.navbar-inverse.navbar-static-top a{
    font-size: 1.5em;
  }
    .carousel-caption {
    left: 5% !important;
    right: 5% !important;
  }
  .row.featurette {
    padding-top:20% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  #contents p {
    text-align:justify;
    text-justify:inter-word;
  }

  xmp {
    font-size: .9em;
    margin-left:-8%;
  }

}

@media (max-width: 600px) {
    xmp {
    font-size: .65em;
    margin-left:-20%;
  }

}

@media (min-width: 768px) {


  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {

  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

} 

