/* 
    Document   : common
    Created on : 4 Jul, 2014, 1:21:42 PM
    Author     : ajith
    Description:
        Purpose of the stylesheet follows.
*/
.`lk-actions.align-left>select {
    padding: 3px 5px;
}

.bulk-actions.align-left>input[type="text"], .bulk-actions.align-left>select
{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    padding: 5px;
}

.bulk-actions.align-left>input[type="text"]:focus, .bulk-actions.align-left>select:focus
{
    border-color: blue;
}

#logo {
    background-color: #fff;
    width: 217px;
}

#orders {
    padding: 15px 5px;
    background-color: #FFFFFF;
    border-color: #BEB4B4;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.order-items {
    display: none;
}
.order_images img{
    max-height: 300px;
}
.order-items.active {
    display: block ! important;
}

#tab {
    border-bottom: 1px solid #BEB4B4;
    padding: 10px 0px 0px 20px;
}

#tab span {
    display: inline-block;
    border-color: #BEB4B4;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 20px;
    position: relative;
    top: 1px;
    margin: 0px 2px;
}

#tab span.active {
    border-width: 1px;
    z-index: 100;
    font-weight: bold;
    background-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

#tab span a {
    color: #555;
}

#dashboard {
    width: 100%;
}

#dashboard .items {
    width: 15%;
    float: left;
}

#dashboard .month {
    width: 8%;
    float: left;
}

#dashboard .data {
    float: left;
    width: 85%;
}

#dashboard .loss {
    color: red;
}

#dashboard .yearly {
    width: 50%;
}
/*  admin new design approval page inspirationReview.php*/
.shoe-design-new {
    width: 200px;
    height: 130px;
    float: right;
    vertical-align: middle;
    margin-right: 20%;
}

tr td table.same-background tbody tr.alt-row {
    background: inherit !important;
}

tr.alt-row td table.same-background tbody tr {
    background: inherit !important;
}

#content{
    padding: 10px !important;
}

#promocodes a{
    cursor: pointer;
}
#promocode_users,
#promocode_usage
{
    width: 100% !important;
}
.promocode-modal{
    position: absolute !important;
    overflow: visible;
}

.adduser{
    margin: 30px;
    padding: 20px;
    text-align: center;
    background: #FFFFFF;
}

.adduser h3 {
    margin-bottom: 30px;
}

.registrationForm label {
    display: inline-block;
    width: 160px;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    line-height: 32px;
    color:black;
}

.registrationForm input[type="text"], .registrationForm input[type="email"],
.registrationForm input[type="password"] {
    padding: 7px 20px;
    min-width: 60%;
    border: 1px solid #E7DBDB;
}

.registrationForm select{
    padding: 7px 20px;
    min-width: 60%;
    border: 1px solid #E7DBDB;
}


#btnAddUser {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid #E7DBDB;
    padding: 7px 20px;
    color: black;
    background: white;
}