@font-face {
    font-family: 'gibsonsemibold';
    src: url('../fonts/gibson-semibold-webfont.eot');
    src: url('../fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-semibold-webfont.woff') format('woff'),
         url('../fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('../fonts/gibson-semibold-webfont.svg#gibsonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonlight_italic';
    src: url('../fonts/gibson-lightitalic-webfont.eot');
    src: url('../fonts/gibson-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-lightitalic-webfont.woff') format('woff'),
         url('../fonts/gibson-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-lightitalic-webfont.svg#gibsonlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonsemibold_italic';
    src: url('../fonts/gibson-semibolditalic-webfont.eot');
    src: url('../fonts/gibson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/gibson-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-semibolditalic-webfont.svg#gibsonsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tabac_g2bold';
    src: url('../fonts/tabac_bold_g2-webfont.eot');
    src: url('../fonts/tabac_bold_g2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tabac_bold_g2-webfont.woff') format('woff'),
         url('../fonts/tabac_bold_g2-webfont.ttf') format('truetype'),
         url('../fonts/tabac_bold_g2-webfont.svg#tabac_g2bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tabac_g3regular';
    src: url('../fonts/tabac_regular_g3-webfont.eot');
    src: url('../fonts/tabac_regular_g3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tabac_regular_g3-webfont.woff') format('woff'),
         url('../fonts/tabac_regular_g3-webfont.ttf') format('truetype'),
         url('../fonts/tabac_regular_g3-webfont.svg#tabac_g3regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonregular';
    src: url('../fonts/gibson-regular-webfont.eot');
    src: url('../fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-regular-webfont.woff') format('woff'),
         url('../fonts/gibson-regular-webfont.ttf') format('truetype'),
         url('../fonts/gibson-regular-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonitalic';
    src: url('../fonts/gibson-italic-webfont.eot');
    src: url('../fonts/gibson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-italic-webfont.woff') format('woff'),
         url('../fonts/gibson-italic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-italic-webfont.svg#gibsonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonlightitalic';
    src: url('../fonts/gibson-lightitalic-webfont.eot');
    src: url('../fonts/gibson-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-lightitalic-webfont.woff') format('woff'),
         url('../fonts/gibson-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-lightitalic-webfont.svg#lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gibsonlight';
    src: url('../fonts/gibson-light-webfont.eot');
    src: url('../fonts/gibson-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-light-webfont.woff') format('woff'),
         url('../fonts/gibson-light-webfont.ttf') format('truetype'),
         url('../fonts/gibson-light-webfont.svg#gibsonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}