@media all and (max-width:1300px) {
	#content {
		.row {
			.row_wrapper {
				.item{
					margin: 0 5px;
				}
			}
		}
	}
}

@media all and (min-height:600px) {
	body.login {
		.main {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -176.5px 0 0 -512px;
		}
	}
}

@media all and (min-width:1300px) {
	#content {
		.row {
			.row_wrapper {
				width: 1241px;
				.item{
					&:nth-child(2n+1){
						margin: 0 4px 0 4px;
					}				
				}
			}
		}
	}
	.inspiration {
		#main {
			#account_content {
				&.wrapper {
					width: 1300px;
				}
				&:after {
					background-image: image-url("scrapbook_divider_1231.png")
				}
			}
		}
	}
	#secondary {
		&.scrapbook {
			&:before {
				width: 1300px;
				margin-left: -650px;
				background-image: image-url("scrapbook_divider_1231.png");
			}
		}
	}
}